# LAB1(GRADED)

Task 1

Write a Python program that prints "hello world" in a console.


**Sample Input**


**Sample Output**


hello world

In [ ]:
#task1
print('hello world!')

hello world!

Task 2


Write a Python program that prints the summation of 54 and 56. The program must use Python operators and numbers but not use any variables.


**Sample Input**

**Sample Output**


110

In [ ]:
#task2
print(54+56)

110

Task 3

Write a Python program that assigns the values "Fall" and 2022 to variables 'season' and 'year' respectively. Then, print the values of both variables in separate lines.

**Sample Input**

**Sample Output**

Fall

2022

In [ ]:
#task3
season = 'FALL'
year = 2022
print(season)
print(year)

FALL
2022

Task 4

Write a Python program that reads the user's name and prints it back as shown in the example below.


**Sample Input**

John

Albert

**Sample Output**

Your name is John

Your name is Albert

In [ ]:
#task4
name = input('Enter your name: ')
print(f'Your name is {name}')

Enter your name: John
Your name is John

Task 5

Write a Python program that reads two integers M and N respectively and finds the value of M^N (or MN) and prints the value as shown in the example.


**Sample Input**

2, 3

10, 3

Sample Output

2^3: 8

10^3: 1000

In [ ]:
#task5
m = int(input())
n = int(input())
print(f'{m}^{n}:{m**n}')

2
3
2^3:8

Task 6

A sailor has a boat known as TÃ©ssares Boat, which has four corners. The boat is capable of carrying goods of any weight as long as there is equal distribution of loads on each corner of the boat - the center area has been occupied by the engine. The sailor needs your help to know the maximum amount of weight he can carry in each shipment.
Write a Python program that reads the total weight of the shipment and prints the maximum load (or weight) the boat can take from the given shipment. We can assume that the weight of each good is exactly 1 unit, therefore, the weight of 5 units means there are 5 (loose) items in the shipment.


**Sample Input**

9

11

23


**Sample Output**

8

8

20

In [ ]:
#task6
m = int(input())
print(m-m%4)

11
8

Task 7

Write a Python program that reads 3 integers A, B, and C respectively, and then reads a floating point number D. After reading, the program should print the result (as int) using the given formula below.

**Formula110:**

`AC+B*A-D3`

**Sample Input**

2, 6, 8, 1.3

9, 100, 1, 3.7

88, 22, 1, 3.3

**Sample Output**


267

907


2022

In [ ]:
#task7
a = int(input())
b = int(input())
c = int(input())
d = float(input())
print(int((a**c)+(b*a)-d/3))

2
6
8
1.3
267

Task 8


Write a python program that takes an integer from the user which represents the number of chocolates that he/she has. He/She decided to distribute the chocolates equally among 3 friends, keeping the remaining chocolates for him/herself. Find out the number of chocolates each friend will receive and the number of chocolates that will be remaining.


**Sample Input 1:**

50

**Sample Output 1:**

Each friend will receive 16 chocolates

The number of remaining chocolates is 2

**Sample Input 2:**

90

**Sample Output 2:**

Each friend will receive 30 chocolates

The number of remaining chocolates is 0

In [ ]:
#task8
n = int(input())
print(f'Each friend will receive {50//3} chocolates')
print(f'The number of remaining chocolates is {50%3}')

50
Each friend will receive 16 chocolates
The number of remaining chocolates is 2

#LAB1(UNGRADED)

Task 9

Write a Python program that reads two values M and N from the user respectively and prints the result by joining (concatenating) them in a bottom-up approach as shown in the following example.

**Sample Input**

5, 2

Hello, World

Python, 3

**Sample Output**

25

WorldHello

3Python

In [ ]:
m = input()
n = input()
print(n+m)

5
2
25

Task 10

Write a Python program that reads a line from the user and prints the first character of the given input.

**Sample Input**

The quick brown fox jumps over the lazy dog

Python is an interpreted language

**Sample Output**


T

P

In [ ]:
m = input()
print(m[0])

The quick brown fox jumps over the lazy dog
T

Task 11

Write a Python program that reads an integer and prints "True" if the number is even, otherwise, "False".

**Sample Input**

7

0

-11

-26

**Sample Output**

False

True

False

True

In [ ]:
i = int(input())
if i%2 == 0:
  print(True)
else:
  print(False)

-26
True

#LAB2(GRADED)

Task 1

Write the Python code of a program that reads two numbers from the user, and prints their sum, product, and difference.

Hint: subtract the second number from the first one

**Example 1:**

**Sample Input:**

4

5

**Sample Output:**

Sum = 9

Product = 20

Difference = -1


**Example 2:**

**Sample Input:**

30

2

**Sample Output:**

Sum = 32

Product = 60

Difference = 28


For your explanation, the first question's code is done below. Try relating the block of code with the lessons you have learned and try to understand the significance of each line. You're most welcome to copy and paste the code on your IDE and play around with the code. This will strengthen your understanding.

In [ ]:
#task1
m = int(input())
n = int(input())
print(f'Sum = {m+n}')
print(f'Product = {m*n}')
print(f'Difference = {m-n}')

4
5
Sum = 9
Product = 20
Difference = -1

Task 2

Write the Python code of a program that reads the radius of a circle and prints its circumference and area.


hint(1): we may import math and then use math.pi for getting the value of pi.

For details, we can read from https://docs.python.org/3/library/math.html

hint(2): we can import math and use the math function for making squares with math.pow(number, power) or we can simply use the power operator. For example: S**2.


**Example 1:**

**Sample Input:**

4

**Sample Output:**

Area is 50.26548245743669

Circumference is 25.132741228718345


**Example 2:**

**Sample Input:**

3.5

**Sample Output:**

Area is 38.48451000647496

Circumference is 21.991148575128552

For your understanding, the first part of the question (area calculation) is done below. Please copy and paste the code to your solution .ipynb file and complete the rest of the code for circumference calculation.

In [ ]:
#task2
import math
r = int(input())
print(f'Area is {math.pi*(r**2)}')
print(f'Circumference is {2*math.pi*r}')

4
Area is 50.26548245743669
Circumference is 25.132741228718345

Task 3

Write the Python code of a program that reads two numbers from the user. The program should then print "First is greater" if the first number is greater, "Second is greater" if the second number is greater, and "The numbers are equal" otherwise.


**Sample Input 1:**

7

3

**Sample Output 1:**

First is greater


**Sample Input 2:**

-33

-3

**Sample Output 2:**

Second is greater


**Sample Input 3:**

11

11

**Sample Output 3:**

The numbers are equal

In [ ]:
#task3
m = int(input())
n = int(input())
if m>n :
  print('First is greater')
elif m<n :
  print('Second is greater')
else:
  print('The numbers are equal')

7
3
First is greater

Task 4

Write the Python code of a program that reads two numbers, subtracts the smaller number from the larger one, and prints the result.

Hint: First, we may check which number is greater


**Sample Input 1:**

-40

-4

**Sample Output 1:**

36

Explanation: -4 > -40 so -4 - (-40) = -4 + 40 = 36


**Sample Input 2:**

6

2

**Sample Output 2:**

4


**Sample Input 3:**

5

5

**Sample Output 3:**

0

In [ ]:
#task4
m = int(input())
n = int(input())
if m>n :
  print(m-n)
else:
  print(n-m)

-40
-4
36

Task 5

Write the Python code of a program that reads a number, and prints "The number is even" or "The number is odd", depending on whether the number is even or odd.

hint(1): we may use the modulus (%) operator to check for even or odd

hint(2): we can consider the number to be an integer


**Sample Input 1:**

7

**Sample Output 1:**

The number is odd


**Sample Input 2:**

10

**Sample Output 2:**

The number is even


**Sample Input 3:**

-44

*Sample Output 3:**

The number is even

In [ ]:
#task5
m = int(input())
if m%2 == 0:
  print('The number is Even')
else:
  print('The number is Odd')

7
The number is Odd

Task 6

Write the Python code of a program that reads an integer as input from the user, and prints the integer if it is a multiple of 2 OR 5 and prints "Not a multiple of 2 OR 5" otherwise.

For example, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22 â¦ i.e. this includes multiples of 2 only, multiples of 5 only and multiples of 2 and 5 both.


hint(1): we may use the modulus (%) operator for checking the divisibility

hint(2): we can consider the number to be an integer


**Sample Input 1:**

5

**Sample Output 1:**

5


**Sample Input 2:**

10

**Sample Output 2:**

10


**Sample Input 3:**

3

**Sample Output 3:**

Not a multiple of 2 OR 5

In [ ]:
#task6
n = int(input())
if n%2 == 0 or n%5 == 0 :
  print(n)
else:
  print('Not a multiple of 2 OR 5')

3
Not a multiple of 2 OR 5

Task 7

Write the Python code of a program that reads an integer, and prints the integer it is a multiple of either 2 or 5 but not both. If the number is a multiple of 2 and 5 both, then print "Multiple of 2 and 5 both". For all other numbers, the program prints "Not a multiple we want".

For example, 2, 4, 5, 6, 8, 12, 14, 15, 16, 18, 22 â¦ i.e. this includes multiples of 2 only and multiples of 5 only, NOT multiples of 2 and 5 both or other numbers. 


hint(1): we may use the modulus (%) operator for checking the divisibility

hint(2): we can consider the number to be an integer


**Sample Input 1:**

6

**Sample Output 1:**

6


**Sample Input 2:**

15

**Sample Output 2:**

15


**Sample Input 3:**

10

**Sample Output 3:**

Multiple of 2 and 5 both


**Sample Input 4:**

17

**Sample Output 4:**

Not a multiple we want

In [ ]:
#task7
m = int(input())
if m%2 == 0 and m%5 == 0:
  print('Multiple of 2 and 5 both')
elif m%2 == 0 or m%5 == 0:
  print(m)
else:
  print('Not a multiple we want')

10
Multiple of 2 and 5 both

Task 8

Write the Python code of a program that reads an integer, and prints the integer if it is a multiple of 2 AND 5 and prints "Not multiple of 2 and 5 both" otherwise.


For example, 10, 20, 30, 40, 50 â¦ i.e. this only includes numbers which are multiples of both 2 and 5. 


hint(1): we may use the modulus (%) operator for checking the divisibility

hint(2): we can consider the number to be an integer


**Sample Input 1:**

30

**Sample Output 1:**

30


**Sample Input 2:**

15

**Sample Output 2:**

Not multiple of 2 and 5 both


**Sample Input 3:**

6

**Sample Output 3:**

Not multiple of 2 and 5 both

In [ ]:
#task8
m = int(input())
if m%2 == 0 and m%5 == 0 :
  print(m)
else:
  print('Not multiple of 2 and 5 both')

15
Not multiple of 2 and 5 both

Task 9

Write the Python code of a program that finds the number of hours, minutes, and seconds in a given number of seconds. The number of seconds is taken as input from the user. 


hint(1): we may consider our user input to be an integer value and use // and % operators to solve the problem

hint(2): 1 hour = 60 mins = 3600 seconds and 1 min = 60 seconds


**Sample Input 1:**

10000

**Sample Output 1:**

Hours: 2 Minutes: 46 Seconds: 40

**Explanation:**

10000 seconds = 10000 // 3600 = 2 hours and 10000 % 3600 = 2800 seconds.
Then again, 2800 // 60 = 46 minutes and 2800 % 60 = 40 seconds.
And hence we have arrived at our answer.


**Sample Input 2:**

500

**Sample Output 2:**

Hours: 0 Minutes: 8 Seconds: 20

In [ ]:
#task9
n = int(input())
x = n//3600
y = (n%3600)//60
z = (n%3600)%60
print(f'Hours: {x} Minutes: {y} Seconds: {z}')

10000
Hours: 2 Minutes: 46 Seconds: 40

Task 10

Write a Python program to compute and display a personâs weekly salary as determined by the following conditions:
If the hours worked is less than or equal to 40, then the person receives Tk 200 per hour.
If the hours worked is greater than 40, then the person receives Tk 8000 plus Tk 300 for each hour worked over 40 hours.
The program should request the hours worked as an input from the user and display the salary as output. You need to make sure that user input is valid. For example, a person cannot work for -5 hours or more than 168 hours in a week. So, the valid hours range is 0 to 168. For invalid hours, print outputs as given in the samples below.

Hint: you can consider the hour (user input) to be an integer


**Sample Input 1:**

100

**Sample Output 1:**

26000

Explanation: Since, the number of hours worked is 100 > 40, therefore salary = 8000 + (100 - 40) * 300 = 26000.


**Sample Input 2:**

30

**Sample Output 2:**

6000

Explanation: Since, the number of hours worked is 30 < 40, therefore salary = 30 * 200 = 6000.


**Sample Input 3:**

-30

**Sample Output 3:**

Hour cannot be negative


**Sample Input 4:**

170

**Sample Output 4:**

Impossible to work more than 168 hours weekly

In [ ]:
#task10
n = int(input())
if n < 0 :
  print('Hours cannot be negative')
elif n > 168 :
  print('Impossible to work more than 168 hours weekly')
elif n <= 40:
  print(n*200)
else:
  print(((n-40)*300)+8000)

100
26000

Task 11

Suppose the following expressions are used to calculate the values of L for different values of S:

L = 3000-125S^(2) if S < 100

L = (12000)/(4+(S^(2))/(14900)) if S >= 100

Write the Python code of a program that reads a value of S and then calculates the value of L.


hint(1): you can import math and use math function for making squares with math.pow(number, power) or you can simply write S ** 2.

hint(2): the value of S(user input) will be an integer


**Sample Input 1:**

120

**Sample Output 1:**

2416.2162162162163

Explanation: Since S (user input) given here is 120 >= 100, so L = 12000 / (4 + (120 * 120)/14900) = 2416.2162162162163


**Sample Input 2:**

3

**Sample Output 2:**

1875

Explanation: Since S (user input) given here is 3 < 100, so L = 3000 - 125 * 3 * 3 = 1875

In [ ]:
#task11
s = int(input())
if s >= 100:
  print(12000/(4+((s**2)/14900)))
else:
  print(3000-(125*(s**2)))

120
2416.2162162162163

Task 12

Write a Python program that takes an hour from the user as input and tells it is time for which meal.

â¢ The user will input the number in a 24-hour format. So, 14 means 2 pm, 3 means 3 am, 18 means 6 pm, etc.

â¢ Valid inputs are 0 to 23. Inputs less than 0 or more than 23 are invalid in 24-hour clock.

â¢ Assume, input will be whole numbers. For example, 3.5 will NOT be given as input.


Input range: Message to be printed

4 to 6: Breakfast

12 to 13: Lunch

16 to 17: Snacks

19 to 20: Dinner

For all other valid inputs, say "Patience is a virtue"

For all other invalid inputs, say "Wrong time"


For example,

If the user enters 4, your program should print the message "Breakfast".

If the user enters 5, your program should print the message "Breakfast".

If the user enters 6, your program should print the message "Breakfast".

If the user enters 0, your program should print the message "Patience is a virtue".

If the user enters 1, your program should print the message "Patience is a virtue".

If the user enters 18, your program should print the message "Patience is a virtue".

If the user enters 23, your program should print the message "Patience is a virtue".

If the user enters 24, your program should print the message "Wrong Time".

If the user enters -1, your program should print the message "Wrong Time".

If the user enters 27, your program should print the message "Wrong time".


Hints: You can use nested conditionals (if-else) or chained conditions (if-elif-else) to solve this problem.

In [ ]:
#task12
hour = int(input("Enter the time: "))
if hour >=0 and hour <= 23 :
  if (hour >= 4 and hour <= 6) :
    print("Breakfast")
  elif (hour>= 12 and hour <= 13) :
    print("Lunch")
  elif (hour >= 16 and hour <= 17) :
    print("Snacks")
  elif (hour >= 19 and hour <= 20) :
    print("Dinner")
  else :
    print("Patience is a virtue")
else :
  print("Wrong time")

Enter the time: 13
Lunch

Task 13

Write the Python code of a program that reads a studentâs mark for a single subject, and prints out the corresponding grade for that mark. The mark ranges and corresponding grades are shown in the table below. You need to make sure that the mark is valid. For example, a student cannot receive -5 or 110 marks. So, the valid marks range from 0 to 100.

hint(1): you can consider the number to be an integer

hint(2): this problem can be solved in two ways: top-down (starts from A) and bottom-up (starts from F)

```
Marks                     Grade
_______________________________
90 or above               A
80-89                     B
70-79                     C
60-69                     D
50-59                     E
Below 50                  F

```

In [ ]:
#task13
marks = int(input("Enter the marks: "))
if (marks >= 0 and marks <= 100) :
  if (marks >= 90) :
    print("A")
  elif (marks >= 80 and marks <= 89) :
    print("B")
  elif (marks >= 70 and marks <= 79) :
    print("C")
  elif (marks >= 60 and marks <= 69) :
    print("D")
  elif (marks >= 50 and marks <= 59) :
    print("E")
  else :
    print("F")
else :
  print ("This number is invalid")

Enter the marks: 97
A

Task 14

Suppose, your friend is building an automated car called âBeslaâ. He needs to fix the programming of the car so that it runs at a proper speed. Now, write a python program that takes 2 inputs (distance in meters and time in seconds). The program should then print the velocity in kilometers per hour of that car. Also, it should print whether the car is working properly based on the following chart.


**Velocity**

Less than 60 km/h

Between 60 km/h to 90 km/h

Greater than 90 km/h


**Information to be printed**

Too slow. Needs more changes.

Velocity is okay. The car is ready!

Too fast. Only a few changes should suffice.


**Sample Input 1:**

160000

7200

**Sample Output 1:**

80.0 km/h

Velocity is okay. The car is ready!

Explanation: After the conversion of distance and time, the velocity is (160/2) km/h = 80 km/h. So the velocity is okay


**Sample Input 2:**

25400

3600

**Sample Output 2:**

25.4 km/h

Too slow. Needs more changes.

Explanation: After the conversion of distance and time, the velocity is (25.4/1) km/h = 25.4 km/h. So the speed is too slow.

In [ ]:
#task14
distance = int(input("Enter distance "))
time = int(input("Enter time "))
dis = (distance/1000)
tim = (time/3600)
velocity = (dis/tim)
slow = "Too slow.Needs more changes."
right = "Velocity is okay.The car is ready!"
fast = "Too fast.Only a few changes should suffice."
if (velocity < 60) :
  print ((str(velocity)+"km/h"),"\n",slow, sep='')
elif (velocity >= 60 and velocity <= 90) :
  print ((str(velocity)+"km/h"),"\n",right, sep='')
else :
  print ((str(velocity)+"km/h"),"\n",fast, sep='')

Task 15

Write a python program that takes the CGPA and no of credits completed by a student and prints whether the student is eligible for a waiver and of what percentage.

To be eligible for a waiver, a student must have completed at least 30 credits and earned a CGPA greater or equal to 3.8. If not, please print "The student is not eligible for a waiver".

```
CGPA                     Waiver percentage
__________________________________________
3.80 - 3.89              25 percent
3.90 - 3.94              50 percent
3.95 - 3.99              75 percent
4.00                     100 percent
```
**Sample Input 1:**

3.93

78

**Sample Output 1:**

The student is eligible for a waiver of 50 percent.

**Sample Input 2:**

3.79

24

**Sample Output 2:**

The student is not eligible for a waiver

In [ ]:
#task15
cg = float(input())
cr = int(input())
if cr > 30 and cg >= 3.80:
  if cg>= 3.80 and cg<= 3.89:
    print(f'The student is eligible for a waiver of 25 percent.')
  elif cg>= 3.90 and cg<= 3.94:
    print('The student is eligible for a waiver of 50 percent.')
  elif cg>= 3.95 and cg<= 3.99:
    print('The student is eligible for a waiver of 75 percent.')
  else:
    print('The student is eligible for a waiver of 100 percent.')
else:
  print('The student is not eligible for a waiver')

3.97
50
The student is eligible for a waiver of 75 percent.

# LAB2(TRACING)

In [ ]:
#Task16
p = 5
q = 6
r = 9
sum = 0
if (p < 12):
    print(r + 2)
else:
    print(r + p)
if (q > 20):
    print(r + 19)
elif (q <= 6):
    print(q + 3)
else:
    print(p + q + r)
if (r > 15):
    print(r)
elif (r == 0):
    print(p + q)
else:
    print(p)
if (sum != 0):
    print(3)
else:
    print(sum + 32)
if (p>0 and r<10):
    print(p+r)
else:
    print(p-r)

11
9
5
32
14

In [ ]:
#Task17
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
False
True
True
False
True
False
True
False
False

In [ ]:
#task18
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

In [ ]:
#task19
var1 = var2 = var3 = var4 = var5 = var6 = False 
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
True
True
True
True
True
False
True
True
False

#LAB2(UNGRADED)

Task 20

Write the Python code of a program that reads an integer, and prints the integer if it is a multiple of NEITHER 2 NOR 5.

For example, 1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39

hint(1): you may use the modulus (%) operator for checking the divisibility

hint(2): you can consider the number to be an integer


**Sample Input 1:**

3

**Sample Output 1:**

3


**Sample Input 2:**

19

**Sample Output 2:**

19


**Sample Input 3:**

5

**Sample Output 3:**

No

**Sample Input 4:**

12

**Sample Output 4:**

No

In [ ]:
i = int(input())
if i%2 != 0 and i%5 != 0 :
  print(i)
else:
  print('No')

19
19

Task 21

Write the Python code of a program that reads an integer, and prints the integer if it is NOT a multiple of 2 OR NOT a multiple of 5.

For example, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22\

hint(1): you may use the modulus (%) operator for checking the divisibility

hint(2): you can consider the number to be an integer



**Sample Input 1:**

3

**Sample Output 1:**

3


**Sample Input 2:**

15

**Sample Output 2:**

15


**Sample Input 3:**

20

**Sample Output 3:**

No

**Sample Input 4:**

14

**Sample Output 4:**

14

In [ ]:
i = int(input())
if i%2 != 0 or i%5 != 0 :
  print(i)
else:
  print('No')

15
15

Task 22

Fiona has recently started acrylic painting and she is planning to order a few canvases and paints from an online stationery shop. The price of each 10 x 10 sized canvas is 120 tk and the price of each 25 ml paint tube is 75 tk. Depending on the total amount ordered from the shop, she will get some discounts. The table below shows the discount she will get on her total amount.

```
Total Amount (TK)   .            Discount (TK)
----------------------------------------------
0 â 299             .            No Discount
300 - 499           .            10
500 - 749           .            20
750 - 999           .            50
>= 1000            .            150

```
Write a python program and take two inputs from the user. The first input will be the number of canvases and the second input will be the number of paint tubes ordered. Based on the price of each item, calculate the total amount that Fiona needs to pay including the discount.

**Sample Input 1:**

5

8

**Sample Output 1:**

Previous total: 1200

New total after discount: 1050

Explanation: 5 * 120 + 8 * 75 = 1200 Tk was her bill without discount. For 1200 Tk, the discount amount is 150 Tk. So, her new bill with a discount is (1200 - 150) = 1050 Tk.


**Sample Input 2:**

0

3

**Sample Output 2:**

Previous total: 225

New total after discount: 225

Explanation: 0 * 120 + 3 * 75 = 225 Tk was her bill without discount. For 225 Tk, the discount amount is 0 Tk. So, her new bill with a discount is (225 - 0) = 225 Tk.

In [ ]:
c = int(input())
p = int(input())
t = (c*120)+(p*75)
print(f'Previous total: {t}')
if t<300:
  print(f'New total after discount: {t}')
elif t>=300 and t<500:
  print(f'New total after discount: {t-10}')
elif t>=500 and t<750:
  print(f'New total after discount: {t-20}')
elif t>=750 and t<1000:
  print(f'New total after discount: {t-50}')
else:
  print(f'New total after discount: {t-150}')

5
8
Previous total: 1200
New total after discount: 1050

Task 23

You are designing a robot that can calculate the temperature and guess the season. Write a Python program that takes a number as input representing the temperature in degrees Fahrenheit, and converts it into degrees Celsius, and then prints the season based on the following table:

```
Temperature (degrees Celsius)                          .    Season
-------------------------------------------------------------------
Less than 20 degrees                                   .    Winter

Between 20 degrees and 25 degrees (inclusive)          .    Autumn

Greater than 25 degrees and less than 30 degrees       .    Spring

Greater than or equal to 30 degrees                    .    Summer

```
Use the following formula to convert the temperature:
(degrees Celsius) = ((degrees Fahrenheit) - 32) * 0.56


**Sample Input 1:**

82

**Sample Output 1:**

28 degrees C

Spring

Explanation: The temperature in Celsius is (82 - 32) * 0.56 = 28 degrees, which is printed. This is between 25 and 30 degrees, so âSpringâ is printed after that.


**Sample Input 2:**

32

**Sample Output 2:**

0 degrees C

Winter

Explanation: The temperature in Celsius is (32 - 32) * 0.56 = 0 degrees, which is printed. This is less than 20 degrees, so âWinterâ is printed after that.


**Sample Input 3:**

76

**Sample Output 3:**

24.64 degrees C

Autumn

Explanation: The temperature in Celsius is (76 - 32) * 0.56 = 24.64 degrees, which is printed. This is between 20 degrees and 25 degrees (inclusive), so âAutumnâ is printed after that.


**Sample Input 4:**

77

**Sample Output 3:**

25.2 degrees C

Spring

Explanation: The temperature in Celsius is (77 - 32) * 0.56 = 25.2 degrees, which is printed. This is greater than 25 degrees and less than 30 degrees, so âSpringâ is printed after that.

In [ ]:
f = int(input())
c = (f - 32) * 0.56
print(f'{c} degrees C')
if c<20 :
  print('Winter')
elif c>=20 and c<=25:
  print('Autumn')
elif c>25 and c<30:
  print('Spring')
else:
  print('Summer')

120
49.28 degrees C
Summer

#LAB3(GRADED)

Task 1

Write the python programs, which prints the following sequences of values in loops:

a) 24, 18, 12, 6, 0, -6

b) -10, -5, 0, 5, 10, 15, 20

c) 18, 27, 36, 45, 54, 63

d) 18, -27, 36, -45, 54, -63


Hint (1): You may use a while loop for solving these problems.

Hint (2): We are already familiar with the print() function. But, when we use it to print any value, it automatically adds an additional newline after each print statement.

For example:

print(1)

print(2)

Output:

1

2

To solve this problem, in Python3, we can add an extra argument (end = " ") in the print function which tells the program to skip printing the additional newline.

For example:

print(1, end ="")

print(2)

Output: (prints the next output right to the previous one)

12


In Task-1(a), the loop counter may be initialized at 24 and then the loop should terminate when the loop counter reaches -6. The difference between the first two values is 24 - 18 = 6. So, the loop counter value is getting decremented by 6 in every iteration for the given sequence here.

In [ ]:
#task1(a)
for i in range(24,-7,-6):
  if i != -6 :
    print(i, end=', ')
  else:
    print(i)

24, 18, 12, 6, 0, -6

In [ ]:
#task1(b)
for i in range(-10,21,5):
  if i != 20 :
    print(i, end=', ')
  else:
    print(i)

-10, -5, 0, 5, 10, 15, 20

In [ ]:
#task1(c)
for i in range(18,64,9):
  if i != 63 :
    print(i, end=', ')
  else:
    print(i)

18, 27, 36, 45, 54, 63

In [ ]:
#task1(d)
for i in range(18,64,9):
  if i%2 == 0 :
    print(i, end=', ')
  else:
    if i != 63 :
      print(-i, end=', ')
    else:
      print(-i)

18, -27, 36, -45, 54, -63

Task 2

Write a Python code for the following:

1) Ask the user to enter the name of his favorite car.

2) Ask the user to enter a Number

Display the name of the userâs favorite car, the number of times specified in the second step.

Example 1: If the user enters âToyotaâ and 2, your program should print the name âToyotaâ two times.

**Sample Input 1:**

Toyota

2

**Sample Output 1:**

Toyota

Toyota

Example 2: If the user enters âVeyronâ and 5, your program should print the name âVeyronâ five times.

**Sample Input 2:**

Veyron

5

**Sample Output 2:**

Veyron

Veyron

Veyron

Veyron

Veyron

In [ ]:
#task2
car = input()
n = int(input())
for i in range(n):
  print(car)

Veyron
5
Veyron
Veyron
Veyron
Veyron
Veyron

Task 3

Write the Python code of a program that adds all numbers that are multiples of both 7 and 9 up to 600 (including 600) i.e. 63, 126, 189, 252, ....

The output of your program should be: 2835

since 63 + 126 + 189 + 252 + 315 + 378 + 441 + 504 + 567 = 2835

In [ ]:
#task3
x = 0
for i in range(601):
  if i%7 == 0 and i%9 == 0:
    x+=i
print(x)

2835

Task 4

Write a Python code of a program that adds all numbers that are multiples of either 7 or 9 but not both, up to 600 (including 600) i.e. 7, 9, 14, 18, 21..... and so on but not the numbers 63, 126, 189..... which are multiples of both 7 and 9.

The output of your program should be: 39814

In [ ]:
#task4
x = 0
for i in range(601):
  if i%7 == 0 or i%9 == 0:
    if not(i%7 == 0 and i%9 == 0):
      x+=i
print(x)

39814

Task 5

Write the Python code of a program that displays all the odd numbers between 10 and 50 (inclusive).

Output: 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#task5
for i in range (10,51):
  if i%2 != 0:
    print(i,end=' ')

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

Task 6

Write a Python code that will calculate the value of y if the expression of y is as follows (n is the input):

y=12â22+32â42+52.........+n2


**Sample Input 1:**

5

**Sample Output 1:**

15

Explanation: y = 1 - 4 + 9 - 16 + 25 = 15

**Sample Input 2:**

10

**Sample Output 2:**

-55

Explanation: y = 1 - 4 + 9 - 16 + 25 - 36 + 49 - 64 + 81 - 100 = -55

**Sample Input 3:**

20

**Sample Output 3:**

-210

In [ ]:
#task6
x = 0
n = int(input())
for i in range(1,n+1):
  if i%2 == 0:
    x-=(i**2)
  else:
    x+=(i**2)
print(x)

10
-55


Task 7

Write a Python code of a program that asks the user to enter ten numbers and then display the total and the average of ONLY the odd numbers among those ten numbers.

[Please do not use list for this task]

**Sample Input 1:**

1

2

3

4

5

6

7

8

9

10

**Sample Output 1:** 

The total of the odd numbers is 25 and their average is 5.0

Explanation:

The total is 1 + 3 + 5 + 7 + 9 = 25 and the average is 25/5 = 5.0

**Sample Input 2:**

-20

13

-5

40

-17

10

20

-8

99

-200

**Sample Output 2:**

The total of the odd numbers is 90 and their average is 22.5

Explanation:

The total is 90 = 13 + (-5) + (-17) + 99) and their average is 90/4 = 22.5

In [ ]:
#task7
x = 0
y = 0
for n in range(10):
  i = int(input())
  if i%2 != 0:
    x+=i
    y+=1
print(f'The total of the odd numbers is {x} and their average is {x/y}')

-20
13
-5
40
-17
10
20
-8
99
-200
The total of the odd numbers is 90 and their average is 22.5

Task 8

Write a Python code for the following:

Ask the user to enter a Number, N

Display the summation of multiples of 7 up to that number (from 1 to N inclusive)

**Sample Input 1:**

50

**Sample Output 1:**

196

Explanation: 

The summation of multiples of 7 up to 50 is 7 + 14 + 21 + 28 + 35 + 42 + 49 = 196

**Sample Input 2:**

75
**Sample Output 2:**

385

Explanation: 

The summation of multiples of 7 up to 75 is 7 + 14 + 21 + 28 + 35 + 42 + 49 + 56 + 63 + 70 = 385

In [ ]:
#task8
n = int(input())
x = 0
for i in range(1,n+1):
  if i%7 == 0 :
    x+=i
print(x)

50
196

Task 9

Write a Python code that will read 5 numbers from the user. Your program should print the first number, the sum of the first 2 numbers, the sum of the first 3 numbers, and so on up to the sum of 5 numbers.

Sample Input 1:

1

2

3

4

5

Sample Output 1:

1

3

6

10

15
 
Explanation:

When the user enters 1 at first, we print 1, then

The user enters 2, (1 + 2) = 3, so our output is 3, then

The user enters 3, (3 + 3) = 6, hence our output is 6, then

The user enters 4, and we have (6 + 4) = 10, we print 10, and finally

The user enters 5, the final sum is 15 which is printed as the last output.



Sample Input 2:

11

-29

-3

47

50

Sample Output 2:

11

-18

-21

26

76

Explanation:

When the user enters 11 at first, we print 11, then


The user enters -29, (11 + (-29)) = -18, so our output is -18, then


The user enters -3, (-18 - 3) = -21, hence our output is -21, then

The user enters 4, and we have (-21 + 47) = 26, we print 26, and finally


The user enters 50, the final sum is (26 + 50) = 76 which is printed as the last output.

In [ ]:
#task9
x = 0
for i in range(5):
  n = int(input())
  x+=n
  print(x)

11
11
-29
-18
-3
-21
47
26
50
76

Task 10

Write a Python program which takes a number and prints the digits from the unit place, then the tenth, then hundredth, etc. (Right to Left)

[Consider the input number to be an INTEGER. You are not allowed to use String indexing for solving this task]

Example: If the user gives 32768, then print 8, 6, 7, 2, 3



Hint (1): The input() function, converts the input data to String data type by default. Therefore, please type cast it to an integer before proceeding further.

Hint (2): First to get the digit from the right side, we can take the remainder of the number using modulus (%) operator i.e. mod 10 to get the rightmost digit and print it. For dropping the last digit, we can perform floor division by 10 on the number and then continue the same to print the other digits as shown below.

32768 % 10 = 8

32768 // 10 = 3276

Then,

3276 % 10 = 6

3276 // 10 = 327

and so on

327 % 10 = 7

327 // 10 = 32

32 % 10 = 2

32 // 10 = 3


3 % 10 = 3

3 // 10 = 0

Done! When the number becomes 0 you can end your loop.

In [ ]:
#task10
n = int(input())
while n > 0 :
  x = n%10
  n = n//10
  if n != 0 :
    print(x, end=', ')
  else:
    print(x)

32768
8, 6, 7, 2, 3

Task 11

Write a Python program that takes a number and prints how many digits are in that number.

[Consider the input number to be an INTEGER.]

[You are not allowed to use len() function]

Example: If the user gives 9876, your program should print 4.

Hint: We may keep floor dividing by ten and count how many times this can 
be done until the number becomes 0 as illustrated below.

9876 // 10 = 987, count = 1

then, 987 // 10 = 98, count = 2

98 // 10 = 9, count = 3

9 // 10 = 0, count = 4

Done! When the number becomes 0 your loop can end giving you the count of digits, in this case for our input of 9876, 4 digits.

In [ ]:
#task11
x = 0
n = int(input())
while n>0:
  x+=1
  n = n//10
print(x)

9876
4

Task 12

Write a Python program that takes a number from the user and prints its digits from left to right.

[Consider the input number to be an INTEGER. You are not allowed to use 
String indexing for solving this task]

Example: if the user gives 32768, then print 3, 2, 7, 6, 8



Hint(1): The input() function takes the input data as String data type by default. Please convert it to an integer before starting your code for the task.

Hint(2):

Step 1: First, count how many digits

Step 2: Then, calculate 10 to the power (number of digits - 1).

Step 3 with explanation: Say, the input given by the user as in our 
example, 32768 has 5 digits, so calculating 10 to the power 4 gives us 10000. Then floor dividing 32768 by 10000, we can get 3. 
Proceeding further, the remainder of 32768 by 10000 (32768 % 10000) gives us 2768. This time to get 2 we need to floor divide 2768 by 1000 which is basically our 10000/10. Again, taking remainder of 2768 by 1000 gives us 768 which we then divide by 100 (i.e. 1000/10) and keep on doing this until there are no more digits left (zero).

To summarize and clarify:

Loop 1: First, we count digits like our Task 12, say 5 in this case for 32768

Loop 2: Then, we calculate 10 to the power 4 (5-1), that is 10000.

Loop 3: Then we keep repeating the three steps of floor dividing, modulus and dividing by 10 as demonstrated below.

32768 // 10000 = 3

32768 % 10000 = 2768

10000 // 10 = 1000

2768 // 1000 = 2

2768 % 1000 = 768

1000 // 10 = 100

768 // 100 = 7

768 % 100 = 68

100 // 10 = 10

68 // 10 = 6

68 % 10 = 8

10 // 10 = 1

8 // 1 = 8


8 % 1 = 0

1 // 10 = 0

Done. Loop ends as number has become 0.

In [ ]:
#task12
x = 0
n = int(input())
m=n
while n>0:
  x+=1
  n = n//10
while m>0 :
  x-=1
  y = m//(10**(x))
  if x>0:
    print(y,end = ', ')
  else:
    print(y)
  m = m%(10**(x))

32768
3, 2, 7, 6, 8

Task 13

Write a Python program that takes a number as input from the user and prints the divisors of that number as well as how many divisors the number has.


Sample Input 1:

6

Sample Output 1:


1

2

3

6

Total 4 divisors.

Sample Input 2:

121

Sample Output 2:

1

11

121

Total 3 divisors.

In [ ]:
#task13
n = int(input())
for i in range(1,n+1):
  if n%i == 0 :
    print(i)

121
1
11
121

Task 14
 
Write a Python program that takes a number as input from the user and tells if it is a perfect number or not.

Perfect Number: An integer number is said to be a perfect number if its factors, including 1 but not the number itself, sum to the number.


Sample Input 1:


6

Sample Output 1:

6 is a perfect number

Explanation:

6 has 4 divisors: 1, 2, 3, and 6.

If we add all factors except 6 itself, 1 + 2 + 3 = 6. The sum of the 
factors excluding the number itself sum up to the number therefore "6 is a perfect number" is printed.


Sample Input 2:

28

Sample Output 2:

28 is a perfect number

Explanation:

28 has the divisors: 1, 2, 4, 7, 14, and 28.

If we add all factors except itself, we get 28, 1 + 2 + 4 + 7 + 14 = 28.

Sample Input 3:

33

Sample Output 3:

33 is not a perfect number

Explanation:

33 has 4 divisors: 1, 3, 11, and 33.

If we add all factors except itself, 15 = 1 + 3 + 11. The sum is not equal to the number, therefore 33 is not a perfect number.

In [ ]:
#task14
x = 0
n = int(input())
for i in range(1,n):
  if n%i == 0:
    x+=i
if x == n:
  print(f'{n} is a perfect number')
else:
  print(f'{n} is not a perfect number')

33
33 is not a perfect number

Task 15

Write a Python program that asks the user for one number and tells if it is a prime number or not.

Prime Number: If a number has only two divisors, (1 and itself), then it is a prime number. If it is divisible by more numbers, then it is not a prime.

Hint: You may use the code for counting divisors from Task 14.

Sample Input 1:

11

Sample Output 1:

11 is a prime number

Explanation: 11 has only 2 divisors: 1 and 11.

Sample Input 2:

6

Sample Output 2:

6 is not a prime number

Explanation: 6 has 4 divisors: 1, 2, 3 and 6.

In [ ]:
#task15
x = 0
n = int(input())
for i in range(1,n+1):
  if n%i == 0:
    x+=1
if x == 2:
  print(f'{n} is a prime number')
else:
  print(f'{n} is not a prime number')

11
11 is a prime number

Task 16

Write a Python program that asks the user for a quantity, then takes that many numbers as input and prints the maximum, minimum and average of those numbers.

[Please note that you CANNOT use max, min built-in functions]

[Also, you DO NOT need to use lists for this task]

Example: If the user enters 5 as an input for quantity and the enters the 5 numbers, 10, 4, -1, -100, and 1.

The output of your program should be: âMaximum 10â, âMinimum -100â, âAverage is -17.2â as shown below.

Input:

5 

10 

4 

-1 

-100 

1

Output:

Maximum 10

Minimum -100

Average is -17.2

Explanation: 

Average calculation: (10 + 4 + (-1) + (-100) + 1)/5 = -86/5 = -17.2

In [ ]:
#task16
x = 0
max = 0
mini = 0
n = int(input())
for i in range(n):
  m = int(input())
  x+=m
  if m> max:
    max = m 
  elif m<mini:
    mini = m
print(f'Maximum {max}')
print(f'Minimum {mini}')
print(f'Average {x/n}')

5
10
4
-1
-100
1
Maximum 10
Minimum -100
Average -17.2

Task 17

Write a python program that prints a square of size N using + where N will be given as input as illustrated in the examples below.

Hint: You may need to use nested loops to solve this problem.

Sample Input 1:

5


Sample Output 1:

+++++

+++++

+++++

+++++

+++++

Explanation: 

Here, we may see it as 5 rows and 5 columns, where in each horizontal row/line, 5 '+' is printed next to each other and we have a total of 5 lines.

Sample Input 2:

3

Sample Output 2:

+++

+++

+++

Explanation: 

If the input is 3, then there will be 3 rows and 3 columns, where in each horizontal row/line, '+' is printed 3 times, 1 in each of the 3 columns and we will have a total of 3 lines.

In [ ]:
#task17
n = int(input())
for i in range(n):
  for j in range(n):
    print('+',end='')
  print()

5
+++++
+++++
+++++
+++++
+++++

Task 18

Write a python program that prints a rectangle of size M (height/line numbers) and N (length/column numbers) using incrementing numbers where M and N will be given as input. Please look at the examples below for clarification.

Hint: You may need to use nested loops and print the loop counter variable in one of the loops.


Sample Input 1:

4

6

Sample Output 1:

123456

123456

123456

123456

Explanation: The user has given 4 rows/lines and 6 columns as input. Therefore, we have 4 lines in our output here and in each line, the column number is printed from 1 through to 6 for the 6 columns.


Sample Input 2:

3

2

Sample Output 2:

12

12

12

Explanation: 

Our user input this time is 3 rows/lines and 2 columns. So, our output has 3 lines and, in each line, the column number 1 and 2 are printed next to each other as the user only wants 2 columns here.

In [ ]:
#task18
m = int(input())
n = int(input())
for i in range(m):
  for j in range(1,n+1):
    print(j,end='')
  print()

4
6
123456
123456
123456
123456

Task 19

Write a python program that prints a right-angled triangle of height N using incrementing numbers where N will be given as input.

Hint: You may need to use nested loops. Try to think up to which point should the inner loop run.

Sample Input 1:

4

Sample Output 1:

1

12

123

1234

Explanation: For an input of 4, we have 4 rows/lines where in each line, the respective column number is printed sequentially up to the line/row number. So, in line number 1, we have 1 only. In line 2, 12 is printed. In line 3, we have 123 and so on.

Sample Input 2:

5

Sample Output 2:

1

12

123

1234

12345

Explanation: Numbers are printed sequentially up to the line number for 
each of the lines.

In [ ]:
#task19
n = int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')
  print()

4
1
12
123
1234

#LAB3(TRACING)

In [ ]:
#task20
x = 0
p =0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
    q = x + p - (sum + 7 / 3) / 3.0 % 2
    sum = sum + x + int(q)
    x += 1
    print(sum)
    if x > 5:
        p += 4 / 2
    else:
        p += (3 % 1)
sum = int(sum + p)
print(sum)

4
10
18
28
42
60
82
108
138
151

In [ ]:
#task21
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10) :
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
  else :
    p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
115

In [ ]:
#task22
x = y = 0 
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2 
    print(sum)
    y = y + 1
  if (x > 7): 
    x += 1
  else: 
    x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

In [ ]:
#task23
x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print(sum)
        y = y + 2
    if (x > 5):
        x += 1
    else:
        x += 2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
#task24
test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10
test = 1
j = 0
k = 100

40
45
50
55
60
65
70
75
80
85

#LAB3(UNGRADED)

Task 25

Write a python program that prints all the Fibonacci numbers from 0 to N where N will be given as input by the user.

A Fibonacci number is a number which is the summation of its previous two Fibonacci numbers.

The first two Fibonacci numbers are 0 and 1.

So, the 3rd is 0 + 1 = 1,

the 4th is 1 + 1 = 2,

the 5th is 1 + 2 = 3,

the 6th one is 2 + 3 = 5,

and so on.

i.e. 0, 1, 1, 2, 3, 5, 8, 13, 21.......

Sample Input 1:

10


Sample Output 1:

0 1 1 2 3 5 8

Explanation: All Fibonacci numbers up to the number 10 is printed 
separated by spaces.

Sample Input 2:

15

Sample Output 2:

0 1 1 2 3 5 8 13

Explanation: All Fibonacci numbers up to the number 15 is printed separated by spaces.

In [ ]:
n = int(input())
a = 0
b = 1
for i in range(n+1):
  print(a,end =' ')
  c = a+b
  a = b
  b = c
  if a >= n :
    break

15
0 1 1 2 3 5 8 13

Task 26

Write a python program that converts a decimal integer number to a binary number.

Hint: A decimal can be converted to a binary number by keeping track of the remainders after each division of that number by 2.


Example 1:

For example, to convert 11 to a binary number, we can try the following approach.

11 // 2 = 5 (Remainder 1)

5 // 2 = 2 (Remainder 1)

2 // 2 = 1 (Remainder 0)

1 // 2 = 0 (Remainder 1)

Now, taking the remainders from bottom to top gives us the binary number 
which is 1011. Binary of 11 is 1011.

Sample Input 1:

11

Sample Output 1:

1011

Example 2:

Similarly, to convert 13 to a binary number:

13 // 2 = 6 (Remainder 1)

6 // 2 = 3 (Remainder 0)

3 // 2 = 1 (Remainder 1)

1 // 2 = 0 (Remainder 1)

Again, taking the remainders from the bottom to top, which is 1101 gives us the binary number. Binary of 13 is 1101.

Sample Input 2:

13

Sample Output 2:

1101

In [ ]:
n = int(input())
s = ''
while n>0:
  x = n%2
  n = n//2
  s+=str(x)
print(int(s[::-1]))

11
1011

Task 27

Write a python program that converts a binary number to a decimal integer number after taking the binary number as an input from the user.

Note: A binary number can be converted to its corresponding decimal number by multiplying each binary digit with a power of 2, where the power denotes the position of the binary digit



![2023-01-07.png]()

In [ ]:
n = int(input())
x = len(str(n))-1
b = 0
while n>0:
  a = n//(10**x)
  n = n%(10**x)
  b+= a*(2**x)
  x-=1
print(b)

11101
29

Task 28

Write a Python program that asks the user for a range (a starting number and an ending number) and then counts how many numbers are prime numbers and how many numbers are perfect numbers between that range. It also prints those numbers in the format shown in the output of the example given below.

Hint (1): We may declare two strings/lists to store the prime and perfect numbers. Inside the loop, we check for prime and perfect numbers and add them to respective string/list besides counting them.

Hint (2): We may need to convert numbers in String to integers for checking and calculations. We may again need to convert numbers to Strings for storing and printing as the outputs shown in the example below.


Example: If the user gives us a range of between 2 and 6, there are 3 prime numbers (2, 3, 5) and 1 perfect number (6) in that range.

Input:

2


6

Output:

Between 2 and 6,

Found 3 prime numbers

Found 1 perfect number

Prime numbers: 2, 3, 5

Perfect number: 6

In [ ]:
x = a = b = c =  0
s1 = s2  = ''
m = int(input())
n = int(input())
for i in range(m,n+1):
  for j in range(1,i):
    if i%j == 0:
      x+=j
  if x == i:
    c+=1
    s2+=str(x)+' '
  x = 0
  for k in range(1,i+1):
    if i%k == 0:
      a+=1
  if a == 2:
    b+=1
    s1+=str(k)+' '
  a = 0
print('Between 2 and 6,')
print(f'Found {b} prime numbers')
print(f'Found {c} perfect number')
print(f'Prime numbers: {s1}')
print(f'Perfect number: {s2}')

1
100
Between 2 and 6,
Found 25 prime numbers
Found 2 perfect number
Prime numbers: 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
Perfect number: 6 28

Task 29

Write a python program that asks the user for a range, a starting number(inclusive) and an ending number (inclusive). Then, take another input for checking. If the product of all the digits of each number in the range is divisible by the third input, then print the number.


Sample Input 1:

25

30

4

Sample Output 1:

12 16 0

Explanation: The product of all the digits of each number from 25 to 30 are 2 Ã 5, 2 Ã 6, 2 Ã 7, 2 Ã 8, 2 Ã 9 and 3 Ã 0. The final products are 10, 12, 14, 16, 18 and 0 respectively. Out of these numbers only 12, 16 and 0 are divisible by the third input 4 and therefore they are printed.



Sample Input 2:

351

356

9

Sample Output 2:

45 90

Explanation: The product of all the digits of each number from 351 to 356 are 3Ã5Ã1, 3Ã5Ã2, 3Ã5Ã3, 3Ã5Ã4, 3Ã5Ã5 and 3Ã5Ã6. The final products are 15, 30, 45, 60, 75 and 90 respectively. Out of these numbers only 45 and 90 are divisible by 9 and therefore they are printed.

In [ ]:
m = int(input())
n = int(input())
o = int(input())
a = 1
for i in range(m,n+1):
  x = str(i)
  for j in x:
    #print(j, end =' ')
    a= a*int(j)
    #print(a, end =' ')
  if a%o == 0 :
    print(a, end= ' ')
    a = 1
  else:
    a = 1

351
356
9
45 90

#LAB4(GRADED)

Task 1


Write a Python program that takes a String as an input from the user and prints that String in reverse order. You cannot use the built-in reverse() function for this task.

Sample Input 1:

CSE110

Sample Output 1:

011ESC

Sample Input 2:

Python 

Sample Output 2:

nohtyP

Sample Input 3:


1576527 

Sample Output 3:

7256751

In [ ]:
#task1
s = input()
for i in s[-1::-1]:
  print(i,end='')

CSE110
011ESC

Task 2

Write a python program that takes 2 inputs from the user, where the first input is a string with length greater than 1. The second input is the index of the first given string from where you have to start reversing. After reversing the first input string from that index, print the new string back to the user. See samples below for clarification.

Sample Input 1:

72418

4

Sample Output 1:

81427

Explanation: Our second input, index '4' is the last index of our first input String '72418', hence the entire string is reversed giving us '81427'.


Sample Input 2:

12345 

2

Sample Output 2:

32145

Explanation: The second input is '2' so we have to reverse from index 2 of our first input. The 2nd index of our first input String is '3', index 1 is '2' and index 0 is '1'. Hence, if we reverse indexes 0 to 2, we get '321'. Index 3 and 4 which is '4' and '5' respectively remains unchanged hence our final output is '32145'.


Sample Input 3:

aBcd1234defg

5

Sample Output 3:

21dcBa34defg

Explanation: From our first input String 'aBcd1234defg', 

index 0 = 'a'

index 1 = 'B'

index 2 = 'c'

index 3 = 'd'

index 4 = '1'


index 5 = '2'

index 6 = '3'

Since our second input is 5, index 0 to index 5 is reversed and we have 
'21dcBa' and the rest is unchanged from indexes 6 to 11 ('34defg'). Therefore, we have '21dcBa34defg' finally.

In [ ]:
#task2
s = input()
s1 = ''
n = int(input())
for i in s[n::-1]:
  s1+=i
for i in s[n+1::]:
  s1+=i
print(s1)

aBcd1234defg
5
21dcBa34defg

Task 3

Write a program that takes a string as input and prints âBinary Numberâ if the string contains only 0s or 1s. Otherwise, print âNot a Binary Numberâ.


Sample Input 1:

01101101101

Sample Output 1:

Binary Number

Sample Input 2:

12344ab0

Sample Output 2:

Not a Binary Number


Sample Input 3:

10127490111

Sample Output 3:

Not a Binary Number

Sample Input 4:

Binary Number

Sample Output 4:

Not a Binary Number

In [ ]:
#task3
s = input()
s1 = ''
for i in s:
  if i == '0' or i == '1':
    s1+=i
if s1 == s:
  print('Binary Number')
else:
  print('Not a Binary Number')

10127490111
Not a Binary Number

Task 4

Write a Python program that will ask the user to enter a word as an input. 

If the length of the input string is less than 4, then your program should print the same string as an output. 

If the input stringâs length is greater than 3, then your program should add "er" at the end of the input string. 

If the input string already ends with "er", then add "est" instead, regardless of the length of the input string

If the input string already ends with "est", then your program should 
print the same input string as an output.


Sample Input 1:

strong

Sample Output 1:

stronger

Explanation: Length of input = 6, not less than 4, greater than 3, does not end with "er" or "est", therefore "er" is added making "strong", "stronger".

Sample Input 2:

stronger

Sample Output 2:

strongest

Explanation: Input string ends with "er", therefore "er" is replaced with "est" instead so we have "strongest" from "stronger".


Sample Input 3:

strongest

Sample Output 3:

strongest

Explanation: Our input here already ends with "est" so the same input i.e. "strongest" is printed.

Sample Input 4:

abc

Sample Output 4:

abc

Explanation: Since length of input string is less than 4, the given input is printed as output.
 
Sample Input 5:

ber

Sample Output 5:

best

Explanation: Although the length of the input string is 3 which is less than 4, but it ends with er so we ignore the length and replace "er" with "est" regardless.

In [ ]:
#task4
s = input()
l = len(s)
m = s[l-2::]
n = s[l-3::]
if m == 'er':
  print(s[:l-2:]+'est')
elif l < 4 or n == 'est':
  print(s)
elif m == 'er':
  print(s[:l-2:]+'est')
else:
  print(s+'est')

stronger
strongest

Task 5

Write a Python program that will ask the user to input a string (containing exactly one word). Then your program should print subsequent substrings of the given string as shown in the examples below.

Sample Input 1:

BANGLA

Sample Output 1:

B

BA

BAN

BANG

BANGL

BANGLA

Explanation: The length of the string is 6 so there are 6 lines where in each line a substring of the input string, of length equal to the line number is printed i.e. substring with only the letter "B" printed in the first line, substring "BA" of length 2 printed in the 2nd line, "BAN" length of which is 3 being printed in the 3rd line and so on.
 
Sample Input 2:

DREAM

Sample Output 2:

D

DR

DRE

DREA

DREAM

Explanation: Simply, no of lines = length of the input string and no of letters in each line = line number.

In [ ]:
#task5
s = input()
l = len(s)
for i in range(l+1):
  for j in range(0,i):
    print(s[j],end='')
  print()

BANGLA

B
BA
BAN
BANG
BANGL
BANGLA

Task 6

Write a Python program that will ask the user to input a string (containing exactly one word). Then print the ASCII code for each character in the String using the ord() function. 

To check if your program is working correctly or not, you can find a list of all correct values from the following website. You may look at âDecâ and âCharâ columns only and ignore the other columns for this problem.
link: http://www.asciitable.com/

Sample Input 1:

Programming

Sample Output 1:

P : 80

r : 114

o : 111

g : 103


r : 114

a : 97

m : 109


m : 109

i : 105

n : 110

g : 103

Explanation: Each line prints a letter sequentially from the given string and its corresponding ASCII value separated by " : ".


Sample Input 2:

hunger

Sample Output 2:

h : 104

u : 117

n : 110

g : 103

e : 101

r : 114 

Explanation: Same as previous.

In [ ]:
#task6
s = input()
for i in s:
  print(f'{i} : {ord(i)}')

Programming
P : 80
r : 114
o : 111
g : 103
r : 114
a : 97
m : 109
m : 109
i : 105
n : 110
g : 103

Task 7

Write a Python program that takes a string as an input from the user containing all small letters and then prints the next alphabet in sequence for each alphabet in the input.

Hint: You may need to use the functions ord() and chr(). The ASCII value of âaâ is 97 and âzâ is 122.

Sample Input 1:

abcd

Sample Output 1:

bcde

Sample Input 2:

the cow

Sample Output 2:

uif!dpx

Sample Input 3: [Must fulfil this criteria]

xyzabc

Sample Output 3:

yzabcd

In [ ]:
#task7
s = input()
for i in s:
  if i == 'z':
    print('a',end='')
  else:
    print(chr(ord(i)+1),end='')

the cow
uif!dpx

Task 8

Write a Python program that takes a String as input from the user, removes the characters at even index and prints the resulting String in uppercase without using the built-in function upper().

Sample Input 1:

String

Sample Output 1: 

TIG

Explanation: The characters 'S', 'r' and 'n' are at index positions 0, 2, and 4 respectively. Hence they are removed and the remaining characters 'tig' are capitalized giving us output 'TIG'.

Sample Input 2:

abcd

Sample Output 2: 

BD

Explanation: Only the characters at the odd indices, 1 and 3, 'b' and 'd' are captitalized, concatenated and printed.

In [ ]:
#task8
string = input()
a=''
for x in string[1::2]:
  y=ord(x)
  if y>=97 and y<=122:
    z=y-32
    a+=chr(z)
  else:
    a+=chr(y)
print(a)

String
TIG

Task 9

Given a string, create a new string with all the consecutive duplicates removed. 

Hint: You may make a new string to store the result. You can check whether the current character and the next character are the same, then add that character to the new string.

Note: Only consecutive letters are removed not all duplicate occurrences of a letter. You may try doing this alternative i.e., removing all duplicate letters from a given string, for your own practice.


Sample Input 1:

AAABBBBCDDBBECE

Sample Output 1:

ABCDBECE

Explanation: From the 3 consecutive "A"s, 2 are removed and we have 'A' 
only. Then from the 4 consecutives 'B's, 3 are removed and only one is added to the new string giving us "AB". Since we have only one 'C' next, it is added making the resulting string "ABC" now and so on.


Sample Input 2:

Jupyter Notebook is better. Case sensitivity check AAaaaAaaAAAa.

Sample Output 2:

Jupyter Notebok is beter. Case sensitivity check AaAaAa.

Explanation: Just the 2 consectutive 'o's and 't's are changed to one at first and the uppercase 'A' and lowercase 'a' are treated separately i.e., case sensitive when checking for consecutive duplicates.

In [ ]:
#task9
s = input()
s1 = ''+s[0]
for i in range(1,len(s)):
  if s[i] != s[i-1]:
    s1+=s[i]
print(s1)

Jupyter Notebook is better. Case sensitivity check AAaaaAaaAAAa.
Jupyter Notebok is beter. Case sensitivity check AaAaAa.

Task 10

Write a Python program that will take one input from the user made up of two strings separated by a comma and a space (see samples below). Then create a mixed string with alternative characters from each string. Any leftover chars will be appended at the end of the resulting string.

[ Do not use lists for this task]

Hint: For adding the leftover characters you may use string slicing.


Sample Input 1:

ABCD, efgh

Sample Output 1:

AeBfCgDh

Explanation: At first, the two strings divided by ", " should be separated. Then the first character of the first string 'A' is concatenated with the first character of the second string 'e' which in turn is concatenated to the second character of the first string 'B', the second character of the second-string f and so on since the strings are of equal length.


Sample Input 2:

ABCDENDFGH, ijkl

Sample Output 2:

AiBjCkDlENDFGH

Explanation: Here, since the length of the first string is greater than the length of the second string, after separation, the characters are concatenated alternatively as in sample input/output 1, till the length of the second string i.e., ijkl. Since, there are no more characters in the second string after that, the remaining characters if the first string i.e., ENDFGH in this case are concatenated at the end of the final string.

Sample Input 3:

ijkl, ABCDENDFGH

Sample Output 3:

iAjBkClDENDFGH

Explanation: This time, the length of the second string is greater than the length of the first string therefore the first letters of the 2 strings 'i' and 'A', then the second letters 'j' and 'B' and so on are being concatenated until there are no more letters in the first shorter string following which the remaining letters i.e., ENDFGH again in this case too (this may be different for other different string inputs) are added at the end giving us the resulting output string.

In [ ]:
#task10
s = input()
m = ''
for i in range(len(s)):
  if s[i] == ',':
    x = s[:i:]
    y = s[i+2::]
l = len(x)
l1 = len(y)
if l > l1:
  for i in range(l1):
    m+=x[i]+y[i]
  m+=x[l1:]
else:
  for i in range(l):
    m+=x[i]+y[i]
  m+=y[l:]
print(m)

ijkl, ABCDENDFGH
iAjBkClDENDFGH

#LAB4(TRACING)

In [ ]:
#task11
i = 10
while(i >= -20):
    if(i < 0):
        test = " != "
        test = str(i//2) + test + str(int(i/2))
    else:
        test = " == "
        test = str(i//2) + test + str(int(i/2))
    print(test)
    i -= 5

5 == 5
2 == 2
0 == 0
-3 != -2
-5 != -5
-8 != -7
-10 != -10

In [ ]:
#task12
test = ""
i = 0
j = 0
k = 15
test = "-->"
while i < 5:
    j = k - 1
    k -= 1
    while j > 10:
        test = str(i + j) + "-->" + test
        print(test)
        j -= 1
    i += 1

14-->-->
13-->14-->-->
12-->13-->14-->-->
11-->12-->13-->14-->-->
14-->11-->12-->13-->14-->-->
13-->14-->11-->12-->13-->14-->-->
12-->13-->14-->11-->12-->13-->14-->-->
14-->12-->13-->14-->11-->12-->13-->14-->-->
13-->14-->12-->13-->14-->11-->12-->13-->14-->-->
14-->13-->14-->12-->13-->14-->11-->12-->13-->14-->-->

In [ ]:
#task13
test = ""
i = 5
j = 0
k = 15
while i< 10:
    k-=1
    j = k
    while j > 10:
        if (j % 2) == 0:
            test = "<--"
            test = str(test) + str(i) + str(2) + "-->" + str(int(j / 2))  
        else:
            test = "-->"
            test = "-->" + str(int(i / 2)) + str(test) + str(j)
        print(test)
        j = j-1
    i+=1

<--52-->7
-->2-->13
<--52-->6
-->2-->11
-->3-->13
<--62-->6
-->3-->11
<--72-->6
-->3-->11
-->4-->11

In [ ]:
#task14
test = ""
i = 5
j = 0
k = 15
while (i< 10): 
    k-=1
    j = k
    while (j > 10 ):
        if j % 2 == 0:
            test = "<--"
            test = test + str( i) + '3' + "-->" + str(j // 3)
        else:
            test = "-->"
            test = "-->" + str((i // 3)) + test + str(j)
        print(test)
        j -=1
    i+=1

<--53-->4
-->1-->13
<--53-->4
-->1-->11
-->2-->13
<--63-->4
-->2-->11
<--73-->4
-->2-->11
-->2-->11

In [ ]:
#task15
i=0
j=0
k=15
test = '<--cat'
while i < 5:
    k -= 1
    j = k
    while j > 10:
        if j % 2 == 0:
            test += '-->'
            test = test + str(i) + str(j // 2)
        else:
            test += '<--'
            test = test + str(i // 2) + str(j)
        print(test)
        j-=1
    i+=1

<--cat-->07
<--cat-->07<--013
<--cat-->07<--013-->06
<--cat-->07<--013-->06<--011
<--cat-->07<--013-->06<--011<--013
<--cat-->07<--013-->06<--011<--013-->16
<--cat-->07<--013-->06<--011<--013-->16<--011
<--cat-->07<--013-->06<--011<--013-->16<--011-->26
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111<--111

#LAB4(UNGRADED)

Task 16

Write a python program that takes 2 inputs from the user. The first input is a string and the second input is a letter. The program should remove all occurences of the letter from the given string and print the output. If the letter is not found in the string and the length of string is greater than 3, then remove the first letter and last letter of the given string and print it. Otherwise print the string as it is. You can assume that all the input will be in lowercase letter.
 
Sample Input 1:

tanjiro kamado

a

Sample output 1:

tnjiro kmdo

Explanation: All 3 instances of the character 'a' is removed from the input String 'tanjiro kamado' to give us output 'tnjiro kmdo'.


Sample Input 2:

eren yeager

k

Sample Output 2:

ren yeage

Explanation: The character 'k' is absent in the first input String 'eren yeager' and it's length is 11 which is greater than 3 therefore the first character 'e' and the last character 'r' is removed. Hence, the final String is 'ren yeage'.
 
Sample Input 3:

hi

a

Sample Output 3:

hi

Explanation: The letter 'a' is not found in our first input 'hi', the length of which is 2. Since the character is not present and the length is less than 3, we print the String 'hi' as it is.

In [ ]:
s = input().lower()
l = input().lower()
ns = ''
if l not in s:
  if len(s)>3:
    print(s[1:len(s)-1:])
  else:
    print(s)
else:
  for i in s:
    if i != l:
      ns+=i
  print(ns)

tanjiro kamado
a
tnjiro kmdo

Task 17

Write a python program that splits a given string on a given split character. The first input is a String and the second input is the character that will be used to split the first String. 

[You cannot use the built-in split() function for this task]

Sample Input 1:

This-is-CSE110

-

Sample Output 1:

This

is

CSE110

Explanation: The second input which is the character '-', is used to split or divide the first input String 'This-is-CSE110' into 'This', 'is' and 'CSE110' which are printed individually in separate lines.

Sample Input 2:

tom@gmail,harry@yahoo,bob@gmail,mary@gmail

,

Sample Output 2:

tom@gmail

harry@yahoo

bob@gmail

mary@gmail

In [ ]:
s = input()
c = input()
s+=c
ns = ''
for i in s:
  if i == c:
    print(ns)
    ns = ''
  else:
    ns+=i

tom@gmail,harry@yahoo,bob@gmail,mary@gmail
,
tom@gmail
harry@yahoo
bob@gmail
mary@gmail

Task 18

Write a python program that takes two inputs. The first input is a string and the second input is a number. If the number is even then concatenate the given string two times the given number and if the number is odd then concatenate the given string three times the given number.


Sample Input 1:

CSE110

4

Sample output 1:

CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

Explanation: The second input which is the number 4 is even, therefore the first-string input 'CSE110' is concatenated (joined together) 4*2 = 8 times.



Sample Input 2:

CSE110

3

Sample Output 2:

CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

In [ ]:
s = input()
n = int(input())
if n%2 == 0:
  print(s*(n*2))
else:
  print(s*(n*3))

CSE110
3
CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

Task 19


Write a python program that takes a string as an input from the user and then modifies the string in such a way that the string always starts with an uppercase letter and the case of each subsequent letter is the opposite of the previous letter (uppercase character followed by a lowercase character followed by an uppercase character and so on). Finally, the modified string is printed to show the user.

Hint: Flags/counters can be used to manage uppercase-lowercase.

Sample Input 1:

Python programming is very easy

Sample Output 1:

PyThOn PrOgRaMmInG iS vErY eAsY

Sample Input 2:

I       love         Python         Programming

Sample Output 2:

I       lOvE        pYtHoN        pRoGrAmMiNg

Sample Input 3:

CSE110 Course

Sample Output 3

CsE110 cOuRsE

Sample Input 4:

c

Sample Output 4:

C

#LAB5(GRADED)

Task 1

Write a Python program that reads 5 numbers from the user into a list. After reading each number, print all the numbers that have been entered so far in the list.

Example:

If the user enters 3, prints âNumbers in the list: [3]â

If the user enters 5 next, prints âNumbers in the list: [3, 5]â

If the user enters 34, prints âNumbers in the list: [3, 5, 34]â

If the user then enters -11, prints âNumbers in the list: [3, 5, 34, -11]â

Finally, if the user enters 0 as the last number, prints âNumbers in the 

list: [3, 5, 34, -11, 0]â

In [ ]:
#task1
x = []
for i in range(5):
  n = int(input())
  x.append(n)
  print(f'Numbers in the list: {x}')

3
Numbers in the list: [3]
5
Numbers in the list: [3, 5]
34
Numbers in the list: [3, 5, 34]
-11
Numbers in the list: [3, 5, 34, -11]
0
Numbers in the list: [3, 5, 34, -11, 0]

Task 2

Write a Python program that takes an input from the user, then creates a new list excluding the first and last two elements of the given list and prints the new list. If there are not enough elements in the list to do the task, print "Not possible".

Note: You may use list slicing.


Sample Input 1:

10, 20, 24, 25, 26, 35, 70

Sample Output 1:

[24, 25, 26]


Sample Input 2:

10, 20, 24, 25, 26

Sample Output 2:

[24]


Sample Input 3:

10, 20, 24, 25

Sample Output 3:

[]


Sample Input 4:

10, 20, 24

Sample Output 4:

Not possible

In [ ]:
#task2
s = input().split(', ')
l = len(s)
list1 = []
if l > 3 :
  s = s[2:l-2]
  for i in s:
    list1.append(int(i))
  print(list1)
else:
  print('Not Possible')

10, 20, 24, 25, 26, 35, 70
[24, 25, 26]

Task 3

Write a python program that reads 5 numbers from the user into a list, and then prints them in the reverse order.

Hint: You may create a list to store the input numbers and then use loop to print them in reverse order


Sample Input:

5

-5

100

1

0

Sample Output:

Printing values from the list in reverse order:

0

1

100

-5

5

In [ ]:
#task3
x = []
for i in range(5):
  n = int(input())
  x.append(n)
print(f'Printing values from the list in reverse order: {x[::-1]}')

5
-5
100
1
0
Printing values from the list in reverse order: [0, 1, 100, -5, 5]

Task 4

Write a Python program that turns every item of a list into its square.

[Your program should work for any lists; make changes to the lists below and check whether your program works correctly]


Given list 1:

[1, 2, 3, 4, 5, 6, 7]

Sample Output 1:

[1, 4, 9, 16, 25, 36, 49]


Given list 2:

[3, 5, 1, 6]

Sample Output 2:

[9, 25, 1, 36]

In [ ]:
#task4
gl = [1, 2, 3, 4, 5, 6, 7]
gl1 = []
for i in gl:
  gl1.append(i**2)
print(gl1)

[1, 4, 9, 16, 25, 36, 49]

Task 5

Write a Python program that removes all Empty strings from a given list and prints the modified list.

[Your program should work for any given list; make changes to the list below and check whether your program works correctly]

Given List:

["hey", "there", "", "what's", "", "up", "", "?"]

Sample Output:

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']

Modified List: ['hey', 'there', "what's", 'up', '?']

In [ ]:
#task5
gl = ["hey", "there", "", "what's", "", "up", "", "?"]
gl1 = []
for i in gl:
  if i != '':
    gl1.append(i)
print(f'Original list: {gl}')
print(f'Modified list: {gl1}')

Original list: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified list: ['hey', 'there', "what's", 'up', '?']

Task 6

Write a Python program that reads a string containing 7 numbers separated by commas, then makes a list of those numbers and prints the largest number and its location or index position in the list. 

[You are not allowed to use the max(), sort(), sorted() function here]
[Your program should work for any given list; make changes to the list below and check whether your program works correctly]

Hint: You may assume the first input to be the largest value initially and the largest valueâs location to be 0.

Note: You may need to be careful while printing the output. Depending on your code, you might need data conversion.


Sample Input:

7, 13, 2, 10, 6, -11, 0

Sample Output:

My list: [7, 13, 2, 10, 6, -11, 0]

Largest number in the list is 13 which was found at index 1.

In [ ]:
#task6
s1 = input().split(', ')
s = []
for i in s1:
  s.append(int(i))
max = s[0]
for i in range(len(s)):
  if s[i]>max:
    max = s[i]
    x = i
print(f'My list: {s}')
print(f'Largest number in the list is {max} which was found at index {x}.')

7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1.

Task 7

Suppose you have been given two lists. Write a Python program that replaces the last element of the first list with the second list. 

[Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]


Sample given lists 1:

List_one : [1, 4, 7, 5]

List_two : [6, 1, 3, 9]

Sample Output 1:

[1, 4, 7, 6, 1, 3, 9]

Sample given lists 2:

List_one : [1, 3, 5, 7, 9, 10]

List_two : [2, 4, 6, 8]

Sample Output 2:

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#task7
gl1 = [1, 4, 7, 5]
gl2 = [6, 1, 3, 9]
gl3 = gl1[:len(gl1)-1:]+gl2
print(gl3)

[1, 4, 7, 6, 1, 3, 9]

Task 8

Assume, you have been given two lists. 

[Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list_two = [10, 11, 12, -13, -14, -15, -16]

Write a Python program that creates a new list with all the even elements of both of the given lists and prints the new list.

Hint: You may create a third list to store the even elements of the given lists.


Output for the above lists: [2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#task8
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l2 = [10, 11, 12, -13, -14, -15, -16]
l = []
for i in l1:
  if i%2 == 0:
    l.append(i)
for i in l2:
  if i%2 == 0:
    l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, -14, -16]

Task 9

Write a Python program that reads a string as an input from the user where multiple numbers are separated by spaces. Then, make a list of numbers from the input string without using the split() function and print the list. Finally, remove all the occurrences of even numbers from the same input list and print the modified list.


Sample Input:

7 12 4 55 96 2 11 61 33 42

Sample Output:

Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]

Modified list: [7, 55, 11, 61, 33]

In [ ]:
#task9
l=[]
m = []
s = input()
s+=' '
x = ''
for i in s:
  if i != ' ':
    x+=i
  else:
    l.append(int(x))
    x = ''
print(f'Original list: {l}')
for i in l:
  if i%2 != 0 :
    m.append(i)
print(f'Modified list: {m}')

7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

Task 10

Write a Python program that reads a string as an input from the user where multiple numbers are separated by commas. Then, make a list of numbers from the input string and print the list. Finally, remove multiple occurrences of any numbers from the input list and print the modified list without duplicate values.

Hint: You may create a third list to store the results but you may try doing it in the same input list. You can use membership operators (in, not in) to make sure no duplicates are added.


Sample Input 1:

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4

Sample Output 1:

Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


Sample Input 2:

7, 7, 7, 1, 0, 3, 3, 55, 9

Sample Output 2:

Input list: [7, 7, 7, 1, 0, 3, 3, 55, 9]

Modified list: [7, 1, 0, 3, 55, 9]

In [ ]:
#task10
#0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
s = input().split(', ')
l = []
l2 = []
for i in s:
  l.append(int(i))
print(f'Input list: {l}')
for i in l:
  if i not in l2:
    l2.append(i)
print(f'Modified list: {l2}')

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Task 11

Assume, you have been given two lists: List_one and List_two. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

Write a Python program that prints "True", if the given two lists have at least one common member. Otherwise, print "False".

Note: Please use concepts of flag and break to solve this task.


Given lists 1:

List_one : [1, 4, 3, 2, 6]

List_two : [5, 6, 9, 8, 7]

Sample Output 1:

True


Given lists 2:

List_one : [1, 4, 3, 2, 5]

List_two : [8, 7, 6, 9]

Sample Output 2:

False

In [ ]:
#task11
l1 = [1, 4, 3, 2, 6]
l2 = [5, 6, 9, 8, 7]
flag = False
for i in l1:
  if i in l2:
    flag = True
    break
print(flag)

True

#LAB5(TRACING)

In [ ]:
#task12
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while(index1<10):
  myList[index1] = index1+4
  index2 = 1
  while(index2<index1):
      myList[index1] = myList[index1] + myList[index2]-index1
      index2 = index2+1
  print(myList[index1])
  index1 = index1+1

5
9
15
25
43
77
143
273
531

In [ ]:
#task13
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while (index1 < 10):
  myList[index1] = index1 + 4
  index2 = 1
  while (index2 < index1):
    myList[index1] = myList[index1-1] - myList[index2-1] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

5
3
-5
-12
-12
-6
-1
-3
-11

In [ ]:
#task14
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<10):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7
9
11
13
15
17
19

In [ ]:
#task15

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
  myList[index1] = index1 + 1
  index2 = 1
  while (index2 < index1):
    myList[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

2
0
-1
-5
-11
-22
-40
-70
-119

#LAB5(UNGRADED)

Task 16

Write a Python program that reads 7 numbers into a list and prints the second largest number and its location or index position on the list. [You are not allowed to use the max(), sort(), sorted() function here]


Sample Input:

7, 13, 2, 10, 6, -11, 0

Sample Output:

My list: [7, 13, 2, 10, 6, -11, 0]

Second largest number in the list is 10 which was found at index 3.

In [ ]:
st = input().split(', ')
s = []
sm = 0
m = int(st[0])
for i in st:
  i = int(i)
  s.append(i)
  if i > m :
    m = i
for j in st:
  j = int(j)
  if j > sm and j != m:
      sm = j
print(f'My list: {s}')
print(f'Second largest number in the list is {sm} which was found at index {s.index(sm)}.')

7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 10 which was found at index 3.

Task 17

Write a Python program that reads 5 numbers into a list and prints the smallest and largest number and their locations in the list. [You are not allowed to use the max(), min(), sort(), sorted() functions here]

Hint: You may assume the first input to be the largest value initially and the largest valueâs location to be 0. Similarly, you can assume the first input to be the smallest value initially and the smallest valueâs location to be 0.

Note: You may need to be careful while printing the output. Depending on your code, you might need data conversion.


Sample Input:

7, 13, -5, 10, 6

Sample Output:

My list: [7, 13, -5, 10, 6]

Smallest number in the list is -5 which was found at index 2

Largest number in the list is 13 which was found at index 1

In [ ]:
st = input().split(', ')
s = []
sm = m = int(st[0])
for i in st:
  i = int(i)
  s.append(i)
  if i > m :
    m = i
  if i < sm :
    sm = i
print(f'My list: {s}')
print(f'Smallest number in the list is {sm} which was found at index {s.index(sm)}.')
print(f'Largest number in the list is {m} which was found at index {s.index(m)}.')

7, 13, -5, 10, 6
My list: [7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2.
Largest number in the list is 13 which was found at index 1.

Task 18

Write a Python program that takes two lists as an input from the user. Then print a new list with the common elements of both the input lists.
Hint: You may need to create a third list to store the results. You can use membership operators (in, not in) to make sure similar elements are added.


Sample Input 1:

A, B, C, D

C, E, F, B

Sample Output 1:

['C', 'B']


Sample Input 2:

1, 3, A, H, P

A, G, 1, P, O

Sample Output 2:

['1', 'A', 'P']

Task 19

Assume, you have been given two lists. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]

list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]

list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]

Write a Python program that creates a new list with all the unique elements of both the given lists. You need to make sure that there are no duplicates in the resulting list. Finally, print the updated list.

Hint: You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.


Output for the above two lists: [1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

Task 20

Write a python program to take a list as a string input from the user and print it back to the user as a list. Please look at the examples below for clarification.

[Must use string split() and strip() functions]

```
Sample Input 1:
'1,        2 ,            3, 50, 4'
Sample Output 1:
Original data: 1,        2 ,            3, 50, 4
After removing square brackets: 1,        2 ,            3, 50, 4
Numbers in string format with extra white spaces: ['1', '       2' ,'            3', '50', '4']
Final data (numbers in list format): [1, 2, 3, 50, 4]

Sample Input 2: '[1,      2   ,            3, 50, 4]'
Sample Output 2:
Original data: [1,      2   ,            3, 50, 4]
After removing square brackets: 1,      2   ,            3, 50, 4
Numbers in string format with extra white spaces: ['1', '      2   ', '            3', '50', '4']
Final data (numbers in list format): [1, 2, 3, 50, 4]

Sample Input 3:
"      [1,   2   ,         3,   50,   4]         "
Sample Output 3:
Original data:       [1,   2   ,         3,   50,   4]         
After removing square brackets: 1,   2   ,         3,   50,   4
Numbers in string format with extra white spaces: [' 1', '   2   ', '         3', '   50', '   4']
Final data (numbers in list format): [1, 2, 3, 50, 4]

```

Task 21

Write a Python program that takes a single string as an input from the user where few numbers are separated by commas. Now, make a list with the numbers of the given string. Then your task is to remove multiple occurrences of any number and then finally print the list without any duplicate values.

Hint (1): For obtaining the numbers from the string, use split(). For cleaning the data, use strip().

Hint (2): You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.


```
Sample Input 1:
0, 0, 1, 2, 3, 4,      4, 5, 6, 6, 6,      7, 8, 9, 4,         4
Sample Output 1:
Given numbers in list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
List without any dupliacte values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Sample Input 2:
7, 7, 7, 1,           0, 3, 3,   55, 9
Sample Output 2:
Given numbers in list: [7, 7, 7, 1, 0, 3, 3, 55, 9]
List without any dupliacte values: [7, 1, 0, 3, 55, 9]
```

#LAB6(GRADED)

Task 1

Assume, you have been given a tuple.

a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

Write one line of Python code to access and print the value 400.

Output: 400

In [ ]:
#task1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

Task 2

Assume, you have been given a tuple. Write a Python program that creates a new tuple excluding the first and last two elements of the given tuple and prints the new tuple.

Hint: You may use tuple slicing.


Sample Input 1:

(10, 20, 24, 25, 26, 35, 70)

Sample Output 1:

(24, 25, 26)


Sample Input 2:

(-10, 20, 30, 40)

Sample Output 2:

()


Sample Input 3:

(-10, 20, 25, 30, 40)

Sample Output 3:

(25,)

In [ ]:
#task2
gt = (10, 20, 24, 25, 26, 35, 70)
print(gt[2:len(gt)-2:])

(24, 25, 26)

Task 3

Assume, you have been given a tuple.

book_info = (("Best Mystery & Thriller","The Silent Patient",68,821)("Best Horror","The Institute",75,717),("Best History & Biography","The five",31,783 ),("Best Fiction","The Testaments",98,291))

Write a Python program that prints the size of the tuple and all its elements as shown below.


Output:

Size of the tuple is: 4

('Best Mystery & Thriller', 'The Silent Patient', 68, 821)

('Best Horror', 'The Institute', 75, 717)

('Best History & Biography', 'The five', 31, 783)

('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task3
book_info = ( ("Best Mystery & Thriller","The Silent Patient",68,821), ("Best Horror","The Institute",75,717), ("Best History & Biography","The five",31,783 ), ("Best Fiction","The Testaments",98,291) )
print(f'Size of the tuple is: {len(book_info)}')
for i in book_info:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

Task 4

Assume, you have been given a tuple with details about books that won the Good Reads Choice Awards.

book_info = (("Best Mystery & Thriller","The Silent Patient",68821),("Best Horror","The Institute",75717),("Best History & Biography","The five",31783 ),("Best Fiction","The Testaments",98291)) 

Write a Python program that prints the award category, the book name, and its total votes earned as shown below.

[Must use Tuple unpacking for printing and need to handle the quotation marks as a part of the output]


Output:

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes

The Institute won the 'Best Horror' category with 75717 votes

The five won the 'Best History & Biography' category with 31783 votes

The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#task4
book_info = (("Best Mystery & Thriller","The Silent Patient",68821),("Best Horror","The Institute",75717),("Best History & Biography","The five",31783 ),("Best Fiction","The Testaments",98291))
for i in book_info:
  a,b,c = i
  print(f"{b} won the '{a}' category with {c} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

Task 5

Write a python program that takes an input from the user and finds the number of times that the input is present in a given tuple.


Example 1:

Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

Sample Input 1:

8

Sample Output 1:

8 appears 4 times in the tuple


Example 2

Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

Sample Input 2:

1

Sample Output 2:

1 appears 0 times in the tuple

In [ ]:
#task5
t = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
x = int(input())
a = 0
for i in t:
  if i == x:
    a+=1
print(f'{x} appears {a} times in the tuple')

8
8 appears 4 times in the tuple

Task 6

Write a Python program to reverse a given tuple.

[You are not allowed to use slicing]

Note: Unlike lists, tuples are immutable. So, in order to reverse a tuple, we may need to convert it into a list first, then modify the list, and finally convert it back to a tuple.


Example 1:

Given tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

Output:

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')


Example 2:

Given tuple: (10, 20, 30, 40, 50, 60)

Output:

(60, 50, 40, 30, 20, 10)

In [ ]:
#task6
gt = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
gl = list(gt)
l = []
for i in range(len(gl)-1,-1,-1):
  l.append(gl[i])
print(tuple(l))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

Task 7

Suppose you are given two dictionaries.

Now create a new dictionary "marks", merging the two dictionaries, so that the original two dictionaries remain unchanged.

Note: You can use dictionary functions.


Given:

{'Harry':15, 'Draco':8, 'Nevil':19}

{'Ginie':18, 'Luna': 14}

Output:

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}


Given:

{'A':90, 'B': 0}

{'C':50}

Output:

{'A': 90, 'B': 0, 'C': 50}

In [ ]:
#task7
a = {'Harry':15, 'Draco':8, 'Nevil':19}
b = {'Ginie':18, 'Luna': 14}
c = {}
for i,j in a.items():
  c[i] = j
for k,l in b.items():
  c[k] = l
print(c)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

Task 8

Write a Python program that takes a dictionary as an input from the user and then prints the average of all the values in the dictionary.

[You are not allowed to use len() and sum()]


Hint (1): For taking dictionary input

Approach (1): For taking dictionary as an input from the user, you may take the whole dictionary as a string using the input() function. Then you can use the split(), strip() functions and conditions to get the keys and values from the string. Finally, you can make the dictionary using the obtained data.

Approach (2): If the first approach seems too difficult you can create an empty dictionary and then just run a simple loop. For each iteration ask the user for a key and a value using the input() function and keep updating the dictionary with the key and value.

Hint (2): After you have a dictionary, you can use dictionary functions to get all the values from it, run loop to calculate the sum and the total number of values in the dictionary in order to find out the average.


Sample Input 1:

Jon:100, Dan:200, Rob:300

Sample Output 1:

Average is 200.


Sample Input 2:

Jon:100, Dan:200, Rob:30, Ned:110

Sample Output 2:

Average is 110.

In [ ]:
#task8
d ={}
x = 0
y = 0
s = input().split(', ')
for i in s:
  a = i.split(':')
  d[a[0]] = int(a[1])
for j in d.values():
  x+=j
  y+=1
print(f'Average is {int(x/y)}')

Jon:100, Dan:200, Rob:30, Ned:110
Average is 110

Task 9

Suppose there is a dictionary named exam_marks as given below.

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

Write a Python program that takes an input from the user and creates a new dictionary with only those elements from 'exam_marks' whose keys have values higher than the user input (inclusive).


Sample Input 1:

170

Sample Output 1:

{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}


Sample Input 2:

190

Sample Output 2:

{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#task9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
x = int(input())
a = {}
for i,j in exam_marks.items():
  if j >= x :
    a[i] = j
print(a)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

Task 10

Write a Python program that finds the largest value with its key from a given dictionary.

[You are not allowed to use the max() function for this task]

Note: You do not need to take the dictionaries as an input from the user but your code should work for any given dictionary. Also, you need to handle the quotation marks as a part of the output.

Hint: Think of membership operators (in and not in). You can use dictionary functions to get the values.


Sample 1:

Given:

{'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

Output:

The highest selling book genre is 'mystery' and the number of books sold are 15.


Sample 2:

Given:

{'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}

Output:

The highest selling book genre is 'horror' and the number of books sold are 14.

In [ ]:
#task10
dic = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
a = []
for i in dic.values():
  a.append(i)
b = a[0]
for j,k in dic.items():
  if k > b :
    b = k
    x = j
print(f"The highest selling book genre is '{x}' and the number of books sold are {b}.")

The highest selling book genre is 'horror' and the number of books sold are 14.

Task 11

Write a Python program that takes a String as an input from the user and counts the frequency of each character using a dictionary. For solving this problem, you may use each character as a key and its frequency as values. [You are not allowed to use the count() function]

Hint: You can create a new dictionary to store the frequencies. You may ignore case for simplicity (i.e. may consider P and p to be the same).


Sample Input:

"Python programming is fun"

Sample Output:

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task11
string = input()
x = string.lower()
a = {}
for i in x:
  if i !=' ':
    if i not in a.keys():
      a[i] = 1
    else:
      a[i]+=1
print(a)

Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

Task 12

Suppose you are given the following dictionary where the values are lists.

dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

Write a Python program that counts the total number of items in a dictionaryâs values and prints it.

[Without using sum(), len(), count() functions]

Note: Make changes to the above dictionary and see if your code works properly for other dictionaries as well.


Output:

9

In [ ]:
#task12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
x = 0
for i in dict_1.values():
  for j in i:
    x+=1
print(x)

9

Task 13

Suppose you have been given the following list of tuples.

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

Write a Python program that converts this list of tuples into a dictionary and then prints the dictionary. The items in each tuple are a key and its value respectively. You need to group the values with the same keys into a list as shown below.

[You are not allowed to use set]

Hint: Think of membership operators (in and not in).


Output:

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#task13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
d = {}
for i in list_1:
  if i[0] not in d:
    d[i[0]]=[i[1]]
  else:
    d[i[0]].append(i[1])
print(d)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#TASK14_TRACING
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

#LAB6(UNGRADED)

Task 15

Given a list of tuples, your task is to multiply the elements of the tuple and return a list of multiplied elements as shown below.


Example 1:

Given:

[(2, 3), (4, 5), (6, 7), (2, 8)]

Output:

[6, 20, 42, 16]


Example 2:

Given:

[(11, 22), (33, 55), (55, 77), (11, 44)]

Output:

[242, 1815, 4235, 484]

Task 16

Assume, you have been given a tuple as below.

a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])

Write a Python program that asks the user for an input (can be any data type) and replaces the last element of each of the inner lists with the user given value.


Sample Input 1:

abc

Sample Output 1:

([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])


Sample Input 1:

1000

Sample Output 1:

([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

Task 17

Suppose there is a dictionary named my_dictionary.

my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}.

Now write a Python program to remove empty items from the dictionary. 

[Empty items means keys without any values (None)].


Output:

{'c1':'Red', 'c2':'Green', 'd4':'Blue'}

Task 18

Suppose you are given a dictionary as shown below. Write a Python program that takes two inputs from the user representing the lower (inclusive) and upper (exclusive) of a range of values. Your task is to extract all the items from the dictionary whose values lie in the range given as input by the user.

dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}


Sample Input 1:

9, 12

Sample Output 1:

{'c': 9, 'e': 11}

Explanation: Keys with values within the range of 9 and 11 are extracted.


Sample Input 2:

14, 18

Sample Output 2:

{}

Explanation: No values in range.

Task 19

Given a list of tuples, your task is to group the tuples based on the second element in the tuples as shown in the examples below. We can achieve this using dictionary by checking the second element in each tuple.

[You do not need to take tuple as input and can assume that it is given as below]


Example 1:

Given:

[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]

Output:

{80: [(20, 80), (31, 80)],11: [(88, 11), (27, 11)],22: [(1, 22)]}


Example 2:

Given:

[(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]

Output:

{'NotSad': [(88, 'NotSad'), (27, 'NotSad')],'Sad: [(20, 'Sad'), (31, 'Sad')]}


Task 20

Write a python program that takes 2 inputs from the user.

Input1: A string containing a single sentence or multiple sentences. Multiple sentences are separated by full stops.

Input2: A list containing special characters.

After taking the inputs, your task is to create a dictionary where the keys will be the corresponding special characters from the given list and the values will be the words in the given sentence.

You need to find out which key belongs to which value. To do that, you should calculate the index number using the formula given below. The calculated index is the corresponding key of the word. Make sure no duplicate values are inserted.


The formula: 

Index value of special character list = (ASCII sum of the word) % (length of special character list)


Sample Input 1:

'I love Programming. Python is love.'

['@', '$', '&', '#']

Sample Output 1: 

Words in the given String: ['I', 'love', 'Programming', 'Python', 'is', 'love']

Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}

Explanation 1: 

From the string 'I love Programming. Python is love.' the {key: value} pair is calculated accordingly:



```
WORD            ASCII SUM   LIST LENGTH   CALCULATED INDEX    KEY
-----------------------------------------------------------------
I                  73           4             73%4 = 1        '$'
love              438           4            438%4 = 2        '&'
Programming      1155           4           1155%4 = 3        '#'
Python            642           4            642%4 = 2        '&'
is                220           4            220%4 = 0        '@'
love              438           4            438%4 = 2        '&'
```



The calculation is shown in the given table. Full stops after âProgramming.â and âlove.â are avoided. Also, the last word âloveâ is a duplicate, and therefore, it was not inserted again as a value.


Sample Input 2:


'The secret of getting ahead is getting started.'

['-', '=', '+', '*', '%']

Sample Output 2: 

Words in the given String: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']

Answer: {'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '*': ['of'], '-': ['is']}

Explanation 2: 

From the string 'The secret of getting ahead is getting started.' the {key: value} pair is calculated accordingly:

```
WORD            ASCII SUM   LIST LENGTH   CALCULATED INDEX    KEY
-----------------------------------------------------------------
The                289          5            289%5 = 4        '%'
secret             646          5            646%5 = 1        '='
of                 213          5            213%5 = 3        '*'
getting            754          5            754%5 = 4        '%'
ahead              499          5            499%5 = 4        '%'
is                 220          5            220%5 = 0        '-'
getting            754          5            754%5 = 4        '%'
started            759          5            759%5 = 4        '%'
```

The calculation is shown in the given table. Full stop after âstarted.â is avoided. Also, the word âgettingâ is a duplicate and therefore it was not inserted again as a value.

#LAB7(GRADED)

Task 1

Write a function called even_checker that takes a number as an argument and prints whether the number is even or odd inside the function.


Example1: 

Function Call:

even_checker(5)

Output:

Odd!!


Example2: 

Function Call:

even_checker(2)

Output:

Even!!

In [ ]:
#task1
def even_checker(a):
    if a%2 == 0:
        print('Even!!')
    else:
        print('Odd!!')
even_checker(5)

Odd!!

Task 2

Write a python function that takes the limit as an argument of the Fibonacci series and prints till that limit. 


Function Call:

fibonacci(10)

Output:

0 1 1 2 3 5 8


Function Call:

fibonacci(5)

Output:

0 1 1 2 3 5

In [ ]:
#task2
def fibonacci(x):
  a=0
  b=1
  while a<=x:
    print(a,end=' ')
    c=a+b
    a=b
    b=c
fibonacci(10)

0 1 1 2 3 5 8

Task 3

Write a function called foo_moo that takes a number as an argument and returns the following statements according to the below mentioned conditions. Then, finally prints the statement in the function call. 

If the number is divisible by 2, it should return "Foo".

If the number is divisible by 3, it should return "Moo". 

If the number is divisible by both 2 and 3, it should return "FooMoo".

Otherwise, it returns "Boo".


Example1: 

Function Call:

foo_moo(5)

Output:

Boo

Example2: 

Function Call:

foo_moo(4)

Output:

Foo

Example3: 

Function Call:

foo_moo(6)

Output:

FooMoo

In [ ]:
#task3
def foo_moo(a):
    c = 'Boo'
    if a%2 == 0 and a%3 == 0:
        c = 'FooMoo'
    elif a%2 == 0:
        c = 'Foo'
    elif a%3 == 0:
        c = 'Moo'
    return(c)
    
print(foo_moo(6))

FooMoo

Task 4

Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function. 


Function Call:

function_name('The quick Sand Man')

Output:

No. of Uppercase characters : 3

No. of Lowercase Characters: 12


Function Call:

function_name('HaRRy PotteR')

Output:

No. of Uppercase characters : 5

No. of Lowercase Characters: 6

In [ ]:
#task4
def count_ul(a):
    b = 0
    c = 0
    for i in a:
        j = ord(i)
        if j>= 65 and j<= 90:
            b+=1
        elif j>= 97 and j<=122:
            c+=1
    print(f'No. of Uppercase characters : {b}')
    print(f'No. of Lowercase Characters: {c}')
count_ul('The quick Sand Man')

No. of Uppercase characters : 3
No. of Lowercase Characters: 12

Task 5

Write a function called calculate_tax that takes 3 arguments: your age, salary, and current job designation.

Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and calculate the tax as the following conditions:


*  NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.
*  NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY .
*  No tax if you get paid less than 10,000
*  5% tax if you get paid between 10K and 20K
*  10% tax if you get paid more than 20K

Finally return this tax value. Then print the returned value in the function call.


Hints:

Here the job designation is a string, so it can be written in both uppercase and lower cases. So, you need to check the value ignoring the case.


Example1: 

Input:

16

20000

Student

Function Call:

calculate_tax(16, 20000, 'Student')

Output:

0


Example2: 

Input:

20

18000

assistant manager

Function Call:

calculate_tax(20, 18000, 'assistant manager')

Output:

900.0


Example3: 

Input:

20

22000

assistant manager

Function Call:

calculate_tax(20, 22000, 'Assistant manager')

Output:

2200.0


Example4:

Input:

20

122000

president

Function Call:

calculate_tax(20, 122000, 'president')

Output:

0

In [ ]:
#task5
def calculate_tax(age,salary,cjd):
    cjd = cjd.lower()
    a = 0
    if age < 18 or cjd == 'president' or salary < 10000:
        a = 0
    elif 20000>=salary>= 10000:
        a = (salary*0.05)
    else:
        a = (salary*0.1)
    return(a)
print(calculate_tax(int(input()),int(input()),input()))

22
22000
assistant manager
2200.0

Task 6

Write a function which will take 1 argument, number of days.

Your first task is to take the number of days as user input and pass the value to the function.

Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function. 

Note: Assume, each year to be 365 days and month to be 30 days.


Hint(1): Divide and mod the main input to get the desired output.

Hint(2): This taskâs calculation is similar to Assignment-1âs seconds to hours, minutes conversion.


Example01

Input:

4330

Function Call:

function_name(4330)

Output:

11 years, 10 months and 15 days


Example02

Input:

2250

Function Call:

function_name(2250)

Output:

6 years, 2 months and 0 days

In [ ]:
#task6
def days(day):
    a = day//365
    b = (day%365)
    c = b//30
    d = b%30
    print(f'{a} years, {c} months and {d} days')
days(int(input()))

4330
11 years, 10 months and 15 days

Task 7

Write a function called show_palindrome that takes a number as an argument and then returns a palindrome string. Finally, prints the returned value in the function call.


Example1: 

Function Call:

show_palindrome(5)

Output:

123454321


Example2: 

Function Call:

show_palindrome(3)

Output:

12321

In [ ]:
#task7
def show_palindrome(a):
    b = ''
    for i in range(1,a+1):
        b+=str(i)
    for j in b[-2::-1]:
        b+=j
    return(b)
print(show_palindrome(5))

123454321

Task 8

Write a function called show_palindromic_triangle that takes a number as an argument and prints a Palindromic Triangle in the function.

[Must reuse the show_palindrome() function of the previous task]


Hints(1): 

Need to use both print() and print( , end = " ") functions


Example1: 

Function Call:

show_palindromic_triangle(5)

Output:

â â

```
 â            â 1
â â â       1   2   1 
â â     1   2   3   2   1 
  â 1   2   3   4   3   2   1 
1   2   3   4   5   4   3   2   1

```



Example2: 

Function Call:

show_palindromic_triangle(3)

Output:



```
â â     1 
â   1   2   1 
1   2   3   2   1
```

In [ ]:
#task8
def show_palindromic_triangle(a):
  x = ''
  b = (a*2)-2
  for i in range(1,a+1):
    for j in range(1,i+1):
      x+=' '+str(j)
    for j in x[-2::-1]:
      x+=j
    print(' '*b,x)
    x = ''
    b-=2
show_palindromic_triangle(5)

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

Task 9

Write a function called area_circumference_generator that takes a radius of a circle as a function parameter and calculates its circumference and area. Then returns these two results as a tuple and prints the results using tuple unpacking in the function call according to the given format.

[Must use tuple packing & unpacking] 


Example1: 

Function Call:

area_circumference_generator(1)

Output:

(3.141592653589793, 6.283185307179586)

Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

Example2:

Function Call:

area_circumference_generator(1.5)

Output:

(7.0685834705770345, 9.42477796076938)

Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938


Example3:

Function Call:

area_circumference_generator(2.5)

Output:

(19.634954084936208, 15.707963267948966)

Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

In [ ]:
#task9
import math
def area_circumference_generator(r):
  area = (math.pi*(r**2))
  cir = (2*r*math.pi)
  x = area,cir
  return x
a = area_circumference_generator(2.5)
area,cir = a
print(a)
print(f'Area of the circle is {area} and circumference is {cir}')

(19.634954084936208, 15.707963267948966)
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

Task 10

Write a function called make_square that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should return a dictionary with the numbers as keys and its squares as values.


Hints: 

You need to declare a dictionary to store the result. You should use the range function to run the âfor loopâ.


Example1: 

Function Call:

make_square((1,3))

Output:

{1: 1, 2: 4, 3: 9}


Example2: 

Function Call:

make_square((5,9))

Output:

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#task10
def make_square(a):
  x = {}
  for i in range(a[0],a[1]+1):
    x[i] = (i**2)
  return x
print(make_square((5,9)))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Task 11

Write a function called rem_duplicate that takes a tuple in the parameter and return a tuple removing all the duplicate values. Then print the returned tuple in the function call.

[Cannot use remove() or removed() for this task] 


Hints: 

Unlike lists, tuples are immutable, so the tuple taken as an argument cannot be modified. But the list can be modified and lastly for returning the result use type conversion. You need to use membership operators (in, not in) for preventing adding any duplicates values.


Example1: 

Function Call:

rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

Output:

(1, 2, 3, 4, 5, 6, 0)


Example2:

Function Call:

rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))

Output:

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#task11
def rem_duplicate(a):
  b = [a[0]]
  for i in a:
    if i not in b:
      b.append(i)
  return tuple(b)
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

Task 12

Write a python function that takes a list as an argument. Your task is to create a new list where each element can be present at max 2 times. Inside the function, print the number of elements removed from the given list. Finally, return the new list and print the result.


Hint: You may use list_name.count(element) to count the total number of times an element is in a list. list_name is your new list for this problem.


Function Call:

function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

Output:

Removed: 2

[1, 2, 3, 3, 4, 5, 8, 8]


Function Call:

function_name([10, 10, 15, 15, 20])

Output:

Removed: 0

[10, 10, 15, 15, 20]

In [ ]:
#task12
def double(a):
  b = []
  for i in a:
    count1 = a.count(i)
    count2 = b.count(i)
    if (count1 >= 2):
        if count2 < 2:
            b.append(i)
    else:
        b.append(i)
  print(f'Removed: {len(a)-len(b)}')
  return b
print(double([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

Task 13

Write a python function that will perform the basic calculation (addition, subtraction, multiplication and division) based on 3 arguments. They are:

* Operator ('+', '-', '/', '*')
* First Operand (any number)
* Second Operand (any number)

Your first task is to take these arguments as user input and pass the values to the function parameters.

Your second task is to write a function and perform the calculation based on the given operator.

Then, finally return the result in the function call and print the result.


Input:

"+"

10

20

Function Call:

function_name("+", 10, 20)

Output:

30.0

Input:

"*"

5.5

2.5

Function Call:

function_name("*", 5.5, 2.5)

Output:

13.75

In [ ]:
#task13
def cal(op,fo,so):
  if op == '+':
    a = fo+so
  elif op == '-':
    a = fo-so
  elif op == '/':
    a = fo/so
  elif op == '*':
    a = fo*so
  return a
print(cal(input(),float(input()),float(input())))

*
5.5
2.5
13.75

Task 14

Write a function which will take 2 arguments. They are:

* Sentence 
* Position 

Your first task is to take these arguments as user input and pass these values to the function parameters.

Your second task is to implement the function and remove the characters at the index number which is divisible by the position (Avoid the index number 0 as it will always be divisible by the position, so no need to remove the index 0 character).

Finally, add the removed characters at the end of the new string.

Return the value and then finally, print the new string at the function call.

[Cannot use remove() or removed() for this task] 


Input:

"I love programming."

3

Function call:

function_name("I love programming.", 3)

Output:

I lveprgrmmngo oai.

Input:

"Python is easy to learn. I love python."

6

Function call:

function_name("Python is easy to learn. I love python.", 6)

Output:

Pythonis eay to earn.I lov pythn. sl eo

In [ ]:
#task14
#Pythonis eay to earn.I lov pythn. sl eo
def rem(sen,pos):
  a = ''
  b = ''
  for i in range(1,len(sen)):
    if i%pos == 0:
      a+=sen[i]
    else:
      b+=sen[i]
  return(sen[0]+b+a)
print(rem(input(),int(input())))

Python is easy to learn. I love python.
6
Pythonis eay to earn.I lov pythn. sl eo

Task 15

You have been hired as an app developer for the company. The company plans to make an app for a grocery store where the user can order groceries and see the total amount to be paid in the cart section. 

To build this feature, you have to write a function that takes 2 arguments. They are:

* order_items (must be a list)
* location (default value should be set to "Dhanmondi")

Your first task is to take a list of items from the user. Pass the list into the function parameter along with the optional location (Use default argument technique). (Also, no need to take location as input, pass this any value you want.) 

Your second task is to implement the function. In the function, create a dictionary for the items shown in the table. Calculate the total price of the items passed as a list to the function. Additionally, add a delivery fee of 30 taka if the location is Dhanmondi. Otherwise, add a delivery fee of 70 taka. Finally, return the value and print it.



```
Item     Price(Tk)
Rice       105
Potato     20
Chicken    250
Beef       510
Oil        85
```

Hint: The keys are the items and values are the corresponding price. Iterate the items in the list and check if the items in the list are 

Example1:

function_name(["Rice", "Beef", "Rice"], "Mohakhali")

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)

total = 720 + 70 = 790 (Finally, add the delivery fee based on the location.)

Input:

["Rice", "Beef", "Rice"]

Function Call:

function_name(["Rice", "Beef", "Rice"], "Mohakhali")

Output:

790


Example2:

function_name(["Rice", "Beef", "Rice"])

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)

total = 720 + 30 = 750 (Since no location is passed in the parameter, it will use the default location-"Dhanmondi". For Dhanmondi, delivery fee of 30 taka)

Input:

["Rice", "Beef", "Rice"]

Function Call:

function_name(["Rice", "Beef", "Rice"])

Output:

750

In [ ]:
#task15
def food(oi,lc='Dhanmondi'):
  oi = oi[2:len(oi)-2:]
  oi = oi.split('", "')
  total = 0
  fp = {'Rice':105,'Potato':20,'Chicken':250,'Beef':510,'Oil':85}
  for i in oi:
    total+=fp[i]
  if lc != 'Dhanmondi':
    total+=70
  else:
    total+=30
  return total
print(food(input(),'Mohakhali'))

["Rice", "Beef", "Rice"]
790

#LAB7(UNGRADED)

Task 16

Write a function called splitting_money that takes an âamountâ of money as an argument.

Your first task is to take the âamountâ of money as user input and pass the value to the function parameter.

Your second task is to implement the function and calculate how that money can be split into 500, 100, 50, 20, 10, 5, 2, and 1 taka notes.

Then print the returned value in the function call.


Hints: 

This taskâs calculation is similar to Assignment-1âs seconds to hours, minutes conversion. To return the result containing multiple strings, you need to store it in a variable and return it at the end of the function.


Example1: 

If the money is 1234, then the function should return 

"500 Taka: 2 note(s) 

100 Taka: 2 note(s) 

20 Taka: 1 note(s) 

10 Taka: 1 note(s) 

2 Taka: 2 note(s)"


Example2: 

If the money is 151, then the function should return

"100 Taka: 1 note(s)

50 Taka: 1 note(s)

1 Taka: 1 note(s)"

Task 17

Write a function called remove_odd that takes a list of numbers that have both even and odd numbers mixed. 

Your function should remove all the odd numbers and return a compact list which only contains the even numbers. 

[Cannot use remove() or removed() for this task] 


Example1: 

Function Call:

remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])

Output:

[44, 66, 88, 10]

Example2: 

Function Call:

remove_odd ([11,2,3,4,5,2,0,5,3])

Output:

[2, 4, 2, 0]

Task 18

Write a function which will take 4 arguments. They are:
* starting value(inclusive)
* ending value(exclusive)
* first divisor
* second divisor

Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and find all the numbers that are divisible by the first divisor or second divisor but not both from the starting value(inclusive) and ending value(exclusive). Add all the numbers that are divisible and finally return this value. Print the returned value in the function call.


Input:

10

40

4

7

Function Call:

function_name(10, 40, 4, 7)

Output:

210


Input:

5

100

3

4

Function Call:

function_name(5, 100, 3, 4)

Output:

2012

Task 19

Write a python function which will take a string as an argument. 
Your first task is to take a string as user input and pass the value to the function.

Your second task is to implement a function which will check whether all the alphabets from a to j (convert all the alphabets to lowercase) have appeared at least once in the given string or not.

* If all of these alphabets (a to j) appear at least once, then the result will be 5. 

* If any one of the alphabets (a to j) is not in the given string, then the result will be 6.

Return this result and print the statement, "PSG will win the Champions League this season" that many times.


Example01: "A black jackal is hunting a full grown deer"

Here all the alphabets from A to J are present at least once. So, the function will return 5 and will print the statement 5 times.

Input:

"A black jackal is hunting a full grown deer"

Function Call:

function_name("A black jackal is hunting a full grown deer")

Output:

PSG will win the Champions League this season

PSG will win the Champions League this season

PSG will win the Champions League this season

PSG will win the Champions League this season

PSG will win the Champions League this season


Example02:

Input:

"ABBCDEFEFGHI"

Function Call:

function_name("ABBCDEFEFGHI")

Output:

PSG will win the Champions League this season

PSG will win the Champions League this season

PSG will win the Champions League this season

PSG will win the Champions League this season

PSG will win the Champions League this season

PSG will win the Champions League this season

Task 20

Write a function called individul_bonus_calculation which will take 4 arguments. They are:

* The player name
* Yearly earning of that player
* The total goal scored this season by that player
* Bonus percent per goal.

Your task is to implement the above-mentioned function that will calculate the total bonus on the yearly earnings of a player for the total goals he has scored.

Additionally, 

* If the goal scored is above 30, add a (additional) bonus of 10000 taka.
* If it is between 20 and 30 inclusive, add an extra 5000 taka.

[ For this task, there is no need to take any input from the user. Call the functions and print the values inside the function. ] 


Example1:

individul_bonus_calculation("Neymar", 1200000, 35, 5)

bonus = 35 * (5 / 100 * 1200000) + 10000 = 2110000

Function call:

individul_bonus_calculation("Neymar", 1200000, 35, 5)

Output:

Neymar earned a bonus of 2110000 Taka for 35 goals.


Example2:

individul_bonus_calculation('Jamal', 700000, 19, 8)

bonus = 19 * (8 / 100 * 700000) + 0 = 1064000

Function call:

individul_bonus_calculation('Jamal', 700000, 19, 8)

Output:

Jamal earned a bonus of 1064000 Taka for 19 goals.


Example3:

individul_bonus_calculation('Luis', 80000, 25, 10)

bonus = 25 * (10 / 100 * 80000) + 5000 = 205000

Function call:

individul_bonus_calculation('Luis', 80000, 25, 10)

Output:

Luis earned a bonus of 205000 Taka for 25 goals.

Task 21

You have been hired by the Abahani football club to write a function that will calculate the total bonus on the yearly earnings of each player for the total goals they have scored.

Since the number of players will vary, you decide to use the "*args" technique that you learned in your CSE110 class. 

For each player: pass the name, yearly earning, the total goal scored this season, bonus percent per goal. 

Additionally, 

* If the goal scored is above 30, add an extra bonus of 10000 taka. 
* If it is between 20 and 30 inclusive, add an extra 5000 taka.

[ For this task, there is no need to take any input from the user. Call the functions and print the values inside the function. ] 

[Must reuse the individul_bonus_calculation() function of the previous task]


Example1:

cal_bonus("Neymar", 1200000, 35, 5)

bonus = 35 * (5 / 100 * 1200000) + 10000 = 2110000

Function call:

cal_bonus("Neymar", 1200000, 35, 5)

Output:

Neymar earned a bonus of 2110000 Taka for 35 goals.

Example2:

Function call:

function_name("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)

Output:

Neymar earned a bonus of 3605000 Taka for 30 goals.

Jamal earned a bonus of 665000 Taka for 19 goals.


Example3:

Function call:

function_name("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10))

Output:

Neymar earned a bonus of 2110000 Taka for 35 goals.

Jamal earned a bonus of 1064000 Taka for 19 goals.

Luis earned a bonus of 205000 Taka for 25 goals.

#QUIZ1

Write a python program that will take an integer number of at least two digits from the user and check if the number is a magic number or not. An integer is said to be a magic number if the last digit of the number is either divisible by 3 or 2 but not both.

[Consider the input number to be an INTEGER. You are not allowed to use String indexing for solving this task]                                                                      

Sample Input 1:

324

Sample output 1:

The last digit is 4

324 is a Magic number

Explanation: 

324 is a magic number because the last digit of the number is 4 which is divisible by 2.

Sample Input 2:

7446

Sample output 2:

The last digit is 6

7446 is not a Magic number

Explanation: 

7446 is not a magic number because the last digit of the number is 6 which is divisible by both 3 and 2.

Sample Input 3:

25

Sample output 3:

The last digit is 5

25 is not a Magic number

Explanation: 

25 is not a magic number because the last digit of the number is 5 which is not divisible by either 3 or 2.

In [ ]:
#SetA
num = int(input())
x =num%10
print('The last digit is', x)
if x%2 == 0 and x%3 == 0:
  print(num, 'is not a Magic number')
elif x%2 == 0 or x%3 == 0:
  print(num, 'is a Magic number')
else:
  print(num, 'is not a Magic number')

25
The last digit is 5
25 is not a Magic number

Write a python program that will take an integer number of at least three digits from the user and check if the number is a happy number or not. An integer is said to be a happy number if the summation of the last two digits of the number is divisible by 4.  

[Consider the input number to be an INTEGER. You are not allowed to use String indexing for solving this task]                                                                      

Sample Input 1:

362

Sample output 1:

362 is a Happy number

Explanation: 

362 is a happy number because the summation of the last two digits of the number is 6+2=8 which is divisible by 4.

Sample Input 2:

12567

Sample output 2:

12567 is not a Happy number

Explanation: 

12567 is not a happy number because the summation of the last two digits of the number is 6+7= 13 which is not divisible by 4.

In [ ]:
#SetB
num = int(input())
x = num%10
y = (num//10)%10
z = x+y
print(z)
if z%4 == 0:
  print(num, 'is a Happy number')
else:
  print(num, 'is not a Happy number')

12567
13
12567 is not a Happy number

Write a python program that will take an integer number (N) from the user and print all the divisors of that number which are in between 2 to N (inclusive).  If the summation of the divisors is an odd number then divide the input number (N) by the total number of divisors and print it. If the summation of the divisors is an even number then print the input number.

Sample Input 1:

56

Sample output 1:

Divisors: 2 4 7 8 14 28 56 

8.0

Explanation: 

All the divisors of 56 in between 2 to 56 are 2,4,7,8,14,28 and 56 (Total 7 divisors). The summation of all the divisors is 2+4+7+8+14+28+56 = 119 which is an odd number.  After dividing the summation by the total number of divisors, the result is 119/7 = 8.0

Sample Input 2:

9

Sample output 2:

Divisors: 3 9 

9

Explanation: 

All the divisors of 9 in between 2 to 9 are 3 and 9 (Total 2 divisors). The summation of all the divisors is 3 + 9 = 12 which is an even number. So the result is 9.

In [ ]:
#setC
num = int(input())
x = 0
y = 0
print('Divisors: ', end= '')
for i in range(2,num+1):
  if num%i == 0:
    x+=i
    y+=1
    print(i,end=' ')
print()
if x%2 != 0:
  print(num/y)
else:
  print(num)

9
Divisors: 3 9
9

Write a python program that will take an integer number (N) from the user and print all the divisors of that number which are in between 3 to N (inclusive)  and divisible by 2.  If the summation of the divisors is a multiple of 5 then divide the summation by 5 and print it. Otherwise, print the input number.

Sample Input 1:

78

Sample output 1:

6 26 78 

22.0

Explanation: 

All the even divisors of 78 in between 3 to 78 are 6, 26, and 78. The summation of all the divisors is 6 + 26 + 78 = 110 which is a multiple of 5.  After dividing the summation by 5,  the result is 110/5 = 22.0

Sample Input 2:

66

Sample output 2:

6 22 66 

66

Explanation: 

All the even divisors of 66 in between 3 to 66 are 6, 22, and 66. The summation of all the divisors is 6 + 22 + 66 = 94  which is not a multiple of 5. So the result is 66.

In [ ]:
#SetD
num = int(input())
x = 0
for i in range(3,num+1):
  if i%2 == 0 and num%i == 0:
      x+=i
      print(i, end=' ')
print()
if x%5 == 0:
  print(x/5)
else:
  print(num)

66
6 22 66
66

Write a python program that will at first take how many items a customer will buy from a shop. Then take the price of all the items from the user. If the total cost of the items is divisible by 5 then the customer will get a 5% discount on the total cost. Otherwise, the customer will get a 10% discount on the total cost.  Print the actual price and the price after the discount.                                                          

Sample Input 1:

5

98

45

112

3342

65

Sample Output 1:

Price before discount: 3662

Price after discount: 3295.8

Explanation: 

As the user enters 5 as an input, thatâs why the program should ask the price of 5 items from the user. The total cost of the items is 98+45+112+3342+65 = 3662 which is not divisible by 5. So the customer will get a 10% discount. After discount the total price is 3662-(3662 x 10%) = 3295.8

In [ ]:
#SetE
num = int(input('Item '))
x = 0
for i in range(num):
  num1 = int(input('Price '))
  x+=num1
print('Price before discount: ', x)
if x%5 == 0:
  print('Price after discount: ', (x*0.05))
else:
  print('Price after discount: ', (x-(x*0.1)))

Item 5
Price 98
Price 45
Price 112
Price 3342
Price 65
Price before discount:  3662
Price after discount:  3295.8

Write a python program that will at first take how many items a customer will buy from a shop. Then take the price of all the items from the user. The customer will get a 5% discount only on those items whose price is divisible by 2. Print the actual price and the price after the discount.

Sample Input 1:

5

45

44

875

34

89

Sample Output 1:

Price before discount: 1087

Price after discount: 1083.1

Explanation: 

As the user enters 5 as an input, thatâs why the program should ask the price of 5 items from the user. The total cost of the items is 45+44+875+34+89 = 1087. After applying a 5% discount only on those items whose price is divisible by 2, the discounted price is 1087 - (44+34) x 5% = 1087 - (78 x 5%) = 1083.1

In [ ]:
#SetF
num = int(input('Item '))
x = 0
y = 0
for i in range(num):
  num1 = int(input('Price '))
  x+=num1
  if num1%2 == 0:
    z = num1*0.05
    y+=z
print('Price before discount: ', x)
print('Price after discount: ', (x-y))

Item 5
Price 45
Price 44
Price 875
Price 34
Price 89
Price before discount:  1087
Price after discount:  1083.1

#QUIZ1(TRACING)

In [ ]:
#SetA
p, sum , z = 0 , 20, 70
while (z > 7):
  while ( sum < z+1 ):
    p = z + sum -29
    print(3 + int (p / 5))
    sum += 10
  z -= 15
print(False and (True or not True) or not False)
print(sum // 7 + 2)
print(z+2 > 9 == False)
print(int(69/7 + 3))

15
17
19
21
23
25
True
13
False
12

In [ ]:
#SetB
p, j , k = 0 , 20, 70
while (k > 5):
  while ( j < k ):
    p = k + j -35
    print(3 + int (p / 2))
    j += 10
  k -= 15
print(True and (False or not True) or not False)
print(j % 7 + 2)
print(k > 9 == False)
print(p == 45)
print(14/7 + 3)

30
35
40
45
50
True
2
False
False
5.0

In [ ]:
#SetC
p, j , k = 0 , 20, 70
while (k > 5):
  while ( j < k ):
    p = k + j -35
    print(3 + int (p / 2))
    j += 10
  k -= 15
print(True and (False or not True) or not False)
print(j % 7 + 2)
print(k > 9 or not False)
print(p == 45)
print(14/7 + 3)

30
35
40
45
50
True
2
True
False
5.0

In [ ]:
#SetD
p, sum , z = 0 , 20, 70
while (z > 7):
  while ( sum < z+1 ):
    p = z + sum -29
    print(7 + (p // 5))
    sum += 10
  z -= 15
print(False and (True or not True) or not False)
print(sum // 7 + 2)
print(z+2 > 9 or False)
print(int(69/7 + 7))

19
21
23
25
27
29
True
13
False
16

In [ ]:
#SetE
p, sum , z = 0 , 20, 70
while (z > 7):
  while ( sum < z+1 ):
    p = z + sum -29
    print(3 + int (p / 5))
    sum += 10
  z -= 15
print(False and (True or not True) or not False)
print(sum // 7 + 2)
print(z+2 > 9 == False)
print(int(69/7 + 3))

15
17
19
21
23
25
True
13
False
12

In [ ]:
#SetF
p, j , k = 0 , 20, 70
while (k > 5):
  while ( j < k ):
    p = k + j -35
    print(3 + int (p / 2))
    j += 10
  k -= 15
print(True and (False or not True) or not False)
print(j % 7 + 2)
print(k > 9 == False)
print(p == 45)
print(14/7 + 3)

30
35
40
45
50
True
2
False
False
5.0

#QUIZ2

Write a python program that will take a one-word string as input from the user. [Assume that the user will always give an input containing only uppercase and lowercase letters]. Print the uppercase and lowercase letters from the input string and create a new string combining the upper and lowercase letters.

Sample Input 1:

BanGLAdeSh

Sample output 1:

Uppercase: BGLAS

Lowercase: andeh

New String: BGLASandeh

Sample Input 2:

pyTHoN

Sample output 2:

Uppercase: THN

Lowercase: pyo

New String: THNpyo

In [ ]:
#SetA
string = input()
upper = ''
lower = ''
for i in string:
  x = ord(i)
  if x>=65 and x<= 90:
    upper+=i
  elif x>=97 and x<=122:
    lower+=i
print('Uppercase: ', upper)
print('Lowercase: ', lower)
print('New String: ', (upper+lower))

BanGLAdeSh
Uppercase:  BGLAS
Lowercase:  andeh
New String:  BGLASandeh

Write a python program that will take a one-word string as input from the user. Print only those characters of the string whose ASCII value is an odd number. Also, print the number of characters whose ASCII value is odd.

Sample Input 1:

Cse110

Sample output 1:

Odd characters: Cse11

Number of odd ASCII value characters: 5

Explanation:

ASCII value of the characters are C = 67, s = 115, e = 101, 1 = 49, 1 = 49 and 0 = 48. Among all the characters, C,s,e, 1, and 1 have odd ASCII values. So the first output is cse11 and the number of odd characters is 5.


Sample Input 2:

WorldCup

Sample output 2:

Odd characters: WoCu

Number of odd ASCII value characters: 4

Explanation:

ASCII values of the characters are W - 87, o - 111, r - 114, l - 108, d-100, C-67, u -117, p-112. W, o, C, and u have odd ASCII values among the characters. So the first output is WoCu and the number of odd characters is 4.

In [ ]:
#SetB
string = input()
odd = ''
count = 0
for i in string:
  x = ord(i)
  if x%2 != 0:
    odd+=i
    count+=1
print('Odd characters: ', odd)
print('Number of odd ASCII  value caracters: ', count)

Cse110
Odd characters:  Cse11
Number of odd ASCII  value caracters:  5

Write a python program that will take a one-word string as input from the user. Print only those characters of the string whose ASCII value is an even number. Also, print the number of characters whose ASCII value is even.

Sample Input 1:

Program

Sample output 1:

Even characters: Prr

Number of even ASCII value characters: 3

Explanation:

ASCII value of the characters are P - 80, r - 114, o - 111, g - 103, r - 114, a - 97, m - 109. Among all the characters, P, r, and r have even ASCII values. So the first output is Prr and the number of even characters is 3.


Sample Input 2:

WorldCup

Sample output 2:

Even characters: rldp

Number of even ASCII value characters: 4

Explanation:

ASCII values of the characters are W - 87, o - 111, r - 114, l - 108, d-100, C-67, u -117, p-112. r, l, d, and p have even ASCII values among the characters. So the first output is rldp and the number of even characters is 4.

In [ ]:
#SetC
string = input()
even = ''
count = 0
for i in string:
  x = ord(i)
  if x%2 == 0:
    even+=i
    count+=1
print('Even characters: ', even)
print('Number of even ASCII  value caracters: ', count)

Program
Even characters:  Prr
Number of even ASCII  value caracters:  3

Write a python program that will take a string input from the user. You have to remove all the spaces and then find the sum of the ASCII value of the string characters. Print the updated string and the summation of ASCII values.  You are not allowed to use the built-in remove function.

Sample Input 1:

W o r LD

Sample output 1:

WorLD

456

Explanation:

After removing the spaces, the updated string is WorLD. The summation of ASCII values of the updated string is 87+111+114+76+68 = 456 (W - 87, o - 111, r - 114, L - 76, D - 68)

Sample Input 2:

Python

Sample output 2:

Python

642

Explanation:

As there are no spaces, so the updated string is Python. The summation of ASCII values of the updated string is 80+121+116+104+111+110 = 642 (P - 80, y - 121, t - 116, h - 104, o - 111, n - 11)

In [ ]:
#SetD
string = input()
add = ''
count = 0
for i in string:
  x = ord(i)
  if x != 32 :
    add+=i
    count+=x
print(add)
print(count)

W o r LD
WorLD
456

Write a python program that will at first take exactly one word from the user as an input. If the length of the word is odd then it will print the ASCII value of the characters of the odd indexes. Otherwise, print âLength is evenâ.

Sample Input 1:

Hello

Sample output 1:

e - 101

l - 108

Explanation:

The length of the word âHelloâ is 5 which is odd. The characters of odd indexes are e (index 1) and l (index 3). The ASCII values of e and l are 101 and 108 respectively. 


Sample Input 2:

Football

Sample output 2:

Length is even

Explanation:

The length of the word âFootballâ is 8 which is even. So the output is âLength is evenâ.

In [ ]:
#SetE
string = input()
x =  len(string)
for i in string[1::2]:
  if x%2 != 0:
    print(i,'-', ord(i))
if x%2 == 0:
  print('Length is even')

Football
Length is even

Write a python program that will at first take exactly one word from the user containing both upper and lowercase letters as input. [Assume that the user will always give an input containing only uppercase and lowercase letters]. If the length of the word is even then it will print the uppercase characters. Otherwise, print âLength is oddâ.

Sample Input 1:

PaliNDROme

Sample output 1:

P

N

D

R

O

Explanation:

The length of the word âPaliNDROmeâ is 10 which is even. So, the uppercase letters P, N, D, R, and O are printed.


Sample Input 2:

ClasS

Sample output 2:

Length is odd

Explanation:

The length of the word âClasSâ is 5 which is odd. So the output is âLength is oddâ.

In [ ]:
#SetF
string = input()
x = len(string)
if x%2 == 0:
  for i in string:
    y = ord(i)
    if y>= 65 and y<=90:
      print(i)
else:
  print('Length is odd')

Bangladesh
B

#QUIZ2(TRACING)

In [ ]:
#SetA
value = ""
i, j, k = 0, 0, 15 
while i< 5:
    k-=1
    j = k
    while j > 11:
        if (j % 2) != 0:
            value = str(i) + "-->" + str(int(j / 3)) 
        else:
            value = "-->" + str(int(i / 5)) + str(value) + str(j)
        print(value)
        j = j-1
    i+=1
print(value == '-->01-->412')
print(int(8.9)/2+3*5)
print(True and False or not False)
print(True == 'True')

-->014
0-->4
-->00-->412
1-->4
-->01-->412
-->0-->01-->41212
False
19.0
True
False

In [ ]:
#SetB
value = ""
i, j, k = 1, 1, 15  
while i< 5:
    k-=1
    j = k
    while j > 11:
        if (j % 2) == 0:
            value = str(i) + "-->" + str(int(j / 3)) 
        else:
            value = "-->" + str(int(i / 3)) + str(value) + str(j)
        print(value)
        j = j-1
    i+=1
print(value[1:4])
print(int(8.9)//3+4*2)
print(True and (len(value)== 5))
print(len(value))

1-->4
-->01-->413
1-->4
-->01-->413
2-->4
3-->4
-->
10
True
5

In [ ]:
#SetC
value = ""
i, j, k = 0, 0, 15 
while i< 5:
    k-=1
    j = k
    while j > 11:
        if (j % 2) != 0:
            value = str(i) + "-->" + str(int(j / 3)) 
        else:
            value = "-->" + str(int(i / 5)) + str(value) + str(j)
        print(value)
        j = j-1
    i+=1
print(value == '-->01-->412')
print(int(8.9)/2+3*5)
print(True and False or not False)
print(True == 'True')

-->014
0-->4
-->00-->412
1-->4
-->01-->412
-->0-->01-->41212
False
19.0
True
False

In [ ]:
#SetD
value = ""
i, j, k = 1, 1, 15  
while i< 5:
    k-=1
    j = k
    while j > 11:
        if (j % 2) == 0:
            value = str(i) + "-->" + str(int(j / 3)) 
        else:
            value = "-->" + str(int(i / 3)) + str(value) + str(j)
        print(value)
        j = j-1
    i+=1
print(value[1:4])
print(int(8.9)//3+4*2)
print(True and (len(value)== 5))
print(len(value))

1-->4
-->01-->413
1-->4
-->01-->413
2-->4
3-->4
-->
10
True
5

In [ ]:
#SetE
value = ""
i, j, k = 0, 0, 15 
while i< 5:
    k-=1
    j = k
    while j > 11:
        if (j % 2) != 0:
            value = str(i) + "-->" + str(int(j / 3)) 
        else:
            value = "-->" + str(int(i / 5)) + str(value) + str(j)
        print(value)
        j = j-1
    i+=1
print(value == '-->01-->412')
print(int(8.9)/2+3*5)
print(True and False or not False)
print(True == 'True')

-->014
0-->4
-->00-->412
1-->4
-->01-->412
-->0-->01-->41212
False
19.0
True
False

In [ ]:
#SetF
value = ""
i, j, k = 1, 1, 15  
while i< 5:
    k-=1
    j = k
    while j > 11:
        if (j % 2) == 0:
            value = str(i) + "-->" + str(int(j / 3)) 
        else:
            value = "-->" + str(int(i / 3)) + str(value) + str(j)
        print(value)
        j = j-1
    i+=1
print(value[1:4])
print(int(8.9)//3+4*2)
print(True and (len(value)== 5))
print(len(value))

1-->4
-->01-->413
1-->4
-->01-->413
2-->4
3-->4
-->
10
True
5

# QUIZ3

Suppose you are given two lists of the same length. 

keys = ['key1', 'key2', 'key3', 'key1', 'key2']  

values = [10, [20], 30, [40, 50], 10]

You have to make a dictionary and a tuple combining both lists. [Your program should work for any given lists] 

Sample Output:

my_dict: {'key1': [10, [40, 50]], 'key2': [[20], 10], 'key3': [30]}

my_tuple: (('key1', [10, [40, 50]]), ('key2', [[20], 10]), ('key3', [30]))

In [ ]:
#setA
keys = ['key1', 'key2', 'key3', 'key1', 'key2']         
values = [10, [20], 30, [40, 50], 10]
d = {}
for i in range(len(keys)):
  if keys[i] not in d:
    d[keys[i]] = [values[i]]
  else:
    d[keys[i]].append(values[i])
print(f'my_dict: {d}')
print(f'my_tuple: {tuple(d.items())}')

my_dict: {'key1': [10, [40, 50]], 'key2': [[20], 10], 'key3': [30]}
my_tuple: (('key1', [10, [40, 50]]), ('key2', [[20], 10]), ('key3', [30]))

Suppose you are given a tuple of tuples. You have to make a dictionary where the keys will be the tuples of the given tuple and the values will be the average of each tuple. Also, print the key whose value is the maximum. [Your program should work for any given tuple] 
                                                                           
Given Tuple:

((22, 22, 13), (30, 78, 45,4), (81, 959, 39, 45), (1, 4, 4,5,6))

Output: 

{(22, 22, 13): 19.0, (30, 78, 45, 4): 39.25, (81, 959, 39, 45): 281.0, (1, 4, 4, 5, 6): 4.0}

Max = (81, 959, 39, 45)

In [ ]:
#setB
t = ((22, 22, 13), (30, 78, 45,4), (81, 959, 39, 45), (1, 4, 4,5,6))
d = {}
x = 0
y = 0
for i in t:
  for j in i:
    x+=j
    y+=1
  d[i]= x/y
  x = 0
  y = 0
for i,j in d.items():
  if j>x:
    x = j
    z = i
print(d)
print(f'Max = {z}')

{(22, 22, 13): 19.0, (30, 78, 45, 4): 39.25, (81, 959, 39, 45): 281.0, (1, 4, 4, 5, 6): 4.0}
Max = (81, 959, 39, 45)

Suppose you are given a tuple of tuples with odd and even numbers. You have to make a dictionary where the keys will be the average of the even numbers of each tuple and its corresponding value will be the sum of the odd values of each tuple. Print the new dictionary. [Your program should work for any given tuple] 

Given Tuple:

((20, 22, 13), (30, 33, 45,4), (81, 76, 30, 45), (1, 7, 4,2,6))

Output: 

{21: 13, 17: 78, 53: 126, 4: 8}
 
Explanation:

The even numbers and odd numbers of the first element of the tuple are 20,22 and 13 respectively. So the average of even numbers is (20+22)/2 = 21 and the summation of the odd numbers is 13. Therefore, the first (key: value) pair is (21:13).

In [ ]:
#setC
t = ((20, 22, 13), (30, 33, 45,4), (81, 76, 30, 45), (1, 7, 4,2,6))
x=0
y=0
a=0
d={}
for i in t:
  for j in i:
    if j%2 == 0:
      x+=j
      y+=1
    else:
      a+=j
  d[int(x/y)] = a
  x=0
  y=0
  a=0
print(d)

{21: 13, 17: 78, 53: 126, 4: 8}

Suppose you are given a dictionary where the keys are characters and values are numbers. You need to create a new dictionary with only one key: value pair. The key will be the concatenation of all the uppercase keys and the value will be the summation of the lowercase values. You are not allowed to use upper(), lower(), isdigit() functions. [Your program should work for any given dictionary]
 
Given Dictionary:

my_dict = {'A': 7, 'B': '8', 'c': 14, 'D': 10, 'e': '70', 'F': 9, 'G': 2, 'h' : '32'}

Output: 

{'ABDFG': 116}
 
Explanation:

The uppercase keys are 'A', 'B', 'D', 'F' and 'G'. So the key is 'ABDFG'. The summation of the values of lowercase keys is (14+70+32) = 116. Therefore the new value is 116.

In [ ]:
#setD
my_dict = {'A': 7, 'B': '8', 'c': 14, 'D': 10, 'e': '70', 'F': 9, 'G': 2, 'h' : '32'}
x = ''
y=0
d ={}
for i,j in my_dict.items():
  i = ord(i)
  if i>= 97 and i<=122:
    y+=int(j)
  else:
    x+=chr(i)
d[x]=y
print(d)

{'ABDFG': 116}

Suppose you are given a list of lists. You have to make a dictionary where the key will be the last element of each list and the value will be a tuple of the remaining elements of the list.  [Your program should work for any given dictionary]  You are not allowed to use slicing.
 
Given List 1:

[['Red', 'Blue', 'Violet'], ['Blue', 'Yellow','Green'], ['Red', 'Yellow','Orange']]

Output: 

{'Violet': ('Red', 'Blue'), 'Green': ('Blue', 'Yellow'), 'Orange': ('Red', 'Yellow')}
 
Given List 2:

[['Red', 'Yellow','Blue', 'Black'], ['Red', 'White','Pink']]

Output: 

{'Black': ('Red', 'Yellow', 'Blue'), 'Pink': ('Red', 'White')}

In [ ]:
#setE
l = [['Red', 'Blue', 'Violet'], ['Blue', 'Yellow','Green'], ['Red', 'Yellow','Orange']]
l1 = []
d = {}
for i in l:
  for j in range(len(i)):
    if j != len(i)-1:
      l1.append(i[j])
    else:
      d[i[j]] = tuple(l1)
      l1 = []
print(d)

{'Violet': ('Red', 'Blue'), 'Green': ('Blue', 'Yellow'), 'Orange': ('Red', 'Yellow')}

Suppose you are given a list of strings. You have to create a dictionary where the key will be the elements of the list in reverse order and its corresponding value will be a list containing each character of the elements. The output must be exactly in the same form as the sample output. You are not allowed to use reverse functions or slicing to reverse the list. 
                                                                           
Given Input1:

['Emma', 'Olivia', 'Amelia']

Sample Output1:

{'Amelia': ['A', 'm', 'e', 'l', 'i', 'a'], 'Olivia': ['O', 'l', 'i', 'v', 'i', 'a'], 'Emma': ['E', 'm', 'm', 'a']}

Given Input2:

['1', '6543', '976','23']

Sample Output2:

{'23': ['2', '3'], '976': ['9', '7', '6'], '6543': ['6', '5', '4', '3'], '1': ['1']}

In [ ]:
#setF
l = ['Emma', 'Olivia', 'Amelia']
d = {}
l1 = []
for i in range(len(l)-1,-len(l),-1):
  for j in range(len(l[i])):
    l1.append(l[i][j])
  d[l[i]] = l1
  l1 = []
print(d)

{'Amelia': ['A', 'm', 'e', 'l', 'i', 'a'], 'Olivia': ['O', 'l', 'i', 'v', 'i', 'a'], 'Emma': ['E', 'm', 'm', 'a']}

#QUIZ3(TRACING)

In [ ]:
#SetA
myList = [5, -1, 7, 2, 0, 4, 7.0, 0, 9, -5]
new_list = []
val1 = 1
val2 = -1
new_list = myList
while (val1 < (19%10)):
   myList[val1] = val1 + 4
   val2 = 1
   while (val2 < val1):
      myList[val1] = new_list[val1+1] - myList[val2-1] - val1
      val2 = val2 + 1
   print(new_list[val1])
   val1 = val1 + 1
print(new_list[2])
val = (tuple(myList)[3],)
print(val)

5
-5
-8
5
10.0
-11
-8.0
-2
-5
(-8,)

In [ ]:
#SetB
d1 = {'Name':'Max','Age':'20','ID':'6','Dept':'CSE','Sec':{'1': 23, '2': 34}}
my_tuple = (2.3,5,6,7,8)
index = 0
for a in d1:
  if type(d1[a]) != dict:
    print(d1[a] + '-' + str(index))
    if index <= 4:
      print(my_tuple[index]/2)
  else:
     print(d1[a])
  index +=1
print(index%3)

Max-0
1.15
20-1
2.5
6-2
3.0
CSE-3
3.5
{'1': 23, '2': 34}
2

In [ ]:
#SetC
givenList = [0, 9, 2, 9, 10, 11, 5, 4, 3, 17]
newList = [33,1,0]
a , b, c = 2, 5, 0
newList = givenList
print(len(newList))
while(a<9):
  b = (b + a) % 2
  while(b<a):
      givenList[a] = newList[a]- givenList[b]+c
      b = b+1
  print(givenList[a])
  a = a+1
  c += 2
print(1 in newList)
new_var = tuple('55')
print(new_var)

10
-7
11
9
13
10
19
23
False
('5', '5')

In [ ]:
#SetD
givenList = [10, 4, 20, 9, 30, 10, 5, 40, 3, 7]
newList = [44,9,2]
a , b, c = 2, 5, 0
newList = givenList
print(len(newList))
while(a<9):
  b = (b + a) % 2
  while(b<a):
    givenList[a] = newList[a]- givenList[b]+c
    b = b+1
  print(givenList[a])
  a = a+1
  c += 2
print(44 in newList)
new_var = (4)
print(type(new_var)==tuple)

10
16
-7
29
-8
11
55
-13
False
False

In [ ]:
#SetE
list_1 = [4, 8, 7, -2, 0, 5, 7.0, 0, 9.5, -1]
new_list = []
val1 = 1
val2 = -1
new_list = list_1
while (val1 < (28%10)+1):
   list_1[val1] = val1 + 4
   val2 = 1
   while (val2 < val1):
      list_1[val1] = new_list[val1+1] - list_1[val2-2] - val1+1
      val2 = val2 + 1
   print(new_list[val1])
   val1 = val1 + 1
print(new_list[2])
variable = (tuple(list_1)[-3],)
print(variable)

5
-2
-6
-3
5.0
1
6.5
-13.0
-2
(6.5,)

In [ ]:
#SetF
myList = [5, -1, 7, 2, 0, 4, 7.0, 0, 9, -5]
new_list = []
val1 = 1
val2 = -1
new_list = myList
while (val1 < (19%10)):
   myList[val1] = val1 + 4
   val2 = 1
   while (val2 < val1):
      myList[val1] = new_list[val1+1] - myList[val2-1] - val1
      val2 = val2 + 1
   print(new_list[val1])
   val1 = val1 + 1
print(new_list[2])
val = (tuple(myList)[3],)
print(val)

5
-5
-8
5
10.0
-11
-8.0
-2
-5
(-8,)

#QUIZ4

Suppose you are given a list of either numbers or characters. Write a python function element_search which will take an element from the user and the given list as arguments and check how many times the element appears in the list. Print the output outside the function. You are not allowed to use the built-in count() function.  [You need to check if the items of the list are numbers or characters]

Example 1:

Given List: [1,3,2,2,3,7,6,4]

Input:

3

Function Call:

element_search(3)

Output:

Count = 2


Example 2:

Given List: ['a','e','f','e','f','g','f']

Input:

f

Function Call:

element_search(f)

Output:

Count = 3

In [ ]:
#SetA

Suppose you are given a list of numbers. Write a python function index_number that will take a given list and a number from the user as arguments and return the index of the first occurrence of the number from the list. If the number is not found then it will return Number not found! [You are not allowed to use the built-in .index() function]
                                                                           
Example 1:

Given List: [1,3,2,2,3,7,6,4]

Input:

3

Function Call:

index_number(3)

Output:

Index = 1
 
Example 2:

Given List: [12,33,2,2,13,7,6,4]

Input:

8

Function Call:

index_number(8)

Output:

Number not found!

In [ ]:
#SetB
gl = [1,3,2,2,3,7,6,4]
def index_number(a):
	b = 0
	for i in range(len(gl)):
		if gl[i]==a:
			b+=i
			break
	return b
c = index_number(int(input()))
if c > 0:
  print(f'index = {c}')
else:
  print('Number not found!')

3
index = 1

Write a python function times_tables which will take a number from the user as an argument. Then print the times table of the number inside the function. See the sample output for a better understanding. 
 
Input:

10

Function Call:

times_tables(10)

Output:

Times Tables of 10:

10  x  1 = 10

10  x  2 = 20

10  x  3 = 30

10  x  4 = 40

10  x  5 = 50

10  x  6 = 60

10  x  7 = 70

10  x  8 = 80

10  x  9 = 90

10  x  10 = 100

In [ ]:
#SetC
def times_tables(n):
  print(f'Times tables of {n}:')
  for i in range(1,11):
    print(f'{n} X {i} = {n*i}')
times_tables(int(input()))

10
Times tables of 10:
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Write a python function square_shape_generator that takes a number from the user as an argument. If the number is an even number then it will generate a square shape using (*). Otherwise, it will generate a square shape using (#)  inside the function. 

Example 1:

Input:

3

Function Call:

square_shape_generator(3)

Output:

```
###
###
###
```
Example 2:

Input:

4

Function Call:

square_shape_generator(4)

Output:

```
****
****
****
****
```

In [ ]:
#SetD

Write a python function called area_calculator which will take two arguments the length and width from the user. You have to check whether the value of length and width are equal or not; if yes, then take it as a unit length value of a square and calculate the area. Otherwise, calculate the area of a triangle using the values and return the area.

Example 1:

Input:

3

5

Function Call:

area_calculator(3,5)

Output:

7.5
 
Example 2:

Input:

4

4

Function Call:

area_calculator(4,4)

Output:

16.0

In [ ]:
#SetE

Write a python function called palindrome_checker that takes a string as an argument from the user and checks whether it is a palindrome. If it is a palindrome then it returns âPlaindromeâ otherwise returns âNot a palindromeâ. You need to ignore the space inside the string. [Slicing and any built-in functions are not allowed for removing the spaces and reversing the string]
                                                                           
Example 1:

Input:

never odd or even

Function Call:

palindrome_checker(never odd or even)

Output:

Palindrome
 
Example 2:

Input:

value

Function Call:

palindrome_checker(value)

Output:

Not a palindrome

In [ ]:
#SetF

#MAKEUP_QUIZ

In [ ]:
#SetA
test = ' '                                                                                                         
test_list = [2, 3]
my_dict = {'Bangladesh': 'Taka', 'India': 'Rupee', 'US': 'Dollar', 'Dubai': 'Taka'}
for item in my_dict:
          test = item + '---' + str(test_list[-2])
          print(test)
print(test == ' ')
print(my_dict['US'])
my_dict["Dubai"] = 'Dirham'
print(len(my_dict))
new_list = test_list
print(new_list[1])
print(1 in new_list)
print(25/5+9)

Bangladesh---2
India---2
US---2
Dubai---2
False
Dollar
4
3
False
14.0

In [ ]:
#SetB
myList = [11, -5, 2, 4, -1, 2, 0, 7, 12, 0]                                                                                                         
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
    myList[index1] = index1 + 1
    index2 = 1
    while (index2 < index1):
        myList[index1] = b[index2-1] + myList[index2] - index1
        index2 = index2 + 1
    print(myList[index1])
    index1 = index1 + 1
print(index2)

2
11
10
17
22
33
48
73
112
9

In [ ]:
#SetC
myList = [1, -5, 2, 2, -1, 2, 5, 7, 12, 0]                                                                                                         
b = []
index1 = 1
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
    myList[index1] = index1 + 1
    index2 = 1
    while (index2 < index1):
        myList[index1] = b[index2-1] + myList[index2] - index1
        index2 = index2 + 1
    print(myList[index1])
    index1 = index1 + 1
print(index2)

2
1
0
-3
-8
-17
-32
-57
-98
9

#MID(FALL22)

Write a python program that takes a string of 9 digits as input from the user (Assume that the user only input 9 digits as the string). The program finds the last digit of the string and also calculates the sum of the first 8 digits. Finally, the program matches the last digit with the sum of the first 8 digits modded by 10. If the value match, the program should print 'Match'. Otherwise, it prints 'No match'.

Sample Input 1:

123456789

Sample Output 1:

No match

Explanation:

The last digit is 9.

The sum of the first 8 digits is 36.

36%10 = 6

So, the value does not match with the last digit


Sample Input 2:

123456786

Sample Output 1:

Match

Explanation:

The last digit is 6.

The sum of the first 8 digits is 36.

36%10 = 6

So, the value matches with the last digit.

In [ ]:
string = input()
sum = 0
x = string[8]
for i in string[:8:]:
  sum+=int(i)
if int(sum%10) == int(x):
  print('Match')
else:
  print('Not Match')

123456786
Match

In [ ]:
#Tracing
var1 = 0
r = 0
while var1 <= 5 :
  var2 = 1
  while var2 <= var1 :
    var2 = var2 + 1
    if var2 == 4 or var2 == 5 :
      continue
      print(var1 - var2 * 2)
    elif var1 % 4 > 1 :
      print(var1 - var2 - (18 // var1))
    else:
      r = var1 * var2 - int(21 / var2)
      print(r)
  var1 = var1 + 1

-8
-9
-10
-5
-6
-2
5
0
8
27

In [ ]:
#LAB_MID
name = input()
x = ''
y = ''
vowel1 = 'aeiou'
vowel2 = 'AEIOU'
for i in name:
  if i in vowel1 or i in vowel2:
    x+=i
  else:
    y+=i
for j in range(len(name)):
  if j%2 == 0:
    print(x)
  else:
    print(y)

Mahjabeen
aaee
Mhjbn
aaee
Mhjbn
aaee
Mhjbn
aaee
Mhjbn
aaee

In [ ]:
#LAB_TRACING
var = ''
a = 10
b = 0
c = 30
while a<15 :
  c//=2
  b = c
  while b >= 5 :
    if b%2 == 1 :
      var = '--'
      var+=str(a%3) + '45' + '++' + str(b//3.0) + str(b//3+c*2)
    else:
      var = '++'
      var+='-->' + str ((a%3//2.0)) + var + str(b**2)
    print(var)
    b-=3
  a+=4

--145++5.035
++-->0.0++144
--145++3.033
++-->0.0++36
--245++2.016

# FINAL(FALL22)

Given a dictionary where the keys are tuples of integers and the values are strings. Write a python program that creates a new dictionary where the keys are summation of the integers of the tuples and their corresponding values(Unchanged). Finally, print a string that includes all the values in the order of the given dictionary and then the new dictionary. For simplicity, you may assume that different tupples will not have the same summation.

**Given Dictionary 1:**

given_dictionary = { (1,2,1) : 'Rachel', (12,2) : 'Chandler', (7,9) : 'Phoebe' }

**Sample Output 1:**

The values : RachelChandlerPhoebe

new_dictionary = { 4 : Rachel, 14 : Ron, 16 : Phoebe }


**Given Dictionary 2:**

given_dictionary = { (2,3,6) : 'Harry', (7,) : 'Ron', (2,4) : 'Hermione', (4,6,10) : 'Malfoy' }

**Sample Output 2:**

The values : HarryRonHermioneMalfoy

new_dictionary = { 11 : Harry, 7 : Ron, 6 : Hermione, 20 : Malfoy }

In [ ]:
given_dictionary = { (1,2,1) : 'Rachel', (12,2) : 'Chandler', (7,9) : 'Phoebe' }
x = 0
d = {}
s = ''
for i,j in given_dictionary.items():
  for k in i:
    x+=k
  d[x] = j
  x = 0
  s+=j
print(f'The values: {s}')
print(f'new_dictionary = {d}')

The values: RachelChandlerPhoebe
new_dictionary = {4: 'Rachel', 14: 'Chandler', 16: 'Phoebe'}

Write a python function named tuple_to_string that takes a tuple as a parameter, concat all the elements of the tuple in a string, and return that string.

**Function Call 1**

print(tuple_to_string(('Hi',12,'3',5.5,True)))

**Sample Output 1**

Hi1235.5True

**Function Call 2**

print(tuple_to_string((-5,0.3,'3')))

**Sample Output 2**

-50.33

In [ ]:
def tuple_to_string(a):
  s = ''
  for i in a:
      s+=str(i)
  return s
print(tuple_to_string(('Hi',12,'3',5.5,True)))

Hi1235.5True

In [ ]:
#Tracing
myList = [40,30,20,10,25,40,30,20,10]
p = len(myList)-1
q = p 
r = 0
x = p//2
b = myList
while q >= x :
  print(myList[q])
  r = p - q
  while r > 10 :
    b[r] = myList[p] - b[q]
    r = r - 1
  print(b[r])
  q = q - 1

10
40
20
30
30
20
40
10
25
25

#EXTRA

Write a python program that takes several integer number as user input untill user enter 0. Your task is to find the summation of all the numbers entered so far and count how many numbers are divisible by 3 among those.


---


  **Sample Input:**

  23,12,31,-25,18,0

  **Sample Output:**

  Sum of all the entered numbers: 59
  Numbers that are divisible by 3: 2

In [ ]:
sum = 0
y=0
while True:
    x= int(input())
    sum+=x
    if x == 0:
        break
    if x%3 == 0:
        y+=1
print('Sum of all the entered numbers:',sum,'\n','Numbers that are divisible by 3:',y, sep='')

23
12
31
-25
18
0
Sum of all the entered numbers:59
Numbers that are divisible by 3:2

Write a python program that takes two numbers(m,n) from the user. User job is to find the summation of the all the numbers starting from 1 to that particular number in the sequence that starts from m and go till n(including).

**Sample Input:**

m = 5

n = 10

**Sample Output:**

15 21 28 36 45 55

In [ ]:
m = int(input())
n = int(input())
x = 0
for i in range(1,m+1):
  x+=i
print(x, end=' ')
for j in range(m+1,n+1):
  x+=j
  print(x, end=' ')

5
10
15 21 28 36 45 55

Write a python program that will take an integer number(N) from the user and print all the divisors of that number which are in between 2 to N(inclusive). If the summation of the divisors is an odd number then divide the input number(N) by the total number of divisors and print it. If the summation of the divisors is an even number then print the input number.

**Sample Input 1:**

56

**Sample Output 1**

Divisors: 2 4 7 8 14 28 56

8.0

**Explanation:**

All the divisors of 56 in between 2 to 56 are 2,4,7,8,14,28 and 56 (Total 7 divisors). Summation (2+4+7+8+14+28+56) = 119 which is an odd number. So,
the result is 56/7 = 8.0

**Sample Input 2:**

9

**Sample Output 2:**

Divisors: 3 9

9

**Explanation:**

All the divisors of 9 in between 2 to 9 are 3 and 9 (Total 2 divisors). Summation (3+9) = 12 which is an even number.
So, the result is 9.

In [ ]:
N = int(input())
sum = 0
x = 0
print('Divisors:', end='')
for a in range (2, N+1):
  if N%a == 0:
    x+=1
    sum+=a
    print(a,end=' ')
if sum%2 != 0:
  print('\n',N/x, sep='')
else:
  print('\n',N,sep='')

56
Divisors:2 4 7 8 14 28 56
8.0

Assume you have been given a dictionary named cast where the keys are the names of different series and the values are the list of tuples, where each tuple represents a pair of characters and the actors who played the characters. You need to write a code that will take the name of a character as input and print his/her information according to the output samples.
 


cast = {'Friends': [('Joey', 'Matt'), ('Chandler', 'Matthew')],
'BBT': [('Penny', 'Kaley'), ('Sheldon', 'Jim')],
'Breaking Bad': [('Jesse', 'Aaron'), ('Walter', 'Bryan')]}
 
**Input sample 1:**


Joey


**Output sample 1:**


Joey was played by Matt in Friends

 
**Input sample 2:**


Jesse


**Output sample 2:**


Jesse was played by Aaron in Breaking Bad

In [ ]:
string = input()
cast = {'Friends': [('Joey', 'Matt'), ('Chandler', 'Matthew')], 'BBT': [('Penny', 'Kaley'), ('Sheldon', 'Jim')], 'Breaking Bad': [('Jesse', 'Aaron'), ('Walter', 'Bryan')]}
for i,j in cast.items():
  for k in j:
    a,b = k
    if a == string:
      print(f'{a} was played by {b} in {i}')

Joey
Joey was played by Matt in Friends

Assume, you have been given a dictionary where the keys present the name of the father and the value is a list of names of the sons of that person.


For example A has 3 sons namely X, Y and Z. Again X has three sons namely E,F and G. So, A is the grandfather of E, F and G.
 

family = {'A' : [ 'X', 'Y', 'Z' ], 'B': [ 'M', 'N' ], 'W' : [ 'A', 'B' ], 'X' : [ 'E', 'F', 'G' ]}


You need to write a code which takes an input and prints the names of all
his grandsons in the format shown in output samples. If he does not have
any grandchildren just print âGet your sons married first! Wanna_be_grandpa!!


You can assume the input will always be a key from the dictionary. But we
will check your code with a different dictionary. So do not write a code
for this particular dictionary only.  

================================================

**Input sample 1:**

A

**Output sample 1:**


['E', 'F', 'G']

**Input sample 2:**

W

**Output sample 2:**

[ 'X', 'Y', 'Z', 'M', 'N' ]

**Input sample 3:**

B

**Output sample 3:**

Get your sons married first! Wanna_be_grandpa!!

In [ ]:
name = input()
Q = []
family = {'A' : [ 'X', 'Y', 'Z' ], 'B': [ 'M', 'N' ], 'W' : [ 'A', 'B' ], 'X' : [ 'E', 'F', 'G' ]}
for i,j in family.items():
  if name == i:
    for k in j:
      for l,m in family.items():
        if k == l:
          for n in m:
            Q.append(n)
if Q == []:
  print('Get your sons married first! Wanna_be_grandpa!!')
else:
  print(Q)

W
['X', 'Y', 'Z', 'M', 'N']

Write a Python program that will take N Student IDs as input from the user. Create a dictionary from the N IDs that will hold the IDs in separate keys based on the admitting semester. Stop taking input when the user input STOP as an input.


Explanation: 3rd digit of the ID denotes semester.


       1 = Spring
       2 = Fall
       3 = Summer



**Sample Input1:**

18101202

18204354

20101457

19303372

20201999

STOP

**Sample Output1:**

{ 'Spring' : [ '18101202' , '20101457' ], 'Fall' : [ '18204354' , '20201999' ], 'Summer' : [ '19303372' ] }



**Sample Input2:**

18201202

18104354

20101457

19203372

STOP

**Sample Output2:**

{ 'Fall' : [ '18201202', '19203372' ], 'Spring': ['18104354', '20101457'] }

In [ ]:
x = {}
a = []
b = []
c = []
while True:
  n = input()
  if n == 'STOP':
    break
  else:
    if int(n[2]) == 1:
      a.append(n)
    elif int(n[2]) == 2:
      b.append(n)
    elif int(n[2]) == 3:
      c.append(n)
x['Spring'] = a
x['Fall'] = b
x['Summer'] = c
print(x)

18201202
18104354
20101457
19203372
STOP
{'Spring': ['18104354', '20101457'], 'Fall': ['18201202', '19203372'], 'Summer': []}

Write a python program that generates the fibonacci series in a list. You will take 2 number inputs from the user, the first input N indicates the Nth element until which you need to generate the sequence and print it, and the second input M indicates the single Mth element you need to print. If the Mth  element does not exist, print âThe element has not been generatedâ.



The fibonacci sequence is a sequence where each element is a summation of its two preceding elements. The first 2 elements of the sequence are 0 and 



[Hint: you can initialize the list with first 2 elements]	



**Sample Input 1:**


N: 6


M: 3


**Sample Output 1:**


[0, 1, 1, 2, 3, 5, 8]


2


Explanation: As N = 6, we need to generate upto 6th element. So, 2nd element = 1st element + 0th element = 1+ 0 = 1, 3rd element = 2nd element+ 1st element = 1 + 1 = 2, 4th element = 3rd element + 2nd element = 2 + 1 = 3 etc and then print the completed list. As M = 3, we have to print the 3rd element, which is 2.


**Sample Input 2:**


N: 4


M: 5


**Sample Output 2:**


[0, 1, 1, 2, 3]


The element has not been generated


Explanation: As N = 4, we need to generate up to 4th element and print the completed list. As M = 5 which is greater than 4 (therefore not generated), we have to print âThe element has not been generatedâ.


**Sample Input 3:**


N: 1


M: 0


**Sample Output 3:**


[0, 1]


0


Explanation: As N = 1, we need to generate upto 1st element and print the completed list. As M = 0, we have to print the 0th element, which is 0.

In [ ]:
n = int(input())
m = int(input())
x = [0,1]
for i in range(1,n):
  z = x[i-1]+x[i]
  x.append(z)
  z = 0
print(x)
if len(x)> m:
  print(x[m])
else:
  print('The element has not been generated')

1
0
[0, 1]
0

Write a python program that finds the largest tuple in a given nested tuple by summing all of its elements together. E.g: in the nested tuple ((10,2), (1,2,3,4)) the tuple (10,2) is bigger than the tuple (1,2,3,4) as (10+2) = 12 is greater than (1+2+3+4) = 10. You have to print the whole largest tuple as the output, and your solution must work for any given tuple. You can assume that there will be at least one tuple inside the outer tuple, and you are not allowed to use the sum() or max() functions. You do not need to take user input.




**Given tuple 1:**


example_tuple1 = ((1,2,3), (6,10), (89,))



**Sample Output 1:**


(89,)



**Given tuple 2:**


example_tuple2 = ((1,2,3),)



**Sample Output 2:**


(1,2,3)



**Given tuple 3:**



example_tuple3 = ((567, 1), (3,), (1,4,6))



**Sample Output 3:**


(567, 1)

**Take a string input from the user and covert it into a tuple of integers.Then take 5 number input from the user and append them into the tupple. print the tuple.** 


**Sample Input:**


'#1# 3# 4# 6# 10#'

5

7

8

4

2

**Sample Output:**

(1, 3, 4, 6, 10, 5, 7, 8, 4, 2)

In [ ]:
x = input('string: ')
x = x[1:-1].split('# ')
z = []
for i in x:
  z.append(int(i))
for i in range(5):
  y = int(input())
  z.append(y)
print(tuple(z))

string: #1# 3# 4# 6# 10#
5
7
8
4
2
(1, 3, 4, 6, 10, 5, 7, 8, 4, 2)

Suppose, you are given an alphabet right and a list of length n where each element is a capital letter in between the n alphabets ending in right. There might be duplicates in the list, so a list of length n might not contain all of the n alphabets ending in right. Write a python function that takes the list as an argument and the alphabet right. The function should return a list of all the letters that are in between the n alphabets ending in the right but not in the given list. You need not take any input. Your code should work for any given list and right.

Example 1:

Function Call :

l = ['S','P','N','R','O','P','M','R']

right = 'S'

print(missing_number(l,right))

Output :

[ 'L','Q' ]

Explanation:

Here, the given list is of length 8 and the right alphabet is S. The 8 capital letter ending in S are L, M, N, O, P, Q, R, S. Therefore, the list contains any of the mentioned 8 capital letters. 'Q' and 'L' are absent from the given list. So, as output, the function returns the list [ 'Q', 'L' ].

Example 2:

Function Call :

l = ['G','F','E','H','D']

right = 'H'

print(missing_number(l,right))

Output :

[]

Explanation:

Here, the given list is of length 5 and the right alphabet is H. The 5 capital letter ending in H are D, E, F, G, H. Therefore, the list contains any of the mentioned 5 capital letters. Since all 5 capital letters are present in the given list. So, as output, the function returns the empty list [].

In [ ]:
def missing_number(l,right):
  a = len(l)
  b = ord(right)
  c = []
  for i in range((b-a+1),b):
    if chr(i) not in l:
      c.append(chr(i))
  return c
print(missing_number(['S','P','N','R','O','P','M','R'],'S'))

['L', 'Q']

Suppose, you are given an alphabet left and a list of length n where each element is a small letter in between the n alphabets starting from left. There might be duplicates in the list, so a list of length n might not contain all of the n alphabets starting from left. Write a python function that takes the list as an argument and the alphabet left. The function should return a list of all the letters that are in between the n alphabets starting from left but not in the given list. You need not take any input. Your code should work for any given list and left.

Example 1:

Function Call :

l = ['g','f','e','j','k','f','e','d']

left = 'd'

print(missing_number(l,left))

Output :

[ 'h','i' ]

Explanation:

Here, the given list is of length 8 and the left alphabet is d. The 8 small letter starting from d are d, e, f, g, h, i, j, k. Therefore, the list contains any of the mentioned 8 small letters. 'h' and 'i' are absent from the given list. So, as output, the function returns the list [ 'h', 'i' ].

Example 2:

Function Call :

 l = ['s','q','n','r','o','p','m']

left = 'm'

print(missing_number(l, left))

Output :

[]

Explanation:

Here, the given list is of length 7 and the left alphabet is m. The 8 small letter starting from m are m, n, o, p, q, r, s. Therefore, the list contains any of the mentioned 8 small letters. Since all 7 small letters are present in the given list. So, as output, the function returns the empty list [].

In [ ]:
def missing_number(l,left):
  a = len(l)
  b = ord(left)
  c = []
  for i in range(b,(b+a-1)):
    if chr(i) not in l:
      c.append(chr(i))
  return c
print(missing_number(['g','f','e','j','k','f','e','d'],'d'))

['h', 'i']

Write a Python program that takes multiple string inputs from the user. The program takes inputs until the user enters the string "-x-". Finally, the program prints the Pig Latin version of those words as a single output.

Pig Latin is a code language where some constraints are followed -

a. If the original word starts with a vowel, "way" is added to the end of the word.

b. If the original word starts with a consonant, the first vowel is searched for and all the consonants before that vowel are concatenated to the end of the string and "ay" is added to the very end of the word.

```
Sample Input                                 Explanation

Enter a word: Pig                  Pig -> igPay. Since i is the first vowel,
                                   p is appended to the end and ay is added after that.

Enter a word: Latin                Latin -> atinLay

Enter a word: is                   is -> isway. Since is starts with a vowel, way is added.

Enter a word: hard                 hard-> ardhay

Enter a word: -x-                  The program stops taking inputs when -x- is entered.


Sample Output
igPay atinLay isway ardhay
```

In [ ]:
cons = ''
vowel = 'aeiou'
while True:
  word = input('Enter a word: ')
  if word == '-x-':
    break
  elif word[0] in vowel :
    cons+= (word+'way'+' ')
  else:
    for z in range(len(word)-1):
      if word[z] in vowel:
        cons+= word[z:]+ word[:z]+'ay'+' '
        break
print(cons)

Enter a word: Pig
Enter a word: Latin
Enter a word: is
Enter a word: hard
Enter a word: -x-
igPay atinLay isway ardhay

In [ ]:
n = input()
x= ''
for i in n:
  y = ord(i)
  if (y>=46 and y<=58 and not (y==47)) or (y>=65 and y<=70) or (y>=97 and y<=102):
    x+=chr(y)
z= len(x)
if z == 39:
  print('VALID')
else:
  print('INVALID')

2031.0000.130f.0000.0000.09c0.876a.130b
VALID

Decod the secret message. Then, print the decoded message and the imposter name.

Sample Input 1 :

xtsjy$#nx#ymj#nrutxyjw/#hfyhm#mnr1

Output:

Decoded message: sonet! is the imposter, catch him.

Imposter name: sonet

Sample Input 2 :

ensn$#nx#ymj#nrutxyjw/#hfyhm#mjw1

Output:

Decoded message: zini! is the imposter, catch her.

Imposter name: zini

In [ ]:
string = input()
n = m = ''
for i in string:
  if i == '$':
    n+=chr(ord(i)-3)
    m+=n[:-1:]
  elif i == '#' or i == '/' or i == '1':
    n+=chr(ord(i)-3)
  elif i == 'e':
    n+='z'
  else:
    n+=chr(ord(i)-5)
print('Decoded message:', n)
print('Imposter name:', m)

xtsjy$#nx#ymj#nrutxyjw/#hfyhm#mnr1
Decoded message: sonet! is the imposter, catch him.
Imposter name: sonet

In [ ]:
a = ''
b = 0
c = 0
n = input()
for i in n[::-1]:
  x = ord(i)
  if (x>=65 and x<=90) or (x>=97 and x<=122):
    a+=chr(x)
  else:
    y = int(chr(x))
    if y%2 != 0:
      b+=y
    else:
      c+=y
print(a,b,c)

123o64LL7887e782H
HeLLo 25 38

In [ ]:
d1 = {'2014':[45500,41500], '2015':[50050,48890],'2016':[51900,47210],'2017':[48115,46600],'2018':[50000,46540],'2019':[53320,49300]}
list1 = list(d1.items())
list2 = []
a = ()
for i in list1:
  j = list(i)
  j[1] = ((j[1][0]-j[1][1])/j[1][0])*100
  x = str(j[1])
  x = float(x[:4])
  a+= (j[0],x)
  b = tuple(a)
  list2.append(b)
  a = ()
print(list2)

[('2014', 8.79), ('2015', 2.31), ('2016', 9.03), ('2017', 3.14), ('2018', 6.92), ('2019', 7.53)]

You're given a n x n matrix.Rotate the matrix as shown in the samples. Makes a user defined function to solve this problem. You can name this function **rotate_matrix()**

Sample call & Output:

```
Function Call                                                             Output
rotate_matrix([[1,2,3],[4,5,6],[7,8,9]])                          [[7,4,1],[8,5,2],[9,6,3]]
rotate_matrix([[4,5,6,7],[3,3,4,5],[4,5,5,5],[2,3,4,1]])          [[2,4,3,4],[3,5,3,5],[4,5,4,6],[1,5,5,7]]
```

Write a python program for the CSE110 course coordinator to track a section's Quiz 1
performance -

First, the program will ask the faculty **how many students** there are in the section.

Then, take the obtained marks of each student as user inputs.

The program should print **âInvalid Inputâ and end immediately** if the score is **not within the valid range (0-100)**.

Finally, it should **calculate & print the average pass marks (in percentage)** obtained by the students, **considering 33 as the pass mark**.

Sample Input 1:

4

62

11

2

38

Sample Output 1:

50%

Explanation 1:

First, the user enters 4 as the first
input. Therefore, the program will
ask for obtained marks for 4
students. Average pass mark =
(62+38)/2 = 50%

Sample Input 2:

5

47

25

58

75

10

Sample Output 2:

60%

Explanation 2:

First, the user enters 5 as the first
input. Therefore, the program will
ask for obtained marks for 5
students. Average pass mark =
(47+58+75)/3 = 60%

Sample Input 2:

38

97

-5

Sample Output 2:

Invalid Input

Explanation:

First, the user enters 38 as the
first input. Therefore, the program
will ask for obtained marks for 38
students. Program ended after
taking the 2nd input, as -5 is not a
valid score.

Write a python program that operates in the following way-

- The program asks the user to input an integer, X that is greater than 1.
- The program will print âInvalid Inputâ if the user inputs otherwise.
- The program asks for X number of strings where each string has the length of X. If the user
inputs a string of less or greater than the length of X, print âInvalid Inputâ.
- The program then calculates and prints the summation of the ASCII value of every first
character and every last character of all the strings.

Sample Input 1:

3

ABc

DeF

GhL

Sample Output 1:

Summation of every first char: 204

Summation of every last char: 245

Explanation 1:

The program asks the user to input an integer
that is greater than 1.
The user enters 3.
Then the program asks the user to input 3
strings where each string has 3 characters.
The user enters ABc, DeF and GhL respectively.
The program then calculates the summation of
every first digit, (65+68+71 = 204) and every
last digit, (99+70+76 = 245) of all the numbers.
Finally, the program prints:
âSummation of every first char: 11â
âSummation of every last char: 13â

Sample Input 2:

-1

Sample Output 2:

Invalid Input

Explanation 2:

The user is supposed to enter
a positive integer in the first
input. But, the user entered
otherwise, thus it is printing
âInvalid Inputâ.

Sample Input 3:

2

FyZ

Sample Output 3:

Invalid Input

Explanation 3:

The user is supposed to
enter a string of length 2.
But, the string is of length 3,
which is why it is printing
âInvalid Inputâ.

You are given a tuple of strings representing the student ID of a weird university. You need to generate a print dictionary containing information of **Enrollment year, Department, and Course fee** spent so far, for each string present in the given tuple.

Student ID is generated in the following way:

â The First 2 digits represent the enrollment year

â The next 2 digits represent the department :

- CSE if 01

- CS if 02

- MNS if 03

â The remaining digits represent completed credit

Consider 6600BDT per credit to calculate the total course fee.

Given Tuple:

student_id = ('220137','1901101','210288','200391')

Sample Output :

{'Enrollment year': '2022', 'Department': 'CSE', 'Course fee': 244200}
{'Enrollment year': '2019', 'Department': 'CSE', 'Course fee': 666600}
{'Enrollment year': '2021', 'Department': 'CS', 'Course fee': 580800}
{'Enrollment year': '2020', 'Department': 'MNS', 'Course fee': 600600}

NB: The program should work for any tuple. You donât need to consider the students who have enrolled before 2000.

student_id = ('220137','1901101','210288','200391')

Write a function dict(d1) that takes a dictionary and prints the resultant dictionary by switching the keys and values of the original dictionary so that it looks like the following output:

Driver code/ Function call:

dict({âAliceâ : [10,30,27], âSamâ : [23,12,27], âRayâ : [14,30]})

Output:

{(10 : [âAlice], 30 : [âAliceâ, âRayâ], 27 : [âAliceâ, âSamâ], 23 : [âSamâ], 12 : [âSamâ], 14 : [âRayâ]}

Write a function find_odd_even (list1) that takes a list and returns two lists, one containing all the odd and the other containing all the even numbers.

Function Call:

find_odd_even ([10, 5, -3, -39, 0, -18])

Output:

Odd: [5, -3, -39]

Even: [10, 0, -18]

Write a function find_pos_neg (list1) that takes a list and returns two lists, one containing all the positive and the other containing all the negative numbers.

Function Call:

find_pos_neg ([10, 5, -3, -39, 0, 18])

Output:

Positive: [10, 5, 0, 18]

Negative: [-3, -39]

d2 = { 'Rose' : '#', 'Lily' : '**', 'Lotus' : '@@@', 'Orchid' : '&&' }
you are given the above dictionary d2.

a) Write a single line of code to access the value of the key 'Lily'

b) Write a single line of code to modify the value of the key 'Orchid' to '>'

c) Fill in the blank to iterate the dictionary d2 and print the keys and values.

```
for ______ in _________:
    print( 'Keys-', ___ )
    print( 'Values-', ___ )
```

Given List:
a = [ 10, 21, 15, -6, -5, 24, 4 ]

Find:
*  First positive number
*  Last negative number
*  Maximum number
*  Average of all the even numbers which are >= 0
*  Average of all the odd numbers which are >= 0

Output:

First positive: 10
Last negative: -5
Maximum: 24
Average of all the even numbers: 12.6667
Average of all the odd numbers: 18.0

Copy the following given list directly into your code. Then create the resultant list accordingly. Go through the given list and the output to understand how the resultant list must be created.

Given list:

l1 = [ 10, 20, 5, -5, 4 ]

l2 = [ 'Hi', 'Hello' ]

l3 = [ True, False ]

Output:

[ 'Hi', 'Hello', 10, 20, True, 'Hi', 'Hello', 5, -5, False, 'Hi', 'Hello', 4 ]

Write a program that takes an encrypted input and decodes the input and prints the decoded output. The input is a combination of numbers and alphabets. The decoded output is the alphabets in the input in the reverse order.

Sample Input 1:

564e468yB

Sample Output 2:

Bye

Explanation 1:

In the given input, if we look for alphabets in the
string using the ascii value in reverse order, a new
string is created which is "Bye" (every alphabet
excluding the numbers in the input in reverse order.)

Sample Input 2:

123o64LL7887e782H34

Sample Output 2:

HeLLo

Explanation 2:

In the given input, if we look for alphabets in the
string using the ascii value in reverse order, a new
string is created which is "HeLLoâ (every alphabet
excluding the numbers in the input in reverse order.)

Q1. Factorial Solver:

Write a python code that takes one integer as input from the user and checks whether the given number is odd or even. If the number is odd, it prints the value of the factorial and then it prints the procedure of the factorial calculation from bottom to top. If the number is even then at first, it prints the factorial calculation from top to bottom and then it prints the value of the factorial.

Hints:

A factorial of 3 means, 

3 ! = 3 * 2 ! = 3 * 2 * 1 ! = 3 * 2 * 1 = 6

We know,

The factorial of 1 is 1 (i.e 1 ! = 1)

The Factorial of 0 is 1 (i.e 0 ! = 1)

```
________________________________________
 input         |       output
  3            |         6
               |         3*2*1
               |         3*2*1!
               |         3*2!
               |         3!
________________________________________
 input         |       output
  4            |         4!
               |         4*3!
               |         4*3*2!
               |         4*3*2*1!
               |         4*3*2*1
               |         24
________________________________________
```

#TRACING

In [ ]:
#TRACING
myList = [0, 1, 3, 5, 7]
index1 = 0
index2 = 0
b = myList
while (index1 < 4):
  myList[index1] = index1 + index2
  index2 = 1
  while (index2 < index1):
    myList[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

0
2
0
-1

In [ ]:
#TRACING
x=201
y=x+105
z=x-y+1
w=False
print('Quiz 2')
while x<205:
  y=y+1
  z=(10/2.0)-(5*(y//1000))**3+14//3
  print (x, ",", z, ",",y)
  if y == 307 or y==308:
    w=True
    print (w, ",",y)
  else:
    w=False
    print (w, ",",x)
  x+=1
print ("End of Exam")

Quiz 2
201 , 9.0 , 307
True , 307
202 , 9.0 , 308
True , 308
203 , 9.0 , 309
False , 203
204 , 9.0 , 310
False , 204
End of Exam

In [ ]:
#TRACING
big = [6,50]
hero = [9,26]
i = 5
while i < 7 :
  j = 0
  key = 20
  while j < 2 :
    key+=i*2+(10-key%3)//4
    big[j] = key
    print(big[j]+hero[0])
    j+=1
  i += 1
  hero = big
print(i<100)

41
53
68
82
True

In [ ]:
#TRACING
l1 = [5, 4, 3, 4, 5]
j = 1
l2 =l1
while j <= 2 :
  for i in range (1, j+1):
    k = int(str(i)+str(j))%9
    l1[j] = l2[j] - l1[k]
    print(l1[j])
  j += 1
  print(l2[j])

1
3
-1
-6
4

In [ ]:
#TRACING
hash = [10, 20, 30, 40]
score = [50, 40, 30, 20, 10]
high = 4
low = 1
while high>0 :
  for i in range (low,high):
    if (score[i] in hash and i%2 == 0):
      print(hash[i-1]+i)
    elif (hash[i-1] in score):
      print(score[i]-i)
  high -= 1
  low += 1
print(score[low-1] == hash[high+1])

39
22
17
22
False

In [ ]:
#TRACING
i = 1
h = 1
sum = 0
while i < 10 :
  j = i*15
  while j <= 25 :
    k = i + j * 4 ** i + h + 3 % 2 ** h / 2 + sum
    sum = sum + 7
    if j % 2 == 0 or sum % 2 == 0 :
      print ( int(k))
    else:
      p = '-'
      p+=str(j+sum)+'-->'+str(j)+'<--'
      print(p)
    j = j + 6 * j % 2 + j % 2 + 1
  print(j)
  i += j % 4 + 1
print(sum)

-22-->15<--
77
-40-->19<--
107
-58-->23<--
137
27
75
135
42

In [ ]:
#TRACING
x = 10
y = 5
sum = 0
a = 15
b = -10
while y > 0 :
  x = y - 2
  while x < y :
    a = a + (-7//14)*2%3
    sum = sum % a - 12/2.4
    print(str(int(sum))+str(int(a)))
    x += 1
  y -= 1

-516
717
218
-319
1220
721
222
-323
1624
1125

In [ ]:
#TRACING
p = 2
x = 4
q = None
sum = 0
while p < 17:
 q = x + p - (sum + 7 // 3) / 3.0 / 2
 sum = sum + x + int(q)
 x += 1
 print(sum)
 if x > 6:
  p += 4 / 2
 else:
  p += (3 % 2)
sum = int(sum + p)
print(sum)

9
20
32
46
62
79
97
116
136
154

In [ ]:
#TRACING
i=0
j=0
k=13
test = 'bat'
while i < 11:
 k -= 2
 j = k
 while j > 6:
  if j % 2 != 0:
   test += '--'
   test = test + str(i+2)
  else:
   test += '--'
   test = test + str(i // 2)
  print(test)
  j-=1
 i+=1

bat--2
bat--2--0
bat--2--0--2
bat--2--0--2--0
bat--2--0--2--0--2
bat--2--0--2--0--2--3
bat--2--0--2--0--2--3--0
bat--2--0--2--0--2--3--0--3
bat--2--0--2--0--2--3--0--3--4

In [ ]:
#TRACING
i=0
j=0
k=15
test = '<--cat'
while i < 5:
 k -= 1
 j = k
 while j > 10:
   if j % 2 == 0:
      test += '-->'
      test = test + str(i) + str(j // 2)
   else:
      test += '<--'
      test = test + str(i // 2) + str(j)
   print(test)
   j-=1
 i+=1

<--cat-->07
<--cat-->07<--013
<--cat-->07<--013-->06
<--cat-->07<--013-->06<--011
<--cat-->07<--013-->06<--011<--013
<--cat-->07<--013-->06<--011<--013-->16
<--cat-->07<--013-->06<--011<--013-->16<--011
<--cat-->07<--013-->06<--011<--013-->16<--011-->26
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111
<--cat-->07<--013-->06<--011<--013-->16<--011-->26<--111<--111

In [ ]:
#TRACING
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<10):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7
9
11
13
15
17
19

In [ ]:
#TRACING
myList = [0, 0, 0, 5, 0, 2, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
 myList[index1] = index1 + 1
 index2 = 1
 while (index2 < index1):
   myList[index1] = b[index2-1] + myList[index2] - index1
   index2 = index2 + 1
 print(myList[index1])
 index1 = index1 + 1
print(index2)

2
0
-1
-5
-11
-22
-40
-70
-119
9

In [ ]:
#TRACING
x = 0
y = 1.0
counter = 1
while x<3:
  for a in range(3):
    y = y + x // 2.5 + a
    counter = (counter % 3) + y * 3
    print(counter)
    y+=3.0
  if x>=7:
    x+=1
  else:
    x += 2

4.0
16.0
31.0
40.0
52.0
67.0

In [ ]:
#TRACING
p, sum , z = 0 , 20, 70
while (z > 7):
  while ( sum < z+1 ):
    p = z + sum -29
    print(3 + int (p / 5))
    sum += 10
  z -= 15
print(False and (True or not True) or not False)
print(sum // 7 + 2)
print(z+2 > 9 == False)
print(int(69/7 + 3))

15
17
19
21
23
25
True
13
False
12

In [ ]:
#TRACING
value = ""
i, j, k = 0, 0, 15 
while i< 5:
    k-=1
    j = k
    while j > 11:
        if (j % 2) != 0:
            value = str(i) + "-->" + str(int(j / 3)) 
        else:
            value = "-->" + str(int(i / 5)) + str(value) + str(j)
        print(value)
        j = j-1
    i+=1
print(value == '-->01-->412')
print(int(8.9)/2+3*5)
print(True and False or not False)
print(True == 'True')

-->014
0-->4
-->00-->412
1-->4
-->01-->412
-->0-->01-->41212
False
19.0
True
False

In [ ]:
#TRACING
p = 3
q = 3
term = 2
while p<6:
  for b in range(3):
   q = q + p // 2.0 + b
   term = (term * 2) + q // 4
   print(term)
   q+=1
  if p<=3:
    p+=2
  else:
    p += 4

5.0
11.0
24.0
51.0
106.0
217.0

In [ ]:
#TRACING
p = 5
q = 65
r = 9
sum = 0
word = ''
if (p < 12):
 print(r + 2)
else:
 print(r + p)
if (q > 20):
 print(r + 19)
if (q <= 6):
 print(q + 3)
elif (r == 9):
 print(p + q)
 if p==5:
  print(sum + 32)
else:
 print(p + q + r)
if (sum != 0):
 print(3)
if (p>0 and r<10):
 print(p+r)
else:
 print(p-r)

11
28
70
32
14

In [ ]:
#TRACING
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = False
var1 = (not False or False) and True #True
var2 = var1 and True #True
var3 = False and not True #False
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((30//10 > 4) and False)
print(((var1 and result3) and (not var5 or var6)))
print(not (var1 and True))
print(result1)
print(result2)
print(not result3)

True
False
False
True
False

In [ ]:
#TRACING
var1 = 0
r = 1
while var1 <= 6:
      var2 = 1
      while var2 <= var1:
          var2 = var2 + 1
          if var2 == 4 or var2 == 5:
              print(var1 - var2 * 2)
              break
          elif var1 % 2 ==0:
              continue
              print(var1 - var2 - (21 // var1))
          elif var1 % 3 > 1:
              pass
              print(var1 - var2 - (21 // var1))
          else:
              r = var1 * var2 - int(17 / var2)
              print(r)
      var1 = var1 + 1
print(var1==var2)

-6
-2
4
-5
-4
-1
-2
-3
-2
False

In [ ]:
#TRACING
dict1 = {'a':59 , 'b':-82 , 'c':5}
my_list = [1,2,[-4,5]]
s = [1,'2',[-4,5]]
temp = ''
for value2 in dict1:
    dict1[value2] = temp
    temp+=str(0)
    print(dict1)
dict1 = my_list
print(my_list == s)
print(my_list[1] == int(str(int(s[1]))))
print(dict1)
print(my_list[2][0]%3)
print(dict1 is my_list)
print(float(int(str(s[2][1]))))

{'a': '', 'b': -82, 'c': 5}
{'a': '', 'b': '0', 'c': 5}
{'a': '', 'b': '0', 'c': '00'}
False
True
[1, 2, [-4, 5]]
2
True
5.0

In [ ]:
#TRACING
myList = [0, 0, True, 0, 0, False, 0, 0, 0, 0]
b = []
index1 = 3
index2 = 2
index1 = 1
b = myList
c = b
while (index1 < 11):
  myList[index1] = index1 + 1
  index2 = 1
  while (index2 < index1):
    c[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(c[index1])
  index1 = index1 + 2

2
0
-5
-12
-21

In [ ]:
#TRACING
myList = [7, 0, -5, 4, 0, False, 0, 9, 0, 0]
b = []
index1 = 3
index2 = 2
index1 = 1
b = myList
c = b
while (index1 < 11):
  myList[index1] = index1 - 2
  index2 = 1
  while (index2 < index1):
    c[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(c[index1])
  index1 = index1 + 2

-1
-9
-14
-21
-30

In [ ]:
#TRACING
j = 15
test = '###' 
i = 8
while j > 10:
    if j % 2 == 0:
            test += '-->'
            test = test + str(i) + str(j // 2)
    else:
            test += '<--'
            test = test + str(i // 2) + str(j)
    print(test)
    j-=1
    i+=1
print(test == '###')
print([7]+[9])
print((6, 8+7 == 14))

###<--415
###<--415-->97
###<--415-->97<--513
###<--415-->97<--513-->116
###<--415-->97<--513-->116<--611
False
[7, 9]
(6, False)

#PATTERN

Write a python function that takes a number(integer) as an argument and generates a pattern according to the outputs shown below.
![2022-12-09.png]()

In [ ]:
def pattern(a):
  b = a-1
  for row in range(1,a+1):
    if row == 1:
      print('#'*(a-1)+'A'*a)
    elif row == a:
      print('A'*a)
    else:
      print('#'*b+'A'+'*'*(a-2)+'A')
    b-=1
pattern(3)

##AAA
#A*A
AAA

Write a python program that takes a number(integer) as an input from the user.Then print a square and a right angle triangle alternatively till the given number.

**Sample Input**

5

**Sample Output**

=== Iteration 1 ===


1


=== Iteration 2 ===


x

xx


=== Iteration 3 ===


123

123

123


=== Iteration 4 ===


x

xx

xxx

xxxx


=== Iteration 5 ===


12345

12345

12345

12345

12345

In [ ]:
n = 5
for i in range(1,n+1):
  print(f'=== Iteration {i} ===')
  if i%2 != 0 :
    for j in range(1,i+1):
      for k in range(1,i+1):
        print(k,end='')
      print()
  else:
    for j in range(1,i+1):
      for k in range(1,j+1):
        print('x',end='')
      print()

=== Iteration 1 ===
1
=== Iteration 2 ===
x
xx
=== Iteration 3 ===
123
123
123
=== Iteration 4 ===
x
xx
xxx
xxxx
=== Iteration 5 ===
12345
12345
12345
12345
12345

In [ ]:
n = int(input())
x = int((1+n)/2)
if n%2 != 0:
  for row in range(1,n+1):
    if row == x:
      for column in range(1,n+1):
        print(column, end=' ')
      print()
    else:
        print(((chr(ord(' ')))*(n-2)),row)

9
        1
        2
        3
        4
1 2 3 4 5 6 7 8 9
        6
        7
        8
        9

In [ ]:
s = input('string: ')
n = int(input('integer: '))
x = int((1+n)/2)
if n%2 != 0:
  for row in range(n):
    if row == (x-1):
      for column in range(n):
        print(s, end=' ')
      print()
    else:
      print(((chr(ord(' ')))*(n-2)),s)

string: *
integer: 9
        *
        *
        *
        *
* * * * * * * * *
        *
        *
        *
        *

In [ ]:
n = int(input())
x= 2*n-2
for i in range(1,n+1,2):
  for j in range(x):
    print(end='  ')
  x-=1
  for j in range(1,i+1):
    print('*', end=' ')
  print()
x= n+3
for i in range(n-1,-1,-2):
  for j in range(x,-1,-1):
    print(end='  ')
  x+=1
  for j in range(1,i):
    print('*', end=' ')
  print()

9
                                *
                              * * *
                            * * * * *
                          * * * * * * *
                        * * * * * * * * *
                          * * * * * * *
                            * * * * *
                              * * *
                                *

In [ ]:
n = int(input())
x = (2*n)-2
y = 1
for row in range(1,n+1,2):
  for column in range(x):
    print(end='  ')
  x-=1
  for column in range(1,row+1):
    print(column, end =' ')
  print()
x = n+3
for row in range(n-1,-1,-2):
  for column in range(x,-1,-1):
    print(end='  ')
  x+=1
  for column in range(1,row):
    print(column,end=' ')
  print()

9
                                1
                              1 2 3
                            1 2 3 4 5
                          1 2 3 4 5 6 7
                        1 2 3 4 5 6 7 8 9
                          1 2 3 4 5 6 7
                            1 2 3 4 5
                              1 2 3
                                1

In [ ]:
n = int(input())
for i in range(1,2*n):
    for j in range(1,2*n):
        if i==j or i+j==2*n:
            print('*', end=' ')
        else:
            print(' ',end=' ')
    print()

6
*                   *
  *               *
    *           *
      *       *
        *   *
          *
        *   *
      *       *
    *           *
  *               *
*                   *

In [ ]:
n = int(input('Enter an odd number: '))
o = int((n+1)/2)
c=1
for i in range(1,n+1):
  x = (n+1)-c
  y = x//2
  if i<o:
    print(' '*y+'*'*c+' '*y)
    c+=2
  elif i>=o:
    print(' '*y+'*'*c+' '*y)
    c-=2

Enter an odd number: 9
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n = int(input('Enter an odd number: '))
o = int((n+1)/2)
c = 1
for i in range(1,n+1):
  x = (n+1)-c
  y = x//2
  if i < o :
    print(' '*y+str(i)*c+' '*y)
    c+=2
  elif i >= o :
    print(' '*y+str(i)*c+' '*y)
    c-=2

Enter an odd number: 9
    1
   222
  33333
 4444444
555555555
 6666666
  77777
   888
    9

In [ ]:
n = int(input('Enter an odd number: '))
o = int((n+1)/2)
c = 1
for i in range(1,n+1):
  x = (n+1)-c
  y = x//2
  if i < o :
    print(' '*y+'*'+' '*y)
    c-=2
  elif i >= o :
    print(' '*y+'*'+' '*y)
    c+=2

Enter an odd number: 9
    *
     *
      *
       *
        *
       *
      *
     *
    *