#CSE110(LAB1)

**String**

1. From a given string, print the string in all uppercase if the number of uppercase letters is more than lowercase letters. Otherwise, if lowercase is greater or equal to uppercase letters, print all lowercase. The inputs will contain letters (A-Z, a-z) only.
```
Sample Input     Sample Output
HOusE            HOUSE
ApplE            apple
BaNaNa           banana
```

In [ ]:
st = 'HOusE'
s1 = ''
s2 = ''
for i in st:
  a = ord(i)
  if a>=65 and a<=90 :
    s1+=i
  else:
    s2+=i
if len(s1)>len(s2):
  print(st.upper())
else:
  print(st.lower())

HOUSE

2. Given a string, print whether it is a number, word or mixed with digit and letters. If all the characters are numeric values, print NUMBER. If they are all letters, print WORD. If it is mixed, print MIXED.
```
Sample Input     Sample Output
213213           NUMBER
jhg231j213       MIXED
Hello            WORD
```

In [ ]:
s = 'jhg231j213'
s1 = ''
s2 = ''
l = len(s)
for i in s:
    a = ord(i)
    if a >= 48 and a <= 57:
        s1 += i
    elif (a >= 65 and a <= 90) or (a >= 97 and a <= 122):
        s2 += i
if l == len(s1):
    print('NUMBER')
elif l == len(s2):
    print('WORD')
else:
    print('MIXED')

MIXED

3. In a given string, there will be two uppercase letters in between some lowercase letters. Print the substring from the first uppercase letter to the last uppercase letter excluding them. If there are no letters in between them, print the word BLANK. It is guaranteed that there will be only two uppercase letters in the string.
```
Sample Input    Sample Output
baNgladEsh      glad
coDIng          BLANK
```

In [ ]:
s = 'baNgladEsh'
s1 = ''
n = 0
for i in range(len(s)):
  a = ord(s[i]) 
  if a>= 65 and a<=90:
    n+=1
    if n != 2:
      s1+=s[i+1::]
    else:
      x = len(s[i::])
      s1 = s1[:-x:]
      break
if s1 == '':
  print('BLANK')
else:
  print(s1)

glad

4. Create a string from two given strings by concatenating common characters of the given strings.
```
Sample Input        Sample Output
harry, hermione     hrrhr
dean, tom           Nothing in common.
```

In [ ]:
s1 = 'harry'
s2 = 'hermione'
s = ''
for i in s1:
  if i in s2:
    s+=i
for j in s2:
  if j in s1:
    s+=j
if s == '':
  print('Nothing in common.')
else:
  print(s)

hrrhr

5. Again, you have lost your USIS password!! You went to the registrar office and requested for a new password. This time, you need to follow some rules to set your password. Otherwise, they won't change it. The rules are

At least one lowercase letter

At least one uppercase letter

At least one digit (0-9)

At least one special character (_ , $ , #, @)

Your task is to find whether a given password follows all those rules. If it breaks any rule, you have to print Lowercase Missing, Uppercase Missing, Digit Missing or Special Missing respective to the missing case. For more than one rule break, print all the rules that were broken (order doesn't matter). If the password is ok, print OK.
```
Sample Input         Sample Output

ohMyBR@CU            Digit missing
ohmybracu            Uppercase character missing, Digit missing, Special character missing
OhMyBR@CU20          OK
```

In [ ]:
inp =input()
s=""
special = '_' , '$' , '#', '@'
lw = True
up = True
sp = True
dg = True
for i in inp:
  i = ord(i)
  if i>=48 and i<=57:
    dg = False
  if i>=65 and i<=90:
    up = False
  if i>=97 and i<=122:
    lw = False
  if chr(i) in special:
    sp = False
if lw == True:
  s += 'Lowercase character missing, '
if up == True:
  s += 'Uppercase character missing, '
if dg == True:
  s += 'Digit missing, '
if sp == True:
  s += 'Special character missing, '
if s == '':
  print('OK')
else:
  print(s[:len (s)-2:])

ADbh23
Special character missing

**List**

1. Write a python program which prints the frequency of the numbers that were given as input by the user. Stop taking input when you find the string ‚ÄúSTOP‚Äù. Do not print the frequency of numbers that were not given as input.
```
Sample Input     
10
20
20                 Sample Output
30                 10 - 2 times
10                 20 - 2 times
50                 30 - 1 times
90                 50 - 1 times
STOP               90 - 1 times
```

In [ ]:
l = []
l1 = []
count = 0
while True:
  st = input()
  if st == 'STOP':
    break
  else:
    l1.append(int(st))
for i in l1:
  if i not in l:
    l.append(i)
for j in l:
  for k in l1:
    if j == k:
      count+=1
  print(f'{j} - {count} times')
  count = 0

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

2. Write a python program that calculates the sum of N given lists and prints the highest sum and its respective list. Input starts with N and followed by N lists.
```
Sample Input       Sample Output
4                  33
1 2 3              [10, 11, 12]
4 5 6
10 11 12
7 8 9
```

In [ ]:
l=[]
n=int(input())
for i in range(n):
  nl=[]
  u=input().split()
  for j in u:
    nl.append(int(j))
  l.append(nl)
max=0
index=0
for k in range(len(l)):
  sum=0
  for m in l[k]:
    sum+=m
  if sum>max:
    max=sum
    index=k
print(max)
print(l[index])

4
1 2 3
18 19 34
11 12 13
7 8 9
71
[18, 19, 34]

3. Write a python program that prints a list which contains cross multiplication between two given lists.
```
Sample Input          Sample Output
2 3 6                 [6, 8, 10, 9, 12, 15, 18, 24, 30]
3 4 5
```

In [ ]:
l1 = [2, 3, 6]
l2 = [3, 4, 5]
l = []
for i in l1:
  for j in l2:
    l.append(i*j)
print(l)

[6, 8, 10, 9, 12, 15, 18, 24, 30]

4. Let there are N numbers in a list and that list is said to be a UB Jumper if the absolute values of the difference between the successive elements take on all the values 1 through N ‚àí 1. For example, 2 1 4 6 10 is a UB Jumper because the absolute differences between them are 1 3 2 4 which is all numbers from 1 to (5 - 1) or 4.**Write a python program that takes a number sequence as input and prints whether it is a UB Jumper or Not UB Jumper. Input will stop after getting ‚ÄúSTOP‚Äù as input.** (Number order or absolute difference order doesn‚Äôt follow any sequence.)

```
Sample Input        Sample Output
1 4 2 3             UB Jumper
2 1 4 6 10          UB Jumper
1 4 2 -1 6          Not UB Jumper
STOP
````

In [ ]:
while True:
  inp = input().split()
  if inp == ['STOP']:
    break
  else:
    num = [int(i) for i in inp]
    l = []
    l2 = []
    for j in range(len(num)-1):
      l.append(abs(num[j]-num[j+1]))
      l2.append(j+1)
  l.sort()
  if l == l2:
    print('UB Jumper')
  else:
    print('Not UB Jumper')

1 4 2 3
UB Jumper
2 1 4 6 10
UB Jumper
1 4 2 -1 6
Not UB Jumper
STOP

5. BRACU has n students who are regular competitive programmers. According
to the ACM ICPC rules, each person can participate in the regional championship at most 5 times.

The head of the BRACU ACM Chapter is recently gathering teams to participate in this championship. Each team must consist of exactly three people, at that, any person cannot be a member of two or more teams. What maximum number of teams can the head make if he wants each team to participate in the world championship with the same members at least k times?

The first line of input contains two integers, n and k. The next line contains n integers: y1,y2, ...,yn (0‚â§ yi‚â§ 5), where yi shows the number of times the i-thperson participated in the ACM ICPC Regional.

Write a python program that prints how many teams can be formed according to the above problem statement.

```
Sample Input 1           Sample Output 1
5 2                      1
0 4 5 1 0
Sample Input 2           Sample Output 2
6 4                      0
0 1 2 3 4 5
Sample Input 3          Sample Output 3
6 5                     2
0 0 0 0 0 0
```

In [ ]:
n = input().split()
k = int(n[1])
count = 0
ip = input().split(' ')
l = []
for i in ip:
  l.append(int(i))
for j in l:
  if (j+k) <= 5:
    count+=1
print(count//3)

6 5
0 0 0 0 0 0
2

**Dictionary & Tuple**

1. Write a Python program to combine two dictionaries into one by adding values for common keys. Input contains two comma separated dictionaries. Print the new dictionary and create a tuple which contains unique values in sorted order.

```
Sample Input
a: 100, b: 100, c: 200, d: 300
a: 300, b: 200, d: 400, e: 200

Sample Output
{'a': 400, 'b': 300, 'c': 200,'d': 700, 'e': 200}
Values: (200, 300, 400, 700)
```

In [ ]:
inp1 = input().split(', ')
inp2 = input().split(', ')
d = {}
t = []
for i in inp1:
  i = i.split(': ')
  d[i[0]] = int(i[1])
for j in inp2:
  j = j.split(': ')
  if j[0] in d1:
    d[j[0]] += int(j[1])
  else:
    d[j[0]] = int(j[1])
print(d)
for k in d.values():
  if k not in t:
    t.append(k)
for ind1 in range(len(t)-1):
    mv = t[ind1]
    mi = ind1
    for ind2 in range(ind1+1, len(t)):
      if t[ind2] < mv:
        mv = t[ind2]
        mi = ind2
    r = mv
    t[mi] = t[ind1]
    t[ind1] = r
print(tuple(t))

a: 100, b: 100, c: 200, d: 300
a: 300, b: 200, d: 400, e: 200
{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
(200, 300, 400, 700)

2. Write a python program which prints the frequency of the numbers that were given as input by the user. Stop taking input when you find the string ‚ÄúSTOP‚Äù. Do not print the frequency of numbers that were not given as input. Use a dictionary to solve the problem.
```
Sample Input          Sample Output
10                    10 - 2 times
20                    20 - 2 times
20                    30 - 1 times
30                    50 - 1 times
10                    90 - 1 times
50
90
STOP
```

In [ ]:
d = {}
while True:
  st = input()
  if st == 'STOP':
    break
  else:
    if st not in d:
      d[st] = 1
    else:
      d[st]+=1
for i,j in d.items():
  print(f'{i} - {j} times')

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

3. Write python code to invert a dictionary. It should print a dictionary where the keys are values from the input dictionary and the values are lists of keys from the input dictionary having the same value. Make sure the program handles multiple same values.
```
Sample Input
key1 : value1, key2 : value2, key3 : value1
Sample Output
{ "value1" : ["key1", "key3"], "value2" : ["key2"] }

```

In [ ]:
st = input().split(', ')
d = {}
for i in st:
  i = i.split(' : ')
  if i[1] not in d:
    d[i[1]] = [i[0]]
  else:
    d[i[1]] += [i[0]]
print(d)

key1 : value1, key2 : value2, key3 : value1
{'value1': ['key1', 'key3'], 'value2': ['key2']}

4. On some basic cell phones, text messages can be sent using the numeric keypad. Because each key has multiple letters associated with it, multiple key presses are needed for most letters. Pressing the number once generates the first character listed for that key. Pressing the number 2, 3, 4 or 5 times generates the second, third, fourth or fifth character.

```
Key Symbols
1   .,?!:
2   ABC
3   DEF
4   GHI
5   JKL
6   MNO
7   PQRS
8   TUV
9   WXYZ
0   Space
```
Write a program that displays the key presses needed for a message entered by the user. Construct a dictionary that maps from each letter or symbol to the key presses needed to generate it. Then use the dictionary to create and display the presses needed for the user‚Äôs message.
```
Sample Input
Hello, World!

Sample Output
4433555555666110966677755531111

```

In [ ]:
d = { '1' : '.,?!:' , '2' : 'ABC' , '3' : 'DEF' , '4' : 'GHI' , '5' : 'JKL' , '6' : 'MNO' , '7' : 'PQRS' , '8' : 'TUV', '9' : 'WXYZ' , '0' : ' '}
s = input().upper()
ns = ''
for i in s:
  for j,k in d.items():
    for l in range(len(k)):
      if k[l] == i:
        ns+=(j*(l+1))
print(ns)

adgjmptw
234567890

#LAB2

1. Write a function which will return the fraction part after dividing a number by another. The range should be within 0 and 1. Exception: Since dividing anything by 0 results in error so if the denominator is 0, the function will return 0 instead of attempting the division.
```
Function Call        Sample Output  
(5, 2)               0.5
(5, 0)               0
(0, 5)               0
```

In [ ]:
def fraction(m,n):
    if n == 0:
        return 0
    else:
        x = m/n
        return (x-int(x))
a = fraction(5,2)
if a>=0 and a<=1:
    if a == 0.0 :
        print(0)
    else:
        print(a)

0.5

2. You are one of the gym instructors at AmiKenoMota. You decide to provide a customized diet and exercise plans based on the BMI of an individual. You measure the weight in kilograms and height in meters and calculate the BMI before a plan can be decided. Write a BMI function that takes in two values, weight in kg and height in cm and print the score along with the condition. (Make sure to convert cm into m before calculation)

BMI(height, weight)

ùêµùëÄùêº = ùëòùëî/ùëö2

Based on the BMI score return the following output.

‚óè < 18.5- Underweight

‚óè 18.5 - 24.9 - Normal

‚óè 25 -30 - Overweight

‚óè > 30 ‚Äì Obese

```
Function Call     Sample Output
(175, 96)         Score is 31.3. You are Obese 
(152, 48)         Score is 20.8. You are Normal
```

In [ ]:
def bmi(height,weight):
  height = height/100
  BMI = round((weight/(height**2)),2)
  s = ''
  if BMI < 18.5:
    s+='underweight'
  elif BMI>= 18.5 and BMI<25:
    s+='normal'
  elif BMI>= 25 and BMI<=30:
    s+= 'overweight'
  else:
    s+='obese'
  return (f'Score is {BMI}. You are {s}')  
print(bmi(152,48))

Score is 20.78. You are normal

3. Write a function which will take 3 arguments minimum, maximum and divisor. 
You have to find all the numbers that are divisible by the divisor where minimum 
value is inclusive and maximum value is exclusive. Add all the numbers and return 
the value.
```
Function Call    Sample Output
(0, 10, 2)       20
(3, 16, 3)       45
```

In [ ]:
def divi(min,max,div):
    sum = 0
    for i in range(min,max):
        if i%div == 0:
           sum+=i
    return sum 
print(divi(3,16,3))

45

4. You want to order Burger from Chillox through the FoodPanda App. You have to 
calculate the total price. Write a function which will take the name of the burger and 
place(Mohakhali/Outside of Mohakhali) as input. Use default argument technique 
for taking place input.
```
Menu                           Price(Tk)
BBQ Chicken Cheese Burger      250
Beef Burger                    170
Naga Drums                     200
```
Hint: Total Price = meal_cost + delivery_charge + tax 

Note that:

‚óè If your home is in Mohakhali area then your delivery charge is 40 taka else 60 taka

‚óè Your tax rate is 8% of your meal.
```
Function Call                      Sample Output 
(‚ÄòBeef Burger‚Äô, ‚ÄòDhanmondi‚Äô)       243.6
(‚ÄòBeef Burger‚Äô)                    223.6
```

In [ ]:
def price(food, lc = input('Enter Location: ')):
    fp = {'BBQ Chicken Cheese Burger' : 250, 'Beef Burger' : 170, 'Naga Drums' : 200}
    total = 0
    for i,j in fp.items():
        if food == i:
            if lc == 'Mohakhali':
                total+=(j+40+(j*0.08))
            else:
                total+=(j+60+(j*0.08))
    print(total)
price(input('Enter Food Name: '), 'Dhanmondi')

Enter Food Name: Beef Burger
Enter Location: Dhanmondi
243.6

5. A company named Sheba.xyz has recently moved from their old domain to a new domain. However, a lot of the company email addresses are still using the old one. Write a function in python that replaces this old domain with the new one in any outdated email addresses. Keep same if the email address contains the newdomain.
(Do not use builtin replace function)

Firstly, define a ‚Äúreplace_domain‚Äù function which accepts three parameters

*The email address to be checked

*The new domain

*The old domain (Use Default argument technique to handle this)
```
Function Call                                     Sample Output
(‚Äòalice@kaaj.com‚Äô, ‚Äòsheba.xyz‚Äô, ‚Äòkaaj.com‚Äô)       Changed: alice@sheba.xyz
(‚Äòbob@sheba.xyz‚Äô, ‚Äòsheba.xyz‚Äô)                    Unchanged: bob@sheba.xyz
```

In [ ]:
def replace_domain(mail,domnew, domold = 'kaaj.com'):
  m = mail.split('@')
  if m[1] == domold:
    print(f"Changed: {m[0]+'@'+domnew}")
  else:
    print(f'Unchanged: {mail}')
replace_domain('bob@sheba.xyz', 'sheba.xyz')

Unchanged: bob@sheba.xyz

6. Write a function which takes only your full name as input and finds the total number of vowels in that input. Output every vowel and at the end output the total number of vowelsfound. If your name does not contain any vowel then yourfunction should print ‚ÄúNo vowels in the name!‚Äù.

```
Function Call        Sample Output
(Steve Jobs)         Vowels: e, e, o. Total number of vowels: 3
(XYZ)                No vowels in the name
```

In [ ]:
def name(n):
  s = ''
  count = 0
  vowels = 'AaEeIiOoUu'
  for i in n:
    if i in vowels:
      s+=i+', '
      count+=1
  if s == '':
    print('No vowels in the name')
  else:
    print(f'Vowels {s[:len(s)-2:]}. Total number of vowels: {count}')
name(input('Enter Your Name: '))

Enter Your Name: Steve Jobs
Vowels e, e, o. Total number of vowels: 3

7. Write a function which checks whether a given string is a palindrome or not.

Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward. For palindrome, any spaces in middle are not considered and should be trimmed.
```
Function Call       Sample Output
(‚Äòmadam‚Äô)           Palindrome
(‚Äòhello‚Äô)           Not a palindrome
(‚Äònurses run‚Äô)      Palindrome
```

In [ ]:
def palin(st):
  s = ''
  for i in st:
    if i != ' ':
      s+=i
  p = s[::-1]
  if p == s:
    print('Palindrome')
  else:
    print('Not a palindrome')
palin('madam')

Palindrome

8. Write a function which takes a number of days as input and prints total number of years, number of months and remaining number of days as output.
```
Function Call      Sample Output
(4320)             11 years, 10 months and 5 days
(4000)             10 years, 11 months and 20 days
```

In [ ]:
def days(d):
  x = d//365
  m = d%365
  y = m//30
  z = m%30
  print(f'{x} years, {y} months and {z} days')
days(int(input()))

4000
10 years, 11 months and 20 days

9. You are a class teacher at a kindergarten school. As a task, you asked your students to write a paragraph. Unfortunately, you notice that most of the students did not use capital letters correctly. Your task is to write a function which takes a string as its only parameter and returns a new copy of the string that has been correctly capitalized. Your function should:
```
‚óè Capitalize the first letter in the string
‚óè Capitalize the first letter after a full-stop, exclamation mark or questionmark
‚óè Capitalize the word ‚Äúi‚Äù if it is in lowercase.
```
Summary: You have to write a function that reads a string from the user and
capitalizes. The string is then returned and displayed.

```
Function Call
('my favourite animal is a dog. a dog has sharp teeth so that it can eat flesh very easily.
do you know my pet dog‚Äôs name? i love my pet very much.')

Sample Output
My favourite animal is a dog. A dog has sharp teeth so that it can eat flesh very
easily. Do you know my pet dog‚Äôs name? I love my pet very much.
```

In [ ]:
def correction(string = input('Enter a string: ') ):
  s = string[0].upper()
  sp = '.?!'
  for i in range(1,len(string)):
    if (string[i-1] == ' ') and (string[i+1] == ' ') and string[i] == 'i':
      s+='I'
    else:
      if (string[i-1] == ' ') and (string[i-2] in sp):
        s+=string[i].upper()
      else:
        s+=string[i]
  return s
print(correction())

Enter a string: my favourite animal is a dog. a dog has sharp teeth so that it can eat flesh very easily. do you know my pet dog‚Äôs name? i love my pet very much.
My favourite animal is a dog. A dog has sharp teeth so that it can eat flesh very easily. Do you know my pet dog‚Äôs name? I love my pet very much.

#LAB3

1. Write a class that for running the following codes: 

[You are not allowed to change the code below]
```
#Write your class code here

data_type1 = DataType('Integer', 1234)
print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType('String', 'Hello')
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType('Float', 4.0)
print(data_type3.name)
print(data_type3.value)

Output:

Integer
1234
=====================
String
Hello
=====================
Float
4.0
```
Subtasks:

1.Create a class named DataType with the required constructor.

2.Assign name and values in constructor according to the output.

In [ ]:
class DataType:
    def __init__(self,typ,val):
        self.name = typ
        self.value = val
data_type1 = DataType('Integer', 1234)
print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType('String', 'Hello')
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType('Float', 4.0)
print(data_type3.name)
print(data_type3.value)

Integer
1234
=====================
String
Hello
=====================
Float
4.0

2. Design a class Joker with parameterized constructor so that the following line of code prints the result shown in the output box.

[You are not allowed to change the code below]
```
#Write your class code here

j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print('=====================')
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print('=====================')
if j1 == j2:
    print('same')
else: 
    print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name:
    print('same')
else:
    print('different')
#Write your code for 2,3 here


Output:

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same
```
Subtask:
1) Design the class using a parameterized constructor.
2) The first if/else block prints the output as ‚Äòdifferent‚Äô, but why? Explain your answer and print your explanation at the very end.
3) The second if/else block prints the output as ‚Äòsame‚Äô, but why? Explain your answer and print your explanation at the very end.

In [ ]:
class Joker:
    def __init__(self, n, p, boolean):
        self.name = n
        self.power = p
        self.is_he_psycho = boolean
j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print('=====================')
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print('=====================')
if j1 == j2:
    print('same')
else: 
    print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name:
    print('same')
else:
    print('different')
print("The first if/else block prints the output as 'different' because j1 and j2 are two different objects of Joker Class so their reference/location aren't same. That's why it prints the output as 'different'.")
print("The second if/else block prints the output as 'same' because we are comparing two same string values here.")

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same
The first if/else block prints the output as 'different' because j1 and j2 are two different objects of Joker Class so their reference/location aren't same. That's why it prints the output as 'different'.
The second if/else block prints the output as 'same' because we are comparing two same string values here.

3. Design a class called Pokemon using a parameterized  constructor so that after executing the following line of code the desired result shown in the output box will be printed. First object along with print has been done for you, you also need to create other objects and print accordingly to get the output correctly.

[You are not allowed to change the code below]
```
#Write your code for class here

team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)
#Write your code for subtask 2,3,4 here

Output:

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350
```
Subtask:

1) Design the Pokemon class using a parameterized constructor. The 5 values that are being passed through the constructor are pokemon 1 name, pokemon 2 name, pokemon 1 power, pokemon 2 power, damage rate respectively. After designing the class, if you run the above code the details in Team 1 will be printed.

2) Create an object named team_bulb and pass the values ‚Äòbulbasaur‚Äô, ‚Äòsquirtle‚Äô, 80, 70, 9 respectively.

3) Use print statements accordingly to print the desired result of Team 2.


Note: Power is always being calculated using the instance variables. 

Example: 
(team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate

In [6]:
class Pokemon:
    def __init__(self, nam1, nam2, pow1, pow2, dm):
        self.pokemon1_name = nam1
        self.pokemon1_power = pow1
        self.pokemon2_name = nam2
        self.pokemon2_power = pow2
        self.damage_rate = dm
team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)
team_bulb = Pokemon('bulbasaur', 'squirtle', 80, 70, 9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name, team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name, team_bulb.pokemon2_power)
bulb_combined_power = (team_bulb.pokemon1_power + team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', bulb_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350


4. Design the Country class so that the code gives the expected output.

[You are not allowed to change the code below]

```
# Write your Class Code here
country = Country()
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)
print('===================')
country.name = ‚ÄúBelgium‚Äù
country.continent = ‚ÄúEurope‚Äù
country.capital = ‚ÄúBrussels‚Äù
country.fifa_ranking = 1
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)


Output:

Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1
```

In [1]:
class Country:
    def __init__(self,cn='Bangladesh',cc='Asia',ccp='Dhaka',cfr=187):
        self.name = cn
        self.continent = cc
        self.capital = ccp
        self.fifa_ranking = cfr
country = Country()
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)
print('===================')
country.name = 'Belgium'
country.continent = 'Europe'
country.capital = 'Brussels'
country.fifa_ranking = 1
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)

Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

5. Write the DemonSlayer class so that the code gives the expected output.

[You are not allowed to change the code below]

```
# Write your Class Code here
tanjiro = DemonSlayer("Tanjiro", "Water Breathing", 10, 10)
print('Name:',tanjiro.name)
print('Fighting Style:',tanjiro.style)
print(f'Knows {tanjiro.number_of_technique} technique(s) and has killed {tanjiro.kill} demon(s)')
print('===================')
zenitsu = DemonSlayer("Zenitsu", "Thunder Breathing", 1, 4)
print('Name:',zenitsu.name)
print('Fighting Style:',zenitsu.style)
print(f'Knows {zenitsu.number_of_technique} technique(s) and has killed {zenitsu.kill} demon(s)')
print('===================')
inosuke = DemonSlayer("Inosuke", "Beast Breathing", 5, 7)
print('Name:',inosuke.name)
print('Fighting Style:',inosuke.style)
print(f'Knows {inosuke.number_of_technique} technique(s) and has killed {inosuke.kill} demon(s)')
print('===================')
print(f'{tanjiro.name}, {zenitsu.name}, {inosuke.name} knows total {tanjiro.number_of_technique + zenitsu.number_of_technique + inosuke.number_of_technique} techniques')
print(f'They have killed total {tanjiro.kill + zenitsu.kill + inosuke.kill} demons')

Output:

Name: Tanjiro
Fighting Style: Water Breathing
Knows 10 technique(s) and has killed 10 demon(s)
===================
Name: Zenitsu
Fighting Style: Thunder Breathing
Knows 1 technique(s) and has killed 4 demon(s)
===================
Name: Inosuke
Fighting Style: Beast Breathing
Knows 5 technique(s) and has killed 7 demon(s)
===================
Tanjiro, Zenitsu, Inosuke knows total 16 techniques
They have killed total 21 demons
```

In [7]:
class DemonSlayer:
    def __init__(self, name, fight, ktec, kdem):
        self.name = name
        self.style = fight
        self.number_of_technique = ktec
        self.kill = kdem
tanjiro = DemonSlayer("Tanjiro", "Water Breathing", 10, 10)
print('Name:',tanjiro.name)
print('Fighting Style:',tanjiro.style)
print(f'Knows {tanjiro.number_of_technique} technique(s) and has killed {tanjiro.kill} demon(s)')
print('===================')
zenitsu = DemonSlayer("Zenitsu", "Thunder Breathing", 1, 4)
print('Name:',zenitsu.name)
print('Fighting Style:',zenitsu.style)
print(f'Knows {zenitsu.number_of_technique} technique(s) and has killed {zenitsu.kill} demon(s)')
print('===================')
inosuke = DemonSlayer("Inosuke", "Beast Breathing", 5, 7)
print('Name:',inosuke.name)
print('Fighting Style:',inosuke.style)
print(f'Knows {inosuke.number_of_technique} technique(s) and has killed {inosuke.kill} demon(s)')
print('===================')
print(f'{tanjiro.name}, {zenitsu.name}, {inosuke.name} knows total {tanjiro.number_of_technique + zenitsu.number_of_technique + inosuke.number_of_technique} techniques')
print(f'They have killed total {tanjiro.kill + zenitsu.kill + inosuke.kill} demons')

Name: Tanjiro
Fighting Style: Water Breathing
Knows 10 technique(s) and has killed 10 demon(s)
===================
Name: Zenitsu
Fighting Style: Thunder Breathing
Knows 1 technique(s) and has killed 4 demon(s)
===================
Name: Inosuke
Fighting Style: Beast Breathing
Knows 5 technique(s) and has killed 7 demon(s)
===================
Tanjiro, Zenitsu, Inosuke knows total 16 techniques
They have killed total 21 demons

6. Write the box class so that the code gives the expected output.

```
#Write your class code here
print("Box 1")
b1 = box([10,10,10])
print("=========================")
print("Height:", b1.height)
print("Width:", b1.width)
print("Breadth:", b1.breadth)
print("-------------------------")
print("Box 2")
b2 = box((30,10,10))
print("=========================")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
b2.height = 300
print("Updating Box 2!")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
print("-------------------------")
print("Box 3")
b3 = b2
print("Height:", b3.height)
print("Width:", b3.width)
print("Breadth:", b3.breadth)

Output:
Box 1
Creating a Box!
Volume of the box is¬†1000 cubic units.
=========================
Height: 10
Width: 10
Breadth: 10
---------------------------------------------
Box 2
Creating a Box!
Volume of the box is¬†3000 cubic units.
=========================
Height: 30
Width: 10
Breadth: 10
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
---------------------------------------------
Box 3
Height: 300
Width: 10
Breadth: 10
```

In [8]:
class box:
    def __init__(self, hwb):
        self.height = hwb[0]
        self.width = hwb[1]
        self.breadth = hwb[2]
        print(f'Creating a Box!\nVolume of the box is {self.height*self.width*self.breadth} cubic units.')
print("Box 1")
b1 = box([10,10,10])
print("=========================")
print("Height:", b1.height)
print("Width:", b1.width)
print("Breadth:", b1.breadth)
print("-------------------------")
print("Box 2")
b2 = box((30,10,10))
print("=========================")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
b2.height = 300
print("Updating Box 2!")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
print("-------------------------")
print("Box 3")
b3 = b2
print("Height:", b3.height)
print("Width:", b3.width)
print("Breadth:", b3.breadth)

Box 1
Creating a Box!
Volume of the box is 1000 cubic units.
=========================
Height: 10
Width: 10
Breadth: 10
-------------------------
Box 2
Creating a Box!
Volume of the box is 3000 cubic units.
=========================
Height: 30
Width: 10
Breadth: 10
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
-------------------------
Box 3
Height: 300
Width: 10
Breadth: 10

7. Design the required class from the given code and the outputs.

[You are not allowed to change the code below]

Hint:

Number of the border characters for the top and the bottom¬†
= 1¬†
   + Number of spaces between the left side border and the first character of the button name¬†
   + Length of the button name¬†
   + Number of spaces between the right side border and the last character of the button name¬†
   + 1

NOTE: Don‚Äôt count the space or any character from the button representation to solve this problem.

```
#Write your class code here

word = "CANCEL"¬†¬†
spaces = 10
border = 'x'
b1 = buttons(word, spaces, border)
print("=======================================================")
b2 = buttons("Notify",3, '!')
print("=======================================================")
b3 = buttons('SAVE PROGRESS', 5, '$')

Output:¬†

CANCEL Button Specifications:
Button name: CANCEL
Number of the border characters for the top and the bottom: 28
Number of spaces between the left side border and the first character of the button name: 10
Number of spaces between the right side border and the last character of the button name: 10
Characters representing the borders: x

xxxxxxxxxxxxxxxxxxxxxxxxxxxx
x          CANCEL          x
xxxxxxxxxxxxxxxxxxxxxxxxxxxx
=========================================================
Notify Button Specifications:
Button name: Notify
Number of the border characters for the top and the bottom: 14
Number of spaces between the left side border and the first character of the button name: 3
Number of spaces between the right side border and the last character of the button name: 3
Characters representing the borders: !

!!!!!!!!!!!!!!
!   Notify   !
!!!!!!!!!!!!!!
=========================================================
SAVE PROGRESS Button Specifications:
Button name: SAVE PROGRESS
Number of the border characters for the top and the bottom: 25
Number of spaces between the left side border and the first character of the button name: 5
Number of spaces between the right side border and the last character of the button name: 5
Characters representing the borders: $

$$$$$$$$$$$$$$$$$$$$$$$$$
$     SAVE PROGRESS     $
$$$$$$$$$$$$$$$$$$$$$$$$$
```

In [9]:
class buttons:
    def __init__(self,word, spaces, border):
        self.word = word
        self.spaces = spaces
        self.border = border
        sum = 2+self.spaces*2+len(self.word)
        print(f'{self.word} Button Specifications:')
        print(f'Button Name: {self.word}')
        print(f'Number of the border characters for the top and the bottom: {sum}')
        print(f'Number of spaces between the left side border and the first character of the button name: {self.spaces}')
        print(f'Number of spaces between the right side border and the last character of the button name: {self.spaces}')
        print(f'Characters representing the borders: {self.word}')
        print(f"\n{self.border*sum}\n{self.border+' '*self.spaces+self.word+' '*self.spaces+self.border}\n{self.border*sum}")
word = "CANCEL"
spaces = 10
border = 'x'
b1 = buttons(word, spaces, border)
print("=======================================================")
b2 = buttons("Notify",3, '!')
print("=======================================================")
b3 = buttons('SAVE PROGRESS', 5, '$')

CANCEL Button Specifications:
Button Name: CANCEL
Number of the border characters for the top and the bottom: 28
Number of spaces between the left side border and the first character of the button name: 10
Number of spaces between the right side border and the last character of the button name: 10
Characters representing the borders: CANCEL

xxxxxxxxxxxxxxxxxxxxxxxxxxxx
x          CANCEL          x
xxxxxxxxxxxxxxxxxxxxxxxxxxxx
=======================================================
Notify Button Specifications:
Button Name: Notify
Number of the border characters for the top and the bottom: 14
Number of spaces between the left side border and the first character of the button name: 3
Number of spaces between the right side border and the last character of the button name: 3
Characters representing the borders: Notify

!!!!!!!!!!!!!!
!   Notify   !
!!!!!!!!!!!!!!
=======================================================
SAVE PROGRESS Button Specifications:
Button Name: SAVE PROGRESS
Number of the border characters for the top and the bottom: 25
Number of spaces between the left side border and the first character of the button name: 5
Number of spaces between the right side border and the last character of the button name: 5
Characters representing the borders: SAVE PROGRESS

$$$$$$$$$$$$$$$$$$$$$$$$$
$     SAVE PROGRESS     $
$$$$$$$$$$$$$$$$$$$$$$$$$

8. Suppose your little sibling wants your help to check his math homework. He is done with his homework but wants you to see if all his results are correct. Since the student with all correct results gets 3 stars. However, you want your brother to check this on his own. So, you design a calculator for him in python. You could have given your scientific calculator but you wanted to give him a basic calculator and also wanted to see if you can even design one.

Subtasks:

1.Create a class called Calculator.

2.Your class shall have 1 constructor and 4 methods, namely add, subtract, multiply and divide.

3.Now, create an object of your class. After creating an object, it should print ‚ÄúLet‚Äôs Calculate!‚Äù

4.Then take 3 inputs from the user: first value, operator, second value

5.Now based on the given operator, call the required method and print the result.

```
Sample Input:
1
+
2
Sample Output:
Let‚Äôs Calculate!
Value 1: 1
Operator: +
Value 2: 2
Result:¬† 3
```

In [10]:
class Calculator:
    def __init__ (self):
        pass
    def Calculate(self,val1,op,val2):
        self.val1 = val1
        self.op = op
        self.val2 = val2
        val = 0
        print("Let's Calculate!")
        print(f'Value 1: {self.val1}')
        print(f'Operator: {self.op}')
        print(f'Value 2: {self.val2}')
        if self.op == '+':
            print(f'Result: {self.add()}')
        elif self.op == '-':
            print(f'Result: {self.subtract()}')
        elif self.op == '*':
            print(f'Result: {self.multiply()}')
        else:
            print(f'Result: {self.divide()}')
    def add(self):
        val = self.val1 + self.val2
        return val
    def subtract(self):
        val = self.val1 - self.val2
        return val
    def multiply(self):
        val = self.val1 * self.val2
        return val
    def divide(self):
        val = self.val1 / self.val2
        return val
s = Calculator()
val1 = int(input())
op = input()
val2 = int(input())
s.Calculate(val1,op,val2)

1
+
2
Let's Calculate!
Value 1: 1
Operator: +
Value 2: 2
Result: 3

9. Implement the design of the Patient class so that the following output is produced:
[For BMI, the formula is BMI = weight/height^2, where weight is in kg and height in meters] 
Driver Code	Output

```
# Write your code here

p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Output:
Name: A
Age: 55
Weight: 63.0 kg
Height: 158.0 cm
BMI: 25.236340330075304
====================
Name: B
Age: 53
Weight: 61.0 kg
Height: 149.0 cm
BMI: 27.476239809017613
```¬†

In [11]:
class Patient:
    def __init__(self,name, age, weight, height):
        self.name = name
        self.age = age
        self.weight = weight
        self.height = height
    def printDetails(self):
        print(f'Name: {self.name}')
        print(f'Age: {self.age}')
        print(f'Weight: {self.weight} kg')
        print(f'Height: {self.height} cm')
        print(f'BMI: {self.weight/((self.height/100)**2)}')
p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name: A
Age: 55
Weight: 63.0 kg
Height: 158.0 cm
BMI: 25.236340330075304
====================
Name: B
Age: 53
Weight: 61.0 kg
Height: 149.0 cm
BMI: 27.476239809017613

10. Design a ‚ÄúVehicle‚Äù class. A vehicle assumes that the whole world is a 2-dimensional graph paper. It maintains its x and y coordinates (both are integers). Any new object created of the Vehicle class will always start at the coordinates (0,0). 

It must have methods to move up, down, left, right and a print_position() method for printing the current coordinate.

Note: All moves are 1 step. That means a single call to any move method changes the value of either x or y or both by 1.

[You are not allowed to change the code below]

```
# Write your class here

car = Vehicle()
car.print_position()
car.moveUp()
car.print_position()
car.moveLeft()
car.print_position()
car.moveDown()
car.print_position()
car.moveRight()

OUTPUT
(0,0)
(0,1)
(-1,1)
(-1,0)
```

In [12]:
class Vehicle:
    def __init__(self):
        self.x = 0
        self.y = 0
    def print_position(self):
        print((self.x, self.y))
    def moveUp(self):
        self.y+=1
    def moveLeft(self):
        self.x-=1
    def moveDown(self):
        self.y-=1
    def moveRight(self):
        self.x+=1
car = Vehicle()
car.print_position()
car.moveUp()
car.print_position()
car.moveLeft()
car.print_position()
car.moveDown()
car.print_position()
car.moveRight()

(0, 0)
(0, 1)
(-1, 1)
(-1, 0)

11. Design a class Shape for the given code below.

* Write a class Shape.

* Write the required constructor that takes 3 parameters and initialize the instance variables accordingly.

* Write a method area() that prints the area.

Hint: the area method can calculate only for the shapes: Triangle, Rectangle, Rhombus, and Square. So, you have to use conditions inside this method

For this task, assume that --

* for a triangle, the arguments passed are the base and height
* for a rhombus, the arguments passed are the diagonals
* for a square or rectangle, the arguments passed are the sides.

```
# Write your code here

Driver Code

triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Output

Area: 125.0
==========================
Area: 100
==========================
Area: 225.0
==========================
Area: 450
==========================
Area: Shape unknown
```

In [13]:
class Shape:
  def __init__(self,typ,b,h):
    self.typ = typ
    self.side1 = b
    self.side2 = h
  def area(self):
    if self.typ == 'Triangle' or self.typ == 'Rhombus':
      print(f'Area: {0.5*self.side1*self.side2}')
    elif self.typ == 'Square' or self.typ == 'Rectangle':
      print(f'Area: {self.side1*self.side2}')
    else:
      print(f'Area: Shape Unknown')
triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
==========================
Area: 100
==========================
Area: 225.0
==========================
Area: 450
==========================
Area: Shape Unknown

12. Implement the design of the Calculator class so that the following output is produced:

```
Driver Code

# Write your code here

c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Output

Calculator is ready!
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25
```

In [14]:
class Calculator:
  def __init__(self):
    print('Calculator is ready!')
  def calculate(self, val1, val2, sign):
    self.value1 = val1
    self.value2 = val2
    self.sign = sign
    sum = 0
    if self.sign == '+':
      sum = self.value1 + self.value2
    elif self.sign == '-':
      sum = self.value1 - self.value2
    elif self.sign == '*':
      sum = self.value1 * self.value2
    else:
      sum = self.value1 / self.value2
    return sum
  def showCalculation(self):
    print(f'{self.value1} {self.sign} {self.value2} = {val}')
c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready!
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25

13. Design the Programmer class in such a way so that the following code provides the expected output.

Hint:

o Write the constructor with appropriate printing and multiple arguments.

o Write the addExp() method with appropriate printing and argument.

o Write the printDetails() method

[You are not allowed to change the code below]

```
# Write your code here.
p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

OUTPUT:
Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10 years.
--------------------------      
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7 years.
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4 years.
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9 years.
```

In [15]:
class Programmer:
    def __init__(self, name, language, experience):
        self.name = name
        self.language = language
        self.experience = experience
        print('Horray! A new programmer is born')
    def printDetails(self):
        print(f'Name: {self.name}')
        print(f'Language: {self.language}')
        print(f'Experience: {self.experience}')
    def addExp(self,add):
        self.add = add
        self.experience += self.add
        print(f'Updating experience of {self.name}')
p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9

#LAB4


1. Write a class called Customer with the required constructor and methods to get the following output. 

Subtasks:

1.Create a class called Customer.

2.Create the required constructor.

3.Create a method called greet that works if no arguments are passed or if one argument is passed. (Hint: You may need to use the keyword NONE)

4.Create a method called purchase that can take as many arguments as the user wants to give.

[You are not allowed to change the code below]

```
# Write your codes for subtasks 1-4 here.

customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

OUTPUT:
Hello!¬†
Sam, you purchased 3 item(s):¬†
chips
chocolate
orange juice
-----------------------------
Hello David!
David, you purchased 1 item(s):¬†
orange juice
```

In [1]:
class Customer:
    def __init__(self,name):
        self.name = name
    def greet(self,cust = ''):
        self.cust = cust
        if self.cust == '':
            print('Hello!')
        else:
            print(f'Hello {self.cust}!')
    def purchase(self,*n):
        print(f'{self.name}, you purchased {len(n)} item(s):')
        for i in n:
            print(i)
customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello!
Sam, you purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello David!
David, you purchased 1 item(s):
orange juice

2. The Giant Panda Protection and Research Center in the Sichuan province of southwest China, actually employs a category of workers known as panda nannies. The primary responsibility is to play with adorable panda cubs and name them, determine gender, keep track of their age and hours they sleep. So being a programmer panda nanny, you will create a code that will do all these works for you.

¬†
1.Create a class named Panda and also write the constructor.

2.Access the instance attributes and print them in the given format.

3.Call instance methods to keep track of their daily hours of sleep.

4.Suppose consulting with other panda nannies you have set some criteria based on which you will make their diet plans. The criteria are:

¬†¬†¬†¬†¬†¬†   ¬†** Mixed Veggies for pandas having 3 to 5 hours (included) of sleep daily.

¬†¬†¬†¬†¬†   ¬†** Eggplant & Tofu for pandas having 6 to 8 hours (included) of sleep daily.

¬†¬†¬†¬†¬†¬†   ** Broccoli Chicken for pandas having 9 to 11 hours (included) of sleep daily.

¬†¬†¬†¬†    ¬†** Lastly if no arguments are passed then just give it bamboo leaves.

Now handle this problem modifying the method designed to keep track of their daily hours of sleep and determine diet plan using method overloading.

[You are not allowed to change the code below]

```
#Write your code here for subtasks 1-4.
¬†
panda1 = Panda("Kunfu","Male", 5)
panda2=Panda("Pan Pan","Female",3)
panda3=Panda("Ming Ming","Female",8)

print("{} is a {} Panda Bear who is {} years old".format(panda1.name,panda1.gender,panda1.age))

print("{} is a {} Panda Bear who is {} years old".format(panda2.name,panda2.gender,panda2.age))

print("{} is a {} Panda Bear who is {} years old".format(panda3.name,panda3.gender,panda3.age))
print("===========================")
print(panda2.sleep(10))
print(panda1.sleep(4))
print(panda3.sleep())
     
OUTPUT:¬†
Kunfu is a Male Panda Bear who is 5 years old
Pan Pan is a Female Panda Bear who is 3 years old
Ming Ming is a Female Panda Bear who is 8 years old
===========================
Pan Pan sleeps 10 hours daily and should have Broccoli Chicken
Kunfu sleeps 4 hours daily and should have Mixed Veggies
Ming Ming's duration is unknown thus should have only¬† bamboo leaves
```

In [2]:
class Panda:
    def __init__(self, name, gender, age):
        self.name = name
        self.gender = gender
        self.age = age
    def sleep(self,integer = 0):
        self.integer = integer
        if self.integer >= 3 and self.integer <= 5:
            return f'{self.name} sleeps {self.integer} daily and should have Mixed Veggies'
        elif self.integer >= 6 and self.integer <= 8:
            return f'{self.name} sleeps {self.integer} daily and should have Eggplant & Tofu'
        elif self.integer >= 9 and self.integer <= 11:
            return f'{self.name} sleeps {self.integer} daily and should have Broccoli Chicken'
        elif self.integer == 0:
            return f"{self.name}'s duration is unknown thus should have only¬†bamboo leaves"
panda1 = Panda("Kunfu","Male", 5)
panda2=Panda("Pan Pan","Female",3)
panda3=Panda("Ming Ming","Female",8)

print("{} is a {} Panda Bear who is {} years old".format(panda1.name,panda1.gender,panda1.age))

print("{} is a {} Panda Bear who is {} years old".format(panda2.name,panda2.gender,panda2.age))

print("{} is a {} Panda Bear who is {} years old".format(panda3.name,panda3.gender,panda3.age))
print("===========================")
print(panda2.sleep(10))
print(panda1.sleep(4))
print(panda3.sleep())

Kunfu is a Male Panda Bear who is 5 years old
Pan Pan is a Female Panda Bear who is 3 years old
Ming Ming is a Female Panda Bear who is 8 years old
===========================
Pan Pan sleeps 10 daily and should have Broccoli Chicken
Kunfu sleeps 4 daily and should have Mixed Veggies
Ming Ming's duration is unknown thus should have only¬†bamboo leaves

3. Analyze the given code below to write Cat class to get the output as shown.

Hints:

‚óèRemember, the constructor is a special method. Here, you have to deal with constructor overloading which is similar to method overloading.

‚óèYou may need to use the keyword None

‚óèYour class should have 2 variables

[You are not allowed to change the code below]

```
#Write your code here
¬†
c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

OUTPUT
White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Blue cat is sitting
Purple cat is jumping
```

In [3]:
class Cat:
    def __init__(self, color='White', doing='sitting'):
        self.color = color
        self.doing = doing
    def printCat(self):
        print(f'{self.color} cat is {self.doing}')
    def changeColor(self, changecolor):
        self.color = changecolor
c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Blue cat is sitting
Purple cat is jumping

#QUIZ

**Quiz 01(SEC01)**

Write a python function that will take a string as a parameter and returns a student database for each student as a form of a dictionary as given in the sample output.

Note: Three student's information (Name, ID, Department) is given sequentially. The key order of output dictionary may vary.


```
Sample input                                          Sample output

given_string = "Nirob 17021211 CSE Sohel              { 'CSE': {'Name': 'Nirob', 'ID': 17021211},
18204565 EEE Sumaiya 20119675 MNS"                    'EEE': {'Name': 'Sohel', 'ID': 18204565},
                                                      'MNS': {'Name': 'Sumaiya', 'ID': 20119675} }
```

In [ ]:
def student_db(given_string = "Nirob 1353663 CSE Shoel 1727727 EEE Sumaiya 3676667 MNS"):
  d = {}
  gs = given_string.split()
  for i in range(0,len(gs)-1,3):
    d[gs[i+2]] = {'Name' : gs[i], 'ID' : int(gs[i+1])}
  return d
print(student_db())

{'CSE': {'Name': 'Nirob', 'ID': 1353663}, 'EEE': {'Name': 'Shoel', 'ID': 1727727}, 'MNS': {'Name': 'Sumaiya', 'ID': 3676667}}

**Quiz 01(SEC27)**

**SET_A**

Write a python program that takes a string from the user and creates a dictionary. The dictionary's keys will be each character's categories (Letters, Digits, Special Characters), and the values will be a list/tuple of those characters. See the sample input output below to understand the question better. 

```
Sample Input 1:
"82  *  92  =  7544"
Sample Output 1:
{'Digits': (8, 2, 9, 2, 7, 5, 4, 4), 'Special Characters': ('*', '='), 'Letters': []}
Sample Input 2:
"CSE110  was  fun" 
Sample output 2:
{'Letters': ('C', 'S', 'E', 'w', 'a', 's', 'f', 'u', 'n'), 'Digits': (1, 1, 0), 'Special Characters': []}
```

**Quiz 01(SEC27)**

**SET_B**


Write a function called less_than_average which takes a list of strings as a parameter and returns the average length of the strings and a list of strings which are shorter than the average length. Finally, print the returned result in the function call. No need to take user inputs.

```
Sample Input 1:
print(less_than_average(["I","love","Programming","in","Python"]))
Sample Output 1:
(4.8, ['I', 'love', 'in'])


Sample Input 2:
print(less_than_average(["CSE111's","Final","Examination","is","extremely","easy"]))
Sample Output 2:
(6.5, ['Final', 'is', 'easy'])

```    
Explanation 1: Here the length of "I" is 1, "love" is 4, "Programming" is 11, "in" is 2 and "Python" is 6, so the average of these 5 strings = (1+4+11+2+6)/5 = 4.8. Hence, the strings "I"-length 1, "love"-length 4, and "in"-length 2 are shorter than the average of 4.8.

Explanation 2: Here average of these 6 strings= (8+5+11+2+9+4)/6 = 6.5. Hence, the strings "Final"-length 5, "is"-length 2, and "easy"-length 4 are shorter than the average of 6.5.